{
  "openapi": "3.0.0",
  "info": {
    "title": "Asana (curated)",
    "version": "1.0",
    "description": "Curated subset (create/get/update a task) extracted from Asana’s real published OpenAPI document at github.com/Asana/openapi (defs/asana_oas.yaml). Every operation, parameter, and schema below is copied verbatim from the upstream 3MB document — only the transitive closure of schemas these 3 operations actually reference is included."
  },
  "servers": [
    {
      "url": "https://app.asana.com/api/1.0",
      "description": "Main endpoint."
    }
  ],
  "paths": {
    "/tasks": {
      "post": {
        "summary": "Create a task",
        "description": "<b>Required scope: </b><code>tasks:write</code>\n\nCreating a new task is as easy as POSTing to the `/tasks` endpoint with a\ndata block containing the fields you’d like to set on the task. Any\nunspecified fields will take on default values.\n\nEvery task is required to be created in a specific workspace, and this\nworkspace cannot be changed once set. The workspace need not be set\nexplicitly if you specify `projects` or a `parent` task instead.",
        "tags": [
          "Tasks"
        ],
        "operationId": "createTask",
        "parameters": [
          {
            "name": "opt_fields",
            "in": "query",
            "description": "This endpoint returns a resource which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include. Properties can include nested fields. To learn more, see the [input/output options guide](/docs/inputoutput-options#selecting-nested-fields).",
            "required": false,
            "example": [
              "actual_time_minutes",
              "approval_status",
              "assigned_by",
              "assigned_by.name",
              "assignee",
              "assignee.name",
              "assignee_section",
              "assignee_section.name",
              "assignee_status",
              "completed",
              "completed_at",
              "completed_by",
              "completed_by.name",
              "created_at",
              "created_by",
              "custom_fields",
              "custom_fields.asana_created_field",
              "custom_fields.created_by",
              "custom_fields.created_by.name",
              "custom_fields.currency_code",
              "custom_fields.custom_label",
              "custom_fields.custom_label_position",
              "custom_fields.date_value",
              "custom_fields.date_value.date",
              "custom_fields.date_value.date_time",
              "custom_fields.default_access_level",
              "custom_fields.description",
              "custom_fields.display_value",
              "custom_fields.enabled",
              "custom_fields.enum_options",
              "custom_fields.enum_options.color",
              "custom_fields.enum_options.enabled",
              "custom_fields.enum_options.name",
              "custom_fields.enum_value",
              "custom_fields.enum_value.color",
              "custom_fields.enum_value.enabled",
              "custom_fields.enum_value.name",
              "custom_fields.format",
              "custom_fields.has_notifications_enabled",
              "custom_fields.html_text_value",
              "custom_fields.id_prefix",
              "custom_fields.input_restrictions",
              "custom_fields.is_formula_field",
              "custom_fields.is_global_to_workspace",
              "custom_fields.is_value_read_only",
              "custom_fields.multi_enum_values",
              "custom_fields.multi_enum_values.color",
              "custom_fields.multi_enum_values.enabled",
              "custom_fields.multi_enum_values.name",
              "custom_fields.name",
              "custom_fields.number_value",
              "custom_fields.people_value",
              "custom_fields.people_value.name",
              "custom_fields.precision",
              "custom_fields.privacy_setting",
              "custom_fields.reference_value",
              "custom_fields.reference_value.name",
              "custom_fields.representation_type",
              "custom_fields.resource_subtype",
              "custom_fields.text_value",
              "custom_fields.type",
              "custom_type",
              "custom_type.asana_created_type_identifier",
              "custom_type.name",
              "custom_type_status_option",
              "custom_type_status_option.name",
              "dependencies",
              "dependents",
              "due_at",
              "due_on",
              "effective_memberships",
              "external",
              "external.data",
              "followers",
              "followers.name",
              "hearted",
              "hearts",
              "hearts.user",
              "hearts.user.name",
              "html_notes",
              "is_rendered_as_separator",
              "liked",
              "likes",
              "likes.user",
              "likes.user.name",
              "memberships",
              "memberships.project",
              "memberships.project.name",
              "memberships.project.resource_subtype",
              "memberships.section",
              "memberships.section.name",
              "modified_at",
              "name",
              "notes",
              "num_hearts",
              "num_likes",
              "num_subtasks",
              "parent",
              "parent.created_by",
              "parent.name",
              "parent.resource_subtype",
              "permalink_url",
              "projects",
              "projects.name",
              "projects.resource_subtype",
              "resource_subtype",
              "start_at",
              "start_on",
              "tags",
              "tags.name",
              "workspace",
              "workspace.name"
            ],
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "actual_time_minutes",
                  "approval_status",
                  "assigned_by",
                  "assigned_by.name",
                  "assignee",
                  "assignee.name",
                  "assignee_section",
                  "assignee_section.name",
                  "assignee_status",
                  "completed",
                  "completed_at",
                  "completed_by",
                  "completed_by.name",
                  "created_at",
                  "created_by",
                  "custom_fields",
                  "custom_fields.asana_created_field",
                  "custom_fields.created_by",
                  "custom_fields.created_by.name",
                  "custom_fields.currency_code",
                  "custom_fields.custom_label",
                  "custom_fields.custom_label_position",
                  "custom_fields.date_value",
                  "custom_fields.date_value.date",
                  "custom_fields.date_value.date_time",
                  "custom_fields.default_access_level",
                  "custom_fields.description",
                  "custom_fields.display_value",
                  "custom_fields.enabled",
                  "custom_fields.enum_options",
                  "custom_fields.enum_options.color",
                  "custom_fields.enum_options.enabled",
                  "custom_fields.enum_options.name",
                  "custom_fields.enum_value",
                  "custom_fields.enum_value.color",
                  "custom_fields.enum_value.enabled",
                  "custom_fields.enum_value.name",
                  "custom_fields.format",
                  "custom_fields.has_notifications_enabled",
                  "custom_fields.html_text_value",
                  "custom_fields.id_prefix",
                  "custom_fields.input_restrictions",
                  "custom_fields.is_formula_field",
                  "custom_fields.is_global_to_workspace",
                  "custom_fields.is_value_read_only",
                  "custom_fields.multi_enum_values",
                  "custom_fields.multi_enum_values.color",
                  "custom_fields.multi_enum_values.enabled",
                  "custom_fields.multi_enum_values.name",
                  "custom_fields.name",
                  "custom_fields.number_value",
                  "custom_fields.people_value",
                  "custom_fields.people_value.name",
                  "custom_fields.precision",
                  "custom_fields.privacy_setting",
                  "custom_fields.reference_value",
                  "custom_fields.reference_value.name",
                  "custom_fields.representation_type",
                  "custom_fields.resource_subtype",
                  "custom_fields.text_value",
                  "custom_fields.type",
                  "custom_type",
                  "custom_type.asana_created_type_identifier",
                  "custom_type.name",
                  "custom_type_status_option",
                  "custom_type_status_option.name",
                  "dependencies",
                  "dependents",
                  "due_at",
                  "due_on",
                  "effective_memberships",
                  "external",
                  "external.data",
                  "followers",
                  "followers.name",
                  "hearted",
                  "hearts",
                  "hearts.user",
                  "hearts.user.name",
                  "html_notes",
                  "is_rendered_as_separator",
                  "liked",
                  "likes",
                  "likes.user",
                  "likes.user.name",
                  "memberships",
                  "memberships.project",
                  "memberships.project.name",
                  "memberships.project.resource_subtype",
                  "memberships.section",
                  "memberships.section.name",
                  "modified_at",
                  "name",
                  "notes",
                  "num_hearts",
                  "num_likes",
                  "num_subtasks",
                  "parent",
                  "parent.created_by",
                  "parent.name",
                  "parent.resource_subtype",
                  "permalink_url",
                  "projects",
                  "projects.name",
                  "projects.resource_subtype",
                  "resource_subtype",
                  "start_at",
                  "start_on",
                  "tags",
                  "tags.name",
                  "workspace",
                  "workspace.name"
                ]
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "requestBody": {
          "description": "The task to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/TaskCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new task.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TaskResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth2": [
              "tasks:write"
            ]
          }
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "java",
              "install": "<dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>",
              "code": "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nTask result = client.tasks.createTask()\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
            },
            {
              "language": "node",
              "install": "npm install asana",
              "code": "const Asana = require('asana');\n\nlet client = new Asana.ApiClient();\nclient.authentications.token.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet tasksApiInstance = new Asana.TasksApi(client);\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The task to create.\nlet opts = { \n    'opt_fields': \"actual_time_minutes,approval_status,assigned_by,assigned_by.name,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.default_access_level,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.html_text_value,custom_fields.id_prefix,custom_fields.input_restrictions,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.privacy_setting,custom_fields.reference_value,custom_fields.reference_value.name,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,custom_type,custom_type.asana_created_type_identifier,custom_type.name,custom_type_status_option,custom_type_status_option.name,dependencies,dependents,due_at,due_on,effective_memberships,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.project.resource_subtype,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,projects.resource_subtype,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\"\n};\ntasksApiInstance.createTask(body, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "name": "node-sdk-v3"
            },
            {
              "language": "node",
              "install": "npm install asana@1.0.5",
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasks.createTask({field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "name": "node-sdk-v1"
            },
            {
              "language": "python",
              "install": "pip install asana",
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntasks_api_instance = asana.TasksApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | The task to create.\nopts = {\n    'opt_fields': \"actual_time_minutes,approval_status,assigned_by,assigned_by.name,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.default_access_level,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.html_text_value,custom_fields.id_prefix,custom_fields.input_restrictions,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.privacy_setting,custom_fields.reference_value,custom_fields.reference_value.name,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,custom_type,custom_type.asana_created_type_identifier,custom_type.name,custom_type_status_option,custom_type_status_option.name,dependencies,dependents,due_at,due_on,effective_memberships,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.project.resource_subtype,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,projects.resource_subtype,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\", # list[str] | This endpoint returns a resource which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Create a task\n    api_response = tasks_api_instance.create_task(body, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TasksApi->create_task: %s\\n\" % e)",
              "name": "python-sdk-v5"
            },
            {
              "language": "python",
              "install": "pip install asana==3.2.3",
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.tasks.create_task({'field': 'value', 'field': 'value'}, opt_pretty=True)",
              "name": "python-sdk-v3"
            },
            {
              "language": "php",
              "install": "composer require asana/asana",
              "code": "<?php\nrequire 'vendor/autoload.php';\n\n$client = Asana\\Client::accessToken('PERSONAL_ACCESS_TOKEN');\n\n$result = $client->tasks->createTask(array('field' => 'value', 'field' => 'value'), array('opt_pretty' => 'true'))"
            },
            {
              "language": "ruby",
              "install": "gem install asana",
              "code": "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.tasks.create_task(field: \"value\", field: \"value\", options: {pretty: true})"
            }
          ]
        },
        "x-integrelli-capability": "create_task"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/pretty"
        }
      ]
    },
    "/tasks/{task_gid}": {
      "get": {
        "summary": "Get a task",
        "description": "<b>Required scope: </b><code>tasks:read</code>\n\n<table>\n  <tr>\n    <th>Field</th>\n    <th>Required Scope</th>\n  </tr>\n  <tr>\n    <td><code>memberships</code></td>\n    <td><code>projects:read</code>, <code>project_sections:read</code></td>\n  </tr>\n  <tr>\n    <td><code>effective_memberships</code></td>\n    <td><code>projects:read</code>, <code>project_sections:read</code></td>\n  </tr>\n  <tr>\n    <td><code>custom_type</code></td>\n    <td><code>custom_types:read</code></td>\n  </tr>\n  <tr>\n    <td><code>custom_type_status_option</code></td>\n    <td><code>custom_types:read</code></td>\n  </tr>\n  <tr>\n    <td><code>actual_time_minutes</code></td>\n    <td><code>time_tracking_entries:read</code></td>\n  </tr>\n</table>\n\nReturns the complete task record for a single task.",
        "tags": [
          "Tasks"
        ],
        "operationId": "getTask",
        "parameters": [
          {
            "name": "opt_fields",
            "in": "query",
            "description": "This endpoint returns a resource which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include. Properties can include nested fields. To learn more, see the [input/output options guide](/docs/inputoutput-options#selecting-nested-fields).",
            "required": false,
            "example": [
              "actual_time_minutes",
              "approval_status",
              "assigned_by",
              "assigned_by.name",
              "assignee",
              "assignee.name",
              "assignee_section",
              "assignee_section.name",
              "assignee_status",
              "completed",
              "completed_at",
              "completed_by",
              "completed_by.name",
              "created_at",
              "created_by",
              "custom_fields",
              "custom_fields.asana_created_field",
              "custom_fields.created_by",
              "custom_fields.created_by.name",
              "custom_fields.currency_code",
              "custom_fields.custom_label",
              "custom_fields.custom_label_position",
              "custom_fields.date_value",
              "custom_fields.date_value.date",
              "custom_fields.date_value.date_time",
              "custom_fields.default_access_level",
              "custom_fields.description",
              "custom_fields.display_value",
              "custom_fields.enabled",
              "custom_fields.enum_options",
              "custom_fields.enum_options.color",
              "custom_fields.enum_options.enabled",
              "custom_fields.enum_options.name",
              "custom_fields.enum_value",
              "custom_fields.enum_value.color",
              "custom_fields.enum_value.enabled",
              "custom_fields.enum_value.name",
              "custom_fields.format",
              "custom_fields.has_notifications_enabled",
              "custom_fields.html_text_value",
              "custom_fields.id_prefix",
              "custom_fields.input_restrictions",
              "custom_fields.is_formula_field",
              "custom_fields.is_global_to_workspace",
              "custom_fields.is_value_read_only",
              "custom_fields.multi_enum_values",
              "custom_fields.multi_enum_values.color",
              "custom_fields.multi_enum_values.enabled",
              "custom_fields.multi_enum_values.name",
              "custom_fields.name",
              "custom_fields.number_value",
              "custom_fields.people_value",
              "custom_fields.people_value.name",
              "custom_fields.precision",
              "custom_fields.privacy_setting",
              "custom_fields.reference_value",
              "custom_fields.reference_value.name",
              "custom_fields.representation_type",
              "custom_fields.resource_subtype",
              "custom_fields.text_value",
              "custom_fields.type",
              "custom_type",
              "custom_type.asana_created_type_identifier",
              "custom_type.name",
              "custom_type_status_option",
              "custom_type_status_option.name",
              "dependencies",
              "dependents",
              "due_at",
              "due_on",
              "effective_memberships",
              "external",
              "external.data",
              "followers",
              "followers.name",
              "hearted",
              "hearts",
              "hearts.user",
              "hearts.user.name",
              "html_notes",
              "is_rendered_as_separator",
              "liked",
              "likes",
              "likes.user",
              "likes.user.name",
              "memberships",
              "memberships.project",
              "memberships.project.name",
              "memberships.project.resource_subtype",
              "memberships.section",
              "memberships.section.name",
              "modified_at",
              "name",
              "notes",
              "num_hearts",
              "num_likes",
              "num_subtasks",
              "parent",
              "parent.created_by",
              "parent.name",
              "parent.resource_subtype",
              "permalink_url",
              "projects",
              "projects.name",
              "projects.resource_subtype",
              "resource_subtype",
              "start_at",
              "start_on",
              "tags",
              "tags.name",
              "workspace",
              "workspace.name"
            ],
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "actual_time_minutes",
                  "approval_status",
                  "assigned_by",
                  "assigned_by.name",
                  "assignee",
                  "assignee.name",
                  "assignee_section",
                  "assignee_section.name",
                  "assignee_status",
                  "completed",
                  "completed_at",
                  "completed_by",
                  "completed_by.name",
                  "created_at",
                  "created_by",
                  "custom_fields",
                  "custom_fields.asana_created_field",
                  "custom_fields.created_by",
                  "custom_fields.created_by.name",
                  "custom_fields.currency_code",
                  "custom_fields.custom_label",
                  "custom_fields.custom_label_position",
                  "custom_fields.date_value",
                  "custom_fields.date_value.date",
                  "custom_fields.date_value.date_time",
                  "custom_fields.default_access_level",
                  "custom_fields.description",
                  "custom_fields.display_value",
                  "custom_fields.enabled",
                  "custom_fields.enum_options",
                  "custom_fields.enum_options.color",
                  "custom_fields.enum_options.enabled",
                  "custom_fields.enum_options.name",
                  "custom_fields.enum_value",
                  "custom_fields.enum_value.color",
                  "custom_fields.enum_value.enabled",
                  "custom_fields.enum_value.name",
                  "custom_fields.format",
                  "custom_fields.has_notifications_enabled",
                  "custom_fields.html_text_value",
                  "custom_fields.id_prefix",
                  "custom_fields.input_restrictions",
                  "custom_fields.is_formula_field",
                  "custom_fields.is_global_to_workspace",
                  "custom_fields.is_value_read_only",
                  "custom_fields.multi_enum_values",
                  "custom_fields.multi_enum_values.color",
                  "custom_fields.multi_enum_values.enabled",
                  "custom_fields.multi_enum_values.name",
                  "custom_fields.name",
                  "custom_fields.number_value",
                  "custom_fields.people_value",
                  "custom_fields.people_value.name",
                  "custom_fields.precision",
                  "custom_fields.privacy_setting",
                  "custom_fields.reference_value",
                  "custom_fields.reference_value.name",
                  "custom_fields.representation_type",
                  "custom_fields.resource_subtype",
                  "custom_fields.text_value",
                  "custom_fields.type",
                  "custom_type",
                  "custom_type.asana_created_type_identifier",
                  "custom_type.name",
                  "custom_type_status_option",
                  "custom_type_status_option.name",
                  "dependencies",
                  "dependents",
                  "due_at",
                  "due_on",
                  "effective_memberships",
                  "external",
                  "external.data",
                  "followers",
                  "followers.name",
                  "hearted",
                  "hearts",
                  "hearts.user",
                  "hearts.user.name",
                  "html_notes",
                  "is_rendered_as_separator",
                  "liked",
                  "likes",
                  "likes.user",
                  "likes.user.name",
                  "memberships",
                  "memberships.project",
                  "memberships.project.name",
                  "memberships.project.resource_subtype",
                  "memberships.section",
                  "memberships.section.name",
                  "modified_at",
                  "name",
                  "notes",
                  "num_hearts",
                  "num_likes",
                  "num_subtasks",
                  "parent",
                  "parent.created_by",
                  "parent.name",
                  "parent.resource_subtype",
                  "permalink_url",
                  "projects",
                  "projects.name",
                  "projects.resource_subtype",
                  "resource_subtype",
                  "start_at",
                  "start_on",
                  "tags",
                  "tags.name",
                  "workspace",
                  "workspace.name"
                ]
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the specified task.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TaskResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth2": [
              "tasks:read"
            ]
          }
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "java",
              "install": "<dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>",
              "code": "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nTask result = client.tasks.getTask(taskGid)\n    .option(\"pretty\", true)\n    .execute();"
            },
            {
              "language": "node",
              "install": "npm install asana",
              "code": "const Asana = require('asana');\n\nlet client = new Asana.ApiClient();\nclient.authentications.token.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet tasksApiInstance = new Asana.TasksApi(client);\nlet task_gid = \"321654\"; // String | The task to operate on.\nlet opts = { \n    'opt_fields': \"actual_time_minutes,approval_status,assigned_by,assigned_by.name,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.default_access_level,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.html_text_value,custom_fields.id_prefix,custom_fields.input_restrictions,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.privacy_setting,custom_fields.reference_value,custom_fields.reference_value.name,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,custom_type,custom_type.asana_created_type_identifier,custom_type.name,custom_type_status_option,custom_type_status_option.name,dependencies,dependents,due_at,due_on,effective_memberships,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.project.resource_subtype,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,projects.resource_subtype,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\"\n};\ntasksApiInstance.getTask(task_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "name": "node-sdk-v3"
            },
            {
              "language": "node",
              "install": "npm install asana@1.0.5",
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasks.getTask(taskGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "name": "node-sdk-v1"
            },
            {
              "language": "python",
              "install": "pip install asana",
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntasks_api_instance = asana.TasksApi(api_client)\ntask_gid = \"321654\" # str | The task to operate on.\nopts = {\n    'opt_fields': \"actual_time_minutes,approval_status,assigned_by,assigned_by.name,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.default_access_level,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.html_text_value,custom_fields.id_prefix,custom_fields.input_restrictions,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.privacy_setting,custom_fields.reference_value,custom_fields.reference_value.name,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,custom_type,custom_type.asana_created_type_identifier,custom_type.name,custom_type_status_option,custom_type_status_option.name,dependencies,dependents,due_at,due_on,effective_memberships,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.project.resource_subtype,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,projects.resource_subtype,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\", # list[str] | This endpoint returns a resource which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get a task\n    api_response = tasks_api_instance.get_task(task_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TasksApi->get_task: %s\\n\" % e)",
              "name": "python-sdk-v5"
            },
            {
              "language": "python",
              "install": "pip install asana==3.2.3",
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.tasks.get_task(task_gid, {'param': 'value', 'param': 'value'}, opt_pretty=True)",
              "name": "python-sdk-v3"
            },
            {
              "language": "php",
              "install": "composer require asana/asana",
              "code": "<?php\nrequire 'vendor/autoload.php';\n\n$client = Asana\\Client::accessToken('PERSONAL_ACCESS_TOKEN');\n\n$result = $client->tasks->getTask($task_gid, array('param' => 'value', 'param' => 'value'), array('opt_pretty' => 'true'))"
            },
            {
              "language": "ruby",
              "install": "gem install asana",
              "code": "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.tasks.get_task(task_gid: 'task_gid', param: \"value\", param: \"value\", options: {pretty: true})"
            }
          ]
        },
        "x-integrelli-capability": "get_task"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/task_path_gid"
        },
        {
          "$ref": "#/components/parameters/pretty"
        }
      ],
      "put": {
        "summary": "Update a task",
        "description": "<b>Required scope: </b><code>tasks:write</code>\n\nA specific, existing task can be updated by making a PUT request on the\nURL for that task. Only the fields provided in the `data` block will be\nupdated; any unspecified fields will remain unchanged.\n\nWhen using this method, it is best to specify only those fields you wish\nto change, or else you may overwrite changes made by another user since\nyou last retrieved the task.\n\nReturns the complete updated task record.",
        "tags": [
          "Tasks"
        ],
        "operationId": "updateTask",
        "parameters": [
          {
            "name": "opt_fields",
            "in": "query",
            "description": "This endpoint returns a resource which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include. Properties can include nested fields. To learn more, see the [input/output options guide](/docs/inputoutput-options#selecting-nested-fields).",
            "required": false,
            "example": [
              "actual_time_minutes",
              "approval_status",
              "assigned_by",
              "assigned_by.name",
              "assignee",
              "assignee.name",
              "assignee_section",
              "assignee_section.name",
              "assignee_status",
              "completed",
              "completed_at",
              "completed_by",
              "completed_by.name",
              "created_at",
              "created_by",
              "custom_fields",
              "custom_fields.asana_created_field",
              "custom_fields.created_by",
              "custom_fields.created_by.name",
              "custom_fields.currency_code",
              "custom_fields.custom_label",
              "custom_fields.custom_label_position",
              "custom_fields.date_value",
              "custom_fields.date_value.date",
              "custom_fields.date_value.date_time",
              "custom_fields.default_access_level",
              "custom_fields.description",
              "custom_fields.display_value",
              "custom_fields.enabled",
              "custom_fields.enum_options",
              "custom_fields.enum_options.color",
              "custom_fields.enum_options.enabled",
              "custom_fields.enum_options.name",
              "custom_fields.enum_value",
              "custom_fields.enum_value.color",
              "custom_fields.enum_value.enabled",
              "custom_fields.enum_value.name",
              "custom_fields.format",
              "custom_fields.has_notifications_enabled",
              "custom_fields.html_text_value",
              "custom_fields.id_prefix",
              "custom_fields.input_restrictions",
              "custom_fields.is_formula_field",
              "custom_fields.is_global_to_workspace",
              "custom_fields.is_value_read_only",
              "custom_fields.multi_enum_values",
              "custom_fields.multi_enum_values.color",
              "custom_fields.multi_enum_values.enabled",
              "custom_fields.multi_enum_values.name",
              "custom_fields.name",
              "custom_fields.number_value",
              "custom_fields.people_value",
              "custom_fields.people_value.name",
              "custom_fields.precision",
              "custom_fields.privacy_setting",
              "custom_fields.reference_value",
              "custom_fields.reference_value.name",
              "custom_fields.representation_type",
              "custom_fields.resource_subtype",
              "custom_fields.text_value",
              "custom_fields.type",
              "custom_type",
              "custom_type.asana_created_type_identifier",
              "custom_type.name",
              "custom_type_status_option",
              "custom_type_status_option.name",
              "dependencies",
              "dependents",
              "due_at",
              "due_on",
              "effective_memberships",
              "external",
              "external.data",
              "followers",
              "followers.name",
              "hearted",
              "hearts",
              "hearts.user",
              "hearts.user.name",
              "html_notes",
              "is_rendered_as_separator",
              "liked",
              "likes",
              "likes.user",
              "likes.user.name",
              "memberships",
              "memberships.project",
              "memberships.project.name",
              "memberships.project.resource_subtype",
              "memberships.section",
              "memberships.section.name",
              "modified_at",
              "name",
              "notes",
              "num_hearts",
              "num_likes",
              "num_subtasks",
              "parent",
              "parent.created_by",
              "parent.name",
              "parent.resource_subtype",
              "permalink_url",
              "projects",
              "projects.name",
              "projects.resource_subtype",
              "resource_subtype",
              "start_at",
              "start_on",
              "tags",
              "tags.name",
              "workspace",
              "workspace.name"
            ],
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "actual_time_minutes",
                  "approval_status",
                  "assigned_by",
                  "assigned_by.name",
                  "assignee",
                  "assignee.name",
                  "assignee_section",
                  "assignee_section.name",
                  "assignee_status",
                  "completed",
                  "completed_at",
                  "completed_by",
                  "completed_by.name",
                  "created_at",
                  "created_by",
                  "custom_fields",
                  "custom_fields.asana_created_field",
                  "custom_fields.created_by",
                  "custom_fields.created_by.name",
                  "custom_fields.currency_code",
                  "custom_fields.custom_label",
                  "custom_fields.custom_label_position",
                  "custom_fields.date_value",
                  "custom_fields.date_value.date",
                  "custom_fields.date_value.date_time",
                  "custom_fields.default_access_level",
                  "custom_fields.description",
                  "custom_fields.display_value",
                  "custom_fields.enabled",
                  "custom_fields.enum_options",
                  "custom_fields.enum_options.color",
                  "custom_fields.enum_options.enabled",
                  "custom_fields.enum_options.name",
                  "custom_fields.enum_value",
                  "custom_fields.enum_value.color",
                  "custom_fields.enum_value.enabled",
                  "custom_fields.enum_value.name",
                  "custom_fields.format",
                  "custom_fields.has_notifications_enabled",
                  "custom_fields.html_text_value",
                  "custom_fields.id_prefix",
                  "custom_fields.input_restrictions",
                  "custom_fields.is_formula_field",
                  "custom_fields.is_global_to_workspace",
                  "custom_fields.is_value_read_only",
                  "custom_fields.multi_enum_values",
                  "custom_fields.multi_enum_values.color",
                  "custom_fields.multi_enum_values.enabled",
                  "custom_fields.multi_enum_values.name",
                  "custom_fields.name",
                  "custom_fields.number_value",
                  "custom_fields.people_value",
                  "custom_fields.people_value.name",
                  "custom_fields.precision",
                  "custom_fields.privacy_setting",
                  "custom_fields.reference_value",
                  "custom_fields.reference_value.name",
                  "custom_fields.representation_type",
                  "custom_fields.resource_subtype",
                  "custom_fields.text_value",
                  "custom_fields.type",
                  "custom_type",
                  "custom_type.asana_created_type_identifier",
                  "custom_type.name",
                  "custom_type_status_option",
                  "custom_type_status_option.name",
                  "dependencies",
                  "dependents",
                  "due_at",
                  "due_on",
                  "effective_memberships",
                  "external",
                  "external.data",
                  "followers",
                  "followers.name",
                  "hearted",
                  "hearts",
                  "hearts.user",
                  "hearts.user.name",
                  "html_notes",
                  "is_rendered_as_separator",
                  "liked",
                  "likes",
                  "likes.user",
                  "likes.user.name",
                  "memberships",
                  "memberships.project",
                  "memberships.project.name",
                  "memberships.project.resource_subtype",
                  "memberships.section",
                  "memberships.section.name",
                  "modified_at",
                  "name",
                  "notes",
                  "num_hearts",
                  "num_likes",
                  "num_subtasks",
                  "parent",
                  "parent.created_by",
                  "parent.name",
                  "parent.resource_subtype",
                  "permalink_url",
                  "projects",
                  "projects.name",
                  "projects.resource_subtype",
                  "resource_subtype",
                  "start_at",
                  "start_on",
                  "tags",
                  "tags.name",
                  "workspace",
                  "workspace.name"
                ]
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "requestBody": {
          "description": "The task to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/TaskUpdateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the specified task.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TaskResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth2": [
              "tasks:write"
            ]
          }
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "java",
              "install": "<dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>",
              "code": "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nTask result = client.tasks.updateTask(taskGid)\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
            },
            {
              "language": "node",
              "install": "npm install asana",
              "code": "const Asana = require('asana');\n\nlet client = new Asana.ApiClient();\nclient.authentications.token.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet tasksApiInstance = new Asana.TasksApi(client);\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The task to update.\nlet task_gid = \"321654\"; // String | The task to operate on.\nlet opts = { \n    'opt_fields': \"actual_time_minutes,approval_status,assigned_by,assigned_by.name,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.default_access_level,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.html_text_value,custom_fields.id_prefix,custom_fields.input_restrictions,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.privacy_setting,custom_fields.reference_value,custom_fields.reference_value.name,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,custom_type,custom_type.asana_created_type_identifier,custom_type.name,custom_type_status_option,custom_type_status_option.name,dependencies,dependents,due_at,due_on,effective_memberships,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.project.resource_subtype,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,projects.resource_subtype,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\"\n};\ntasksApiInstance.updateTask(body, task_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});",
              "name": "node-sdk-v3"
            },
            {
              "language": "node",
              "install": "npm install asana@1.0.5",
              "code": "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasks.updateTask(taskGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });",
              "name": "node-sdk-v1"
            },
            {
              "language": "python",
              "install": "pip install asana",
              "code": "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntasks_api_instance = asana.TasksApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | The task to update.\ntask_gid = \"321654\" # str | The task to operate on.\nopts = {\n    'opt_fields': \"actual_time_minutes,approval_status,assigned_by,assigned_by.name,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.default_access_level,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.html_text_value,custom_fields.id_prefix,custom_fields.input_restrictions,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.privacy_setting,custom_fields.reference_value,custom_fields.reference_value.name,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,custom_type,custom_type.asana_created_type_identifier,custom_type.name,custom_type_status_option,custom_type_status_option.name,dependencies,dependents,due_at,due_on,effective_memberships,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.project.resource_subtype,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,projects.resource_subtype,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\", # list[str] | This endpoint returns a resource which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Update a task\n    api_response = tasks_api_instance.update_task(body, task_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TasksApi->update_task: %s\\n\" % e)",
              "name": "python-sdk-v5"
            },
            {
              "language": "python",
              "install": "pip install asana==3.2.3",
              "code": "import asana\n\nclient = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')\n\nresult = client.tasks.update_task(task_gid, {'field': 'value', 'field': 'value'}, opt_pretty=True)",
              "name": "python-sdk-v3"
            },
            {
              "language": "php",
              "install": "composer require asana/asana",
              "code": "<?php\nrequire 'vendor/autoload.php';\n\n$client = Asana\\Client::accessToken('PERSONAL_ACCESS_TOKEN');\n\n$result = $client->tasks->updateTask($task_gid, array('field' => 'value', 'field' => 'value'), array('opt_pretty' => 'true'))"
            },
            {
              "language": "ruby",
              "install": "gem install asana",
              "code": "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.tasks.update_task(task_gid: 'task_gid', field: \"value\", field: \"value\", options: {pretty: true})"
            }
          ]
        },
        "x-integrelli-capability": "update_task"
      }
    }
  },
  "components": {
    "schemas": {
      "TaskUpdateRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TaskRequestBase"
          }
        ]
      },
      "TaskRequestBase": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TaskBase"
          },
          {
            "type": "object",
            "properties": {
              "assignee": {
                "type": "string",
                "readOnly": false,
                "x-env-variable": true,
                "description": "A string identifying a user. This can either be the string \"me\", an email, or the gid of a user.",
                "example": "12345",
                "nullable": true
              },
              "assignee_section": {
                "nullable": true,
                "type": "string",
                "description": "The *assignee section* is a subdivision of a project that groups tasks together in the assignee's \"My tasks\" list. It can either be a header above a list of tasks in a list view or a column in a board view of \"My tasks.\"\nThe `assignee_section` property will be returned in the response only if the request was sent by the user who is the assignee of the task. Note that you can only write to `assignee_section` with the gid of an existing section visible in the user's \"My tasks\" list.",
                "example": "12345"
              },
              "custom_fields": {
                "description": "An object where each key is the GID of a custom field and its corresponding value is either an enum GID, string, number, object, or array (depending on the custom field type). See the [custom fields guide](/docs/custom-fields-guide) for details on creating and updating custom field values.",
                "type": "object",
                "additionalProperties": {
                  "type": "string",
                  "description": "\"{custom_field_gid}\" => Value (can be text, a number, etc.). For date, use format \"YYYY-MM-DD\" (e.g., 2019-09-15). For date-time, use ISO 8601 date string in UTC (e.g., 2019-09-15T02:06:58.147Z)."
                },
                "example": {
                  "5678904321": "On Hold",
                  "4578152156": "Not Started"
                }
              },
              "custom_type": {
                "type": "string",
                "readOnly": false,
                "x-env-variable": true,
                "description": "*Conditional:* You can only set custom_type if task `resource_subtype` is `custom`. GID or globally-unique identifier of a task's custom type. The type must be valid for tasks, and some Asana-created custom types cannot be assigned via the API; attempting either returns an error explaining which condition failed.",
                "example": "12345",
                "nullable": true
              },
              "custom_type_status_option": {
                "type": "string",
                "readOnly": false,
                "x-env-variable": true,
                "description": "*Conditional:* You can only set custom_type_status_option if task `resource_subtype` is `custom` GID or globally-unique identifier of a custom type's status option.",
                "example": "12345",
                "nullable": true
              },
              "parent": {
                "type": "string",
                "readOnly": false,
                "x-env-variable": true,
                "description": "Gid of a task.",
                "example": "12345",
                "nullable": true
              }
            }
          }
        ]
      },
      "TaskBase": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TaskCompact"
          },
          {
            "type": "object",
            "properties": {
              "approval_status": {
                "type": "string",
                "description": "*Conditional* Reflects the approval status of this task. This field is kept in sync with `completed`, meaning `pending` translates to false while `approved`, `rejected`, and `changes_requested` translate to true. If you set completed to true, this field will be set to `approved`.",
                "enum": [
                  "pending",
                  "approved",
                  "rejected",
                  "changes_requested"
                ],
                "example": "pending"
              },
              "assignee_status": {
                "description": "*Deprecated* Scheduling status of this task for the user it is assigned to. This field can only be set if the assignee is non-null. Setting this field to \"inbox\" or \"upcoming\" inserts it at the top of the section, while the other options will insert at the bottom.",
                "type": "string",
                "enum": [
                  "today",
                  "upcoming",
                  "later",
                  "new",
                  "inbox"
                ],
                "example": "upcoming"
              },
              "assigned_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UserCompact"
                  },
                  {
                    "readOnly": true,
                    "nullable": true,
                    "description": "The user who assigned the task. This field is only returned when requesting it via opt_fields, and will be null if the task has no specific assigner (e.g., tasks created without an explicit assigner)."
                  }
                ]
              },
              "completed": {
                "description": "True if the task is currently marked complete, false if not.",
                "type": "boolean",
                "example": false
              },
              "completed_at": {
                "description": "The time at which this task was completed, or null if the task is incomplete.",
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "nullable": true,
                "example": "2012-02-22T02:06:58.147Z"
              },
              "completed_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UserCompact"
                  },
                  {
                    "readOnly": true,
                    "nullable": true
                  }
                ]
              },
              "created_at": {
                "description": "The time at which this resource was created.",
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "example": "2012-02-22T02:06:58.147Z"
              },
              "dependencies": {
                "description": "[Opt In](/docs/inputoutput-options). Array of resources referencing tasks that this task depends on. The objects contain only the gid of the dependency.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AsanaResource"
                },
                "readOnly": true
              },
              "dependents": {
                "description": "[Opt In](/docs/inputoutput-options). Array of resources referencing tasks that depend on this task. The objects contain only the ID of the dependent.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AsanaResource"
                },
                "readOnly": true
              },
              "due_at": {
                "description": "The UTC date and time on which this task is due, or null if the task has no due time. This takes an ISO 8601 date string in UTC and should not be used together with `due_on`.",
                "type": "string",
                "format": "date-time",
                "example": "2019-09-15T02:06:58.147Z",
                "nullable": true
              },
              "due_on": {
                "description": "The localized date on which this task is due, or null if the task has no due date. This takes a date with `YYYY-MM-DD` format and should not be used together with `due_at`.",
                "type": "string",
                "format": "date",
                "example": "2019-09-15",
                "nullable": true
              },
              "external": {
                "description": "*OAuth Required*. *Conditional*. This field is returned only if external values are set or included by using [Opt In](/docs/inputoutput-options).\nThe external field allows you to store app-specific metadata on tasks, including a gid that can be used to retrieve tasks and a data blob that can store app-specific character strings. Note that you will need to authenticate with Oauth to access or modify this data. Once an external gid is set, you can use the notation `external:custom_gid` to reference your object anywhere in the API where you may use the original object gid. See the page on Custom External Data for more details.",
                "type": "object",
                "properties": {
                  "gid": {
                    "type": "string",
                    "example": "1234"
                  },
                  "data": {
                    "type": "string",
                    "example": "A blob of information."
                  }
                },
                "example": {
                  "gid": "my_gid",
                  "data": "A blob of information"
                }
              },
              "html_notes": {
                "description": "[Opt In](/docs/inputoutput-options). The notes of the text with formatting as HTML.",
                "type": "string",
                "example": "<body>Mittens <em>really</em> likes the stuff from Humboldt.</body>"
              },
              "hearted": {
                "description": "*Deprecated - please use liked instead* True if the task is hearted by the authorized user, false if not.",
                "type": "boolean",
                "example": true,
                "readOnly": true
              },
              "hearts": {
                "description": "*Deprecated - please use likes instead* Array of likes for users who have hearted this task.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Like"
                },
                "readOnly": true
              },
              "is_rendered_as_separator": {
                "description": "[Opt In](/docs/inputoutput-options). In some contexts tasks can be rendered as a visual separator; for instance, subtasks can appear similar to [sections](/reference/sections) without being true `section` objects. If a `task` object is rendered this way in any context it will have the property `is_rendered_as_separator` set to `true`. This parameter only applies to regular tasks with `resource_subtype` of `default_task`. Tasks with `resource_subtype` of `milestone`, `approval`, or custom task types will not have this property and cannot be rendered as separators.",
                "type": "boolean",
                "example": false,
                "readOnly": true
              },
              "liked": {
                "description": "True if the task is liked by the authorized user, false if not.",
                "type": "boolean",
                "example": true
              },
              "likes": {
                "description": "Array of likes for users who have liked this task.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Like"
                },
                "readOnly": true
              },
              "memberships": {
                "description": "<p><strong style={{ color: \"#4573D2\" }}>Full object requires scope: </strong><code>projects:read</code>, <code>project_sections:read</code></p>\n\n*Create-only*. Array of projects this task is associated with and the section it is in. At task creation time, this array can be used to add the task to specific sections. After task creation, these associations can be modified using the `addProject` and `removeProject` endpoints. Note that over time, more types of memberships may be added to this property.",
                "type": "array",
                "readOnly": true,
                "items": {
                  "$ref": "#/components/schemas/TaskMembership"
                }
              },
              "modified_at": {
                "description": "The time at which this task was last modified.\n\nThe following conditions will change `modified_at`:\n\n- story is created on a task\n- story is trashed on a task\n- attachment is trashed on a task\n- task is assigned or unassigned\n- custom field value is changed\n- the task itself is trashed\n- Or if any of the following fields are updated:\n  - completed\n  - name\n  - due_date\n  - description\n  - attachments\n  - items\n  - schedule_status\n\nThe following conditions will _not_ change `modified_at`:\n\n- moving to a new container (project, portfolio, etc)\n- comments being added to the task (but the stories they generate\n  _will_ affect `modified_at`)",
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "example": "2012-02-22T02:06:58.147Z"
              },
              "name": {
                "description": "Name of the task. This is generally a short sentence fragment that fits on a line in the UI for maximum readability. However, it can be longer.",
                "type": "string",
                "example": "Buy catnip"
              },
              "notes": {
                "description": "Free-form textual information associated with the task (i.e. its description).",
                "type": "string",
                "example": "Mittens really likes the stuff from Humboldt."
              },
              "num_hearts": {
                "description": "*Deprecated - please use likes instead* The number of users who have hearted this task.",
                "type": "integer",
                "example": 5,
                "readOnly": true
              },
              "num_likes": {
                "description": "The number of users who have liked this task.",
                "type": "integer",
                "example": 5,
                "readOnly": true
              },
              "num_subtasks": {
                "description": "[Opt In](/docs/inputoutput-options). The number of subtasks on this task.\n",
                "type": "integer",
                "example": 3,
                "readOnly": true
              },
              "start_at": {
                "description": "Date and time on which work begins for the task, or null if the task has no start time. This takes an ISO 8601 date string in UTC and should not be used together with `start_on`.\n*Note: `due_at` must be present in the request when setting or unsetting the `start_at` parameter.*",
                "type": "string",
                "nullable": true,
                "format": "date-time",
                "example": "2019-09-14T02:06:58.147Z"
              },
              "start_on": {
                "description": "The day on which work begins for the task , or null if the task has no start date. This takes a date with `YYYY-MM-DD` format and should not be used together with `start_at`.\n*Note: `due_on` or `due_at` must be present in the request when setting or unsetting the `start_on` parameter.*",
                "type": "string",
                "nullable": true,
                "format": "date",
                "example": "2019-09-14"
              },
              "actual_time_minutes": {
                "description": "<p><strong style={{ color: \"#4573D2\" }}>Full object requires scope: </strong><code>time_tracking_entries:read</code></p>\n\nThis value represents the sum of all the Time Tracking entries in the Actual Time field on a given Task. It is represented as a nullable long value.",
                "type": "number",
                "example": 200,
                "readOnly": true,
                "nullable": true
              }
            }
          }
        ]
      },
      "TaskMembership": {
        "type": "object",
        "properties": {
          "project": {
            "$ref": "#/components/schemas/ProjectCompact"
          },
          "section": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SectionCompact"
              },
              {
                "nullable": true
              }
            ]
          }
        }
      },
      "SectionCompact": {
        "description": "A *section* is a subdivision of a project that groups tasks together. It can either be a header above a list of tasks in a list view or a column in a board view of a project.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "section",
            "x-insert-after": "gid"
          },
          "name": {
            "description": "The name of the section (i.e. the text displayed as the section header).",
            "type": "string",
            "example": "Next Actions"
          }
        }
      },
      "ProjectCompact": {
        "description": "A *project* represents a prioritized list of tasks in Asana or a board with columns of tasks represented as cards. It exists in a single workspace or organization and is accessible to a subset of users in that workspace or organization, depending on its permissions.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "project",
            "x-insert-after": "gid"
          },
          "name": {
            "description": "Name of the project. This is generally a short sentence fragment that fits on a line in the UI for maximum readability. However, it can be longer.",
            "type": "string",
            "example": "Stuff to buy"
          },
          "resource_subtype": {
            "type": "string",
            "description": "The subtype of this resource. Different subtypes retain many of the same fields and behavior, but may render differently in Asana or represent resources with different semantic meaning.",
            "enum": [
              "default_project",
              "custom"
            ],
            "example": "default_project"
          }
        }
      },
      "Like": {
        "type": "object",
        "description": "An object to represent a user's like.",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the object, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345"
          },
          "user": {
            "$ref": "#/components/schemas/UserCompact"
          }
        }
      },
      "UserCompact": {
        "description": "A *user* object represents an account in Asana that can be given access to various workspaces, projects, and tasks.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "user",
            "x-insert-after": "gid"
          },
          "name": {
            "type": "string",
            "description": "*Read-only except when same user as requester*. The user's name.",
            "example": "Greg Sanchez"
          }
        }
      },
      "AsanaResource": {
        "description": "A generic Asana Resource, containing a globally unique identifier.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "task",
            "x-insert-after": "gid"
          }
        }
      },
      "TaskCompact": {
        "description": "The *task* is the basic object around which many operations in Asana are centered.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "task",
            "x-insert-after": "gid"
          },
          "name": {
            "description": "The name of the task.",
            "type": "string",
            "example": "Bug Task"
          },
          "resource_subtype": {
            "type": "string",
            "description": "The subtype of this resource. Different subtypes retain many of the same fields and behavior, but may render differently in Asana or represent resources with different semantic meaning.\nThe resource_subtype `milestone` represent a single moment in time. This means tasks with this subtype cannot have a start_date.",
            "enum": [
              "default_task",
              "milestone",
              "approval",
              "custom"
            ],
            "example": "default_task"
          },
          "created_by": {
            "type": "object",
            "readOnly": true,
            "description": "[Opt In](/docs/inputoutput-options). A *user* object represents an account in Asana that can be given access to various workspaces, projects, and tasks.",
            "properties": {
              "gid": {
                "description": "Globally unique identifier of the resource.",
                "type": "string",
                "example": "1111"
              },
              "resource_type": {
                "description": "The type of resource.",
                "type": "string",
                "example": "user"
              }
            }
          }
        }
      },
      "TaskResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TaskBase"
          },
          {
            "type": "object",
            "properties": {
              "assignee": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UserCompact"
                  },
                  {
                    "nullable": true
                  }
                ]
              },
              "assignee_section": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SectionCompact"
                  },
                  {
                    "type": "object",
                    "nullable": true,
                    "description": "The *assignee section* is a subdivision of a project that groups tasks together in the assignee's \"My tasks\" list. It can either be a header above a list of tasks in a list view or a column in a board view of \"My tasks.\"\nThe `assignee_section` property will be returned in the response only if the request was sent by the user who is the assignee of the task. Note that you can only write to `assignee_section` with the gid of an existing section visible in the user's \"My tasks\" list."
                  }
                ]
              },
              "custom_fields": {
                "description": "Array of custom field values applied to the task. These represent the custom field values recorded on this project for a particular custom field. For example, these custom field values will contain an `enum_value` property for custom fields of type `enum`, a `text_value` property for custom fields of type `text`, and so on. Please note that the `gid` returned on each custom field value *is identical* to the `gid` of the custom field, which allows referencing the custom field metadata through the `/custom_fields/custom_field_gid` endpoint. The array includes custom fields from projects the task belongs to directly and from projects inherited from its full ancestor chain.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomFieldResponse"
                },
                "readOnly": true
              },
              "custom_type": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CustomTypeCompact"
                  },
                  {
                    "nullable": true
                  }
                ]
              },
              "custom_type_status_option": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CustomTypeStatusOptionCompact"
                  },
                  {
                    "nullable": true
                  }
                ]
              },
              "followers": {
                "description": "Array of users following this task.",
                "type": "array",
                "readOnly": true,
                "items": {
                  "$ref": "#/components/schemas/UserCompact"
                }
              },
              "parent": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TaskCompact"
                  },
                  {
                    "type": "object",
                    "readOnly": true,
                    "description": "The parent of this task, or `null` if this is not a subtask. This property cannot be modified using a PUT request but you can change it with the `setParent` endpoint. You can create subtasks by using the subtasks endpoint.",
                    "nullable": true
                  }
                ]
              },
              "projects": {
                "description": "*Create-only.* Array of projects this task is directly associated with. At task creation time, this array can be used to add the task to many projects at once. After task creation, these associations can be modified using the addProject and removeProject endpoints.",
                "type": "array",
                "readOnly": true,
                "items": {
                  "$ref": "#/components/schemas/ProjectCompact"
                }
              },
              "effective_memberships": {
                "description": "<p><strong style={{ color: \"#4573D2\" }}>Full object requires scope: </strong><code>projects:read</code>, <code>project_sections:read</code></p>\n\nOpt-in, read-only. The union of direct and inherited memberships for this task. If the task is both directly associated with and inherits the same project, the direct membership takes precedence.",
                "type": "array",
                "readOnly": true,
                "items": {
                  "$ref": "#/components/schemas/EffectiveTaskMembership"
                }
              },
              "tags": {
                "description": "Array of tags associated with this task. In order to change tags on an existing task use `addTag` and `removeTag`.",
                "type": "array",
                "readOnly": true,
                "items": {
                  "$ref": "#/components/schemas/TagCompact"
                },
                "example": [
                  {
                    "gid": "59746",
                    "name": "Grade A"
                  }
                ]
              },
              "workspace": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkspaceCompact"
                  },
                  {
                    "type": "object",
                    "readOnly": true,
                    "description": "*Create-only*. The workspace this task is associated with. Once created, task cannot be moved to a different workspace. This attribute can only be specified at creation time."
                  }
                ]
              },
              "permalink_url": {
                "type": "string",
                "readOnly": true,
                "description": "A url that points directly to the object within Asana.",
                "example": "https://app.asana.com/1/12345/task/123456789"
              }
            }
          }
        ]
      },
      "WorkspaceCompact": {
        "description": "A *workspace* is the highest-level organizational unit in Asana. All projects and tasks have an associated workspace.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "workspace",
            "x-insert-after": "gid"
          },
          "name": {
            "description": "The name of the workspace.",
            "type": "string",
            "example": "My Company Workspace"
          }
        }
      },
      "TagCompact": {
        "description": "A *tag* is a label that can be attached to any task in Asana. It exists in a single workspace or organization.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "tag",
            "x-insert-after": "gid"
          },
          "name": {
            "description": "Name of the tag. This is generally a short sentence fragment that fits on a line in the UI for maximum readability. However, it can be longer.",
            "type": "string",
            "example": "Stuff to buy"
          }
        }
      },
      "EffectiveTaskMembership": {
        "description": "A task's project membership, indicating whether the membership is direct or inherited from an ancestor task.",
        "allOf": [
          {
            "$ref": "#/components/schemas/TaskMembership"
          },
          {
            "type": "object",
            "properties": {
              "is_inherited": {
                "description": "Whether this membership is inherited from an ancestor task (`true`) or is a direct membership (`false`).",
                "type": "boolean",
                "example": false
              }
            }
          }
        ]
      },
      "CustomTypeStatusOptionCompact": {
        "description": "<p><strong style={{ color: \"#4573D2\" }}>Full object requires scope: </strong><code>custom_types:read</code></p>\n\nA generic Asana Resource, containing a globally unique identifier.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "custom_type_status_option",
            "x-insert-after": "gid"
          },
          "name": {
            "type": "string",
            "description": "The name of the custom type status option.",
            "example": "Solution pending"
          }
        }
      },
      "CustomTypeCompact": {
        "description": "<p><strong style={{ color: \"#4573D2\" }}>Full object requires scope: </strong><code>custom_types:read</code></p>\n\nCustom Types extend the types of Asana Objects.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345",
            "x-insert-after": false
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "custom_type",
            "x-insert-after": "gid"
          },
          "name": {
            "type": "string",
            "description": "The name of the custom type.",
            "example": "Bug ticket"
          },
          "asana_created_type_identifier": {
            "description": "*Read-only*. A stable identifier present when this custom type was created by Asana as part of an Asana product (for example, a Command ticket type or a Service queue type). `null` for custom types created by users, and for Asana-created types that do not have a public identifier yet. New values may be added over time as Asana products introduce new types; integrations should tolerate unrecognized values.",
            "type": "string",
            "readOnly": true,
            "nullable": true,
            "example": "COMMAND_TICKET",
            "enum": [
              "COMMAND_TICKET",
              "COMMAND_RELEASE",
              "COMMAND_TEAMSPACE",
              "SERVICE_TICKET",
              "SERVICE_CONVERSATION",
              "SERVICE_QUEUE"
            ]
          }
        }
      },
      "CustomFieldResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "representation_type": {
                "description": "This field tells the type of the custom field.",
                "type": "string",
                "example": "number",
                "readOnly": true,
                "enum": [
                  "text",
                  "enum",
                  "multi_enum",
                  "number",
                  "date",
                  "people",
                  "formula",
                  "custom_id",
                  "reference"
                ]
              },
              "id_prefix": {
                "description": "This field is the unique custom ID string for the custom field.",
                "type": "string",
                "nullable": true,
                "example": "ID"
              },
              "input_restrictions": {
                "type": "array",
                "items": {
                  "description": "*Conditional*. Only relevant for custom fields of type `reference`. This array of strings reflects the allowed types of objects that can be written to a `reference` custom field value.",
                  "type": "string",
                  "enum": [
                    "task",
                    "project",
                    "portfolio",
                    "goal"
                  ]
                },
                "example": [
                  "task"
                ]
              },
              "is_formula_field": {
                "description": "*Conditional*. This flag describes whether a custom field is a formula custom field.",
                "type": "boolean",
                "example": false
              },
              "is_value_read_only": {
                "description": "*Conditional*. This flag describes whether a custom field is read only.",
                "type": "boolean",
                "example": false
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UserCompact"
                  },
                  {
                    "nullable": true
                  }
                ]
              },
              "people_value": {
                "description": "*Conditional*. Only relevant for custom fields of type `people`. This array of [compact user](/reference/users) objects reflects the values of a `people` custom field.",
                "type": "array",
[...]
