{
  "openapi": "3.0.0",
  "info": {
    "title": "Box API (curated real subset)",
    "version": "2024.0",
    "description": "Curated subset (2 operations) extracted verbatim from the real published OpenAPI document at https://raw.githubusercontent.com/box/box-openapi/main/openapi.json. 0 \"expandable resource\" anyOf/oneOf unions were collapsed to their plain-string-id branch (the default-response shape without expansion); 4 other polymorphic unions were stubbed (x-integrelli-truncated) because the deterministic parser does not resolve oneOf/anyOf. 1 nested schema(s) beyond depth 4 were also stubbed: FileVersion--Base."
  },
  "servers": [
    {
      "url": "https://api.box.com/2.0",
      "description": "Box Platform API server."
    }
  ],
  "security": [
    {
      "OAuth2Security": []
    }
  ],
  "paths": {
    "/files/{file_id}": {
      "get": {
        "operationId": "get_files_id",
        "summary": "Get file information",
        "description": "Retrieves the details about a file.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The unique identifier that represents a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response unless explicitly specified, instead only\nfields for the mini representation are returned, additional\nto the fields requested.\n\nAdditionally this field can be used to query any metadata\napplied to the file by specifying the `metadata` field as well\nas the scope and key of the template to retrieve, for example\n`?fields=metadata.enterprise_12345.contractTemplate`.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          },
          {
            "name": "if-none-match",
            "in": "header",
            "description": "Ensures an item is only returned if it has changed.\n\nPass in the item's last observed `etag` value\ninto this header and the endpoint will fail\nwith a `304 Not Modified` if the item has not\nchanged since.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "boxapi",
            "in": "header",
            "description": "The URL, and optional password, for the shared link of this item.\n\nThis header can be used to access items that have not been\nexplicitly shared with a user.\n\nUse the format `shared_link=[link]` or if a password is required then\nuse `shared_link=[link]&shared_link_password=[password]`.\n\nThis header can be used on the file or folder shared, as well as on any files\nor folders nested within the item.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "shared_link=[link]&shared_link_password=[password]"
          },
          {
            "name": "x-rep-hints",
            "in": "header",
            "description": "A header required to request specific `representations`\nof a file. Use this in combination with the `fields` query\nparameter to request a specific file representation.\n\nThe general format for these representations is\n`X-Rep-Hints: [...]` where `[...]` is one or many\nhints in the format `[fileType?query]`.\n\nFor example, to request a `png` representation in `32x32`\nas well as `64x64` pixel dimensions provide the following\nhints.\n\n`x-rep-hints: [jpg?dimensions=32x32][jpg?dimensions=64x64]`\n\nAdditionally, a `text` representation is available for all\ndocument file types in Box using the `[extracted_text]`\nrepresentation.\n\n`x-rep-hints: [extracted_text]`.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "[pdf]"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a file object.\n\nNot all available fields are returned by default. Use the\n[fields](#parameter-fields) query parameter to explicitly request\nany specific fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File--Full"
                }
              }
            }
          },
          "304": {
            "description": "Returns an empty response when the `If-None-Match` header matches\nthe current `etag` value of the folder. This indicates that the folder\nhas not changed since it was last requested."
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the file is not found, or the user does not\nhave access to the file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "405": {
            "description": "Returned if the `file_id` is not in a recognized format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "415": {
            "description": "Returns an error if an action is performed on a file with an\nincorrect media type.\n\n* `unsupported_media_type` when requesting an `expiring_embed_link`\n  for a file that is not supported by Box Embed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "files",
        "tags": [
          "Files"
        ]
      }
    },
    "/folders/{folder_id}/items": {
      "get": {
        "operationId": "get_folders_id_items",
        "summary": "List items in folder",
        "description": "Retrieves a page of items in a folder. These items can be files,\nfolders, and web links.\n\nTo request more information about the folder itself, like its size,\nuse the [Get a folder](https://developer.box.com/reference/get-folders-id) endpoint instead.",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "description": "The unique identifier that represent a folder.\n\nThe ID for any folder can be determined\nby visiting this folder in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/folder/123`\nthe `folder_id` is `123`.\n\nThe root folder of a Box account is\nalways represented by the ID `0`.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            },
            "example": "12345"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response unless explicitly specified, instead only\nfields for the mini representation are returned, additional\nto the fields requested.\n\nAdditionally this field can be used to query any metadata\napplied to the file by specifying the `metadata` field as well\nas the scope and key of the template to retrieve, for example\n`?fields=metadata.enterprise_12345.contractTemplate`.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "id",
              "type",
              "name"
            ],
            "explode": false
          },
          {
            "name": "usemarker",
            "in": "query",
            "description": "Specifies whether to use marker-based pagination instead of\noffset-based pagination. Only one pagination method can\nbe used at a time.\n\nBy setting this value to true, the API will return a `marker` field\nthat can be passed as a parameter to this endpoint to get the next\npage of the response.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "marker",
            "in": "query",
            "description": "Defines the position marker at which to begin returning results. This is\nused when paginating using marker-based pagination.\n\nThis requires `usemarker` to be set to `true`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the item at which to begin the response.\n\nOffset-based pagination is not guaranteed to work reliably for high offset values and may fail for large datasets. In\nthose cases, use marker-based pagination by setting `usemarker` to `true`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            },
            "example": 1000
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 1000
            },
            "example": 1000
          },
          {
            "name": "boxapi",
            "in": "header",
            "description": "The URL, and optional password, for the shared link of this item.\n\nThis header can be used to access items that have not been\nexplicitly shared with a user.\n\nUse the format `shared_link=[link]` or if a password is required then\nuse `shared_link=[link]&shared_link_password=[password]`.\n\nThis header can be used on the file or folder shared, as well as on any files\nor folders nested within the item.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "shared_link=[link]&shared_link_password=[password]"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Defines the **second** attribute by which items\nare sorted.\n\nThe folder type affects the way the items\nare sorted:\n\n  * **Standard folder**:\n  Items are always sorted by\n  their `type` first, with\n  folders listed before files,\n  and files listed\n  before web links.\n\n  * **Root folder**:\n  This parameter is not supported\n  for marker-based pagination\n  on the root folder\n\n  (the folder with an `id` of `0`).\n\n  * **Shared folder with parent path\n  to the associated folder visible to\n  the collaborator**:\n  Items are always sorted by\n  their `type` first, with\n  folders listed before files,\n  and files listed\n  before web links.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "date",
                "size"
              ]
            },
            "example": "id"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "The direction to sort results in. This can be either in alphabetical ascending\n(`ASC`) or descending (`DESC`) order.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "example": "ASC"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of files, folders, and web links contained in a folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items"
                }
              }
            }
          },
          "403": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the folder is not found, or the user does not\nhave access to the folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "405": {
            "description": "Returned if the `folder_id` is not in a recognized format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        },
        "x-box-tag": "folders",
        "tags": [
          "Folders"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2Security": {
        "type": "oauth2",
        "description": "The access token received from the authorization server in the OAuth 2.0 flow.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://account.box.com/api/oauth2/authorize",
            "tokenUrl": "https://api.box.com/oauth2/token",
            "scopes": {
              "root_readonly": "Read all files and folders stored in Box",
              "root_readwrite": "Read and write all files and folders stored in Box",
              "manage_app_users": "Provision and manage app users",
              "manage_managed_users": "Provision and manage managed users",
              "manage_groups": "Manage an enterprise's groups",
              "manage_webhook": "Create webhooks programmatically through the API",
              "manage_enterprise_properties": "Manage enterprise properties",
              "manage_data_retention": "Manage data retention polices",
              "manage_legal_hold": "Manage Legal Holds"
            }
          }
        }
      }
    },
    "schemas": {
      "File--Full": {
        "description": "A full representation of a file, as can be returned from any\nfile API endpoints by default.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/File"
          },
          {
            "properties": {
              "version_number": {
                "description": "The version number of this file.",
                "type": "string",
                "example": "1"
              },
              "comment_count": {
                "description": "The number of comments on this file.",
                "type": "integer",
                "example": 10
              },
              "permissions": {
                "allOf": [
                  {
                    "type": "object",
                    "description": "The permissions that the authenticated user has for a file.",
                    "required": [
                      "can_annotate",
                      "can_comment",
                      "can_preview",
                      "can_upload",
                      "can_view_annotations_all",
                      "can_view_annotations_self"
                    ],
                    "allOf": [
                      {
                        "type": "object",
                        "description": "The permissions that the authenticated user has for an item.",
                        "required": [
                          "can_delete",
                          "can_download",
                          "can_invite_collaborator",
                          "can_rename",
                          "can_set_share_access",
                          "can_share"
                        ],
                        "properties": {
                          "can_delete": {
                            "description": "Specifies if the current user can delete this item.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_download": {
                            "description": "Specifies if the current user can download this item.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_invite_collaborator": {
                            "description": "Specifies if the current user can invite new\nusers to collaborate on this item, and if the user can\nupdate the role of a user already collaborated on this\nitem.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_rename": {
                            "description": "Specifies if the user can rename this item.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_set_share_access": {
                            "description": "Specifies if the user can change the access level of an\nexisting shared link on this item.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_share": {
                            "description": "Specifies if the user can create a shared link for this item.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          }
                        }
                      },
                      {
                        "properties": {
                          "can_annotate": {
                            "description": "Specifies if the user can place annotations on this file.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_comment": {
                            "description": "Specifies if the user can place comments on this file.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_preview": {
                            "description": "Specifies if the user can preview this file.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_upload": {
                            "description": "Specifies if the user can upload a new version of this file.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_view_annotations_all": {
                            "description": "Specifies if the user view all annotations placed on this file.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_view_annotations_self": {
                            "description": "Specifies if the user view annotations placed by themselves\non this file.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_apply_watermark": {
                            "description": "Specifies if the user can apply a watermark to this file.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          }
                        }
                      }
                    ]
                  },
                  {
                    "description": "Describes the permissions that the current user has\nfor this file."
                  },
                  {
                    "nullable": false
                  }
                ]
              },
              "tags": {
                "allOf": [
                  {
                    "type": "array",
                    "example": [
                      "approved"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 100,
                    "description": "The tags for this item. These tags are shown in\nthe Box web app and mobile apps next to an item.\n\nTo add or remove a tag, retrieve the item's current tags,\nmodify them, and then update this field.\n\nThere is a limit of 100 tags per item, and 10,000\nunique tags per enterprise."
                  },
                  {
                    "nullable": false
                  }
                ]
              },
              "lock": {
                "allOf": [
                  {
                    "title": "Lock",
                    "type": "object",
                    "description": "The lock held on a file. A lock prevents a file from being moved,\nrenamed, or otherwise changed by anyone else than the user who created the\nlock.",
                    "properties": {
                      "id": {
                        "description": "The unique identifier for this lock.",
                        "type": "string",
                        "example": "11446498"
                      },
                      "type": {
                        "description": "The value will always be `lock`.",
                        "type": "string",
                        "example": "lock",
                        "enum": [
                          "lock"
                        ]
                      },
                      "created_by": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/User--Mini"
                          },
                          {
                            "description": "The user who created the lock."
                          }
                        ]
                      },
                      "created_at": {
                        "description": "The time this lock was created at.",
                        "type": "string",
                        "format": "date-time",
                        "example": "2012-12-12T10:53:43-08:00"
                      },
                      "expired_at": {
                        "description": "The time this lock is to expire at, which might be in the past.",
                        "type": "string",
                        "format": "date-time",
                        "example": "2012-12-12T10:53:43-08:00"
                      },
                      "is_download_prevented": {
                        "description": "Whether or not the file can be downloaded while locked.",
                        "type": "boolean",
                        "example": true
                      },
                      "app_type": {
                        "description": "If the lock is managed by an application rather than a user, this\nfield identifies the type of the application that holds the lock.\nThis is an open enum and may be extended with additional values in\nthe future.",
                        "type": "string",
                        "example": "office_wopiplus",
                        "enum": [
                          "gsuite",
                          "office_wopi",
                          "office_wopiplus",
                          "other"
                        ],
                        "nullable": true
                      }
                    }
                  },
                  {
                    "description": "The lock held on this file. If there is no lock, this can either\nbe `null` or have a timestamp in the past."
                  }
                ],
                "nullable": true
              },
              "extension": {
                "description": "Indicates the (optional) file extension for this file. By default,\nthis is set to an empty string.",
                "type": "string",
                "example": "pdf"
              },
              "is_package": {
                "description": "Indicates if the file is a package. Packages are commonly used\nby Mac Applications and can include iWork files.",
                "type": "boolean",
                "example": true
              },
              "expiring_embed_link": {
                "allOf": [
                  {
                    "title": "Expiring embed link",
                    "type": "object",
                    "description": "An expiring Box Embed Link.",
                    "allOf": [
                      {
                        "type": "object",
                        "description": "The basics of an access token.",
                        "properties": {
                          "access_token": {
                            "description": "The requested access token.",
                            "type": "string",
                            "format": "token",
                            "example": "c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ"
                          },
                          "expires_in": {
                            "description": "The time in seconds by which this token will expire.",
                            "type": "integer",
                            "format": "int64",
                            "example": 3600
                          },
                          "token_type": {
                            "description": "The type of access token returned.",
                            "type": "string",
                            "example": "bearer",
                            "enum": [
                              "bearer"
                            ]
                          },
                          "restricted_to": {
                            "description": "The permissions that this access token permits,\nproviding a list of resources (files, folders, etc)\nand the scopes permitted for each of those resources.",
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/ResourceScope"
                            }
                          }
                        }
                      },
                      {
                        "properties": {
                          "url": {
                            "description": "The actual expiring embed URL for this file, constructed\nfrom the file ID and access tokens specified in this object.",
                            "type": "string",
                            "format": "url",
                            "example": "https://cloud.app.box.com/preview/expiring_embed/..."
                          }
                        }
                      }
                    ]
                  },
                  {
                    "description": "Requesting this field creates an expiring Box Embed URL for an\nembedded preview session in an `iframe`.\n\nThis URL will expire after 60 seconds and the session will\nexpire after 60 minutes.\n\nNot all file types are supported for these embed URLs. Box Embed\nis not optimized for mobile browsers and should not be used in web\nexperiences designed for mobile devices. Many UI elements, like\nthe **download** and **print** options might not show in mobile\nbrowsers."
                  }
                ]
              },
              "watermark_info": {
                "allOf": [
                  {
                    "type": "object",
                    "description": "Details about the watermark applied to this item.",
                    "properties": {
                      "is_watermarked": {
                        "description": "Specifies if this item has a watermark applied.",
                        "type": "boolean",
                        "example": true,
                        "nullable": false
                      },
                      "is_watermark_inherited": {
                        "description": "Specifies if the watermark is inherited from any parent folder in the hierarchy.",
                        "type": "boolean",
                        "example": false,
                        "nullable": false
                      },
                      "is_watermarked_by_access_policy": {
                        "description": "Specifies if the watermark is enforced by an access policy.",
                        "type": "boolean",
                        "example": false,
                        "nullable": false
                      }
                    }
                  },
                  {
                    "description": "Details about the watermark applied to this file."
                  }
                ]
              },
              "is_accessible_via_shared_link": {
                "description": "Specifies if the file can be accessed\nvia the direct shared link or a shared link\nto a parent folder.",
                "type": "boolean",
                "example": true
              },
              "allowed_invitee_roles": {
                "description": "A list of the types of roles that user can be invited at\nwhen sharing this file.",
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "editor",
                    "viewer",
                    "previewer",
                    "uploader",
                    "previewer uploader",
                    "viewer uploader",
                    "co-owner"
                  ]
                },
                "example": [
                  "editor"
                ],
                "nullable": false
              },
              "is_externally_owned": {
                "description": "Specifies if this file is owned by a user outside of the\nauthenticated enterprise.",
                "type": "boolean",
                "example": true,
                "nullable": false
              },
              "has_collaborations": {
                "description": "Specifies if this file has any other collaborators.",
                "type": "boolean",
                "example": true,
                "nullable": false
              },
              "metadata": {
                "allOf": [
                  {
                    "title": "Item metadata instances",
                    "type": "object",
                    "description": "A list of metadata instances, nested within key-value pairs of their `scope`\nand `templateKey`.\n\nTo access the metadata for a file or folder, first use the\nmetadata endpoints to determine the metadata templates available to your\nenterprise.\n\nThen use the `GET /files/:id` or `GET /folder/:id`\nendpoint with the `fields` query parameter to get\nthe metadata by ID.\n\nTo request a metadata instance for a particular `scope` and `templateKey`\nuse the following format for the `fields` parameter:\n`metadata.<scope>.<templateKey>`\n\nFor example, `?fields=metadata.enterprise_27335.marketingCollateral`.",
                    "example": {
                      "enterprise_27335": {
                        "marketingCollateral": {
                          "$canEdit": true,
                          "$id": "01234500-12f1-1234-aa12-b1d234cb567e",
                          "$parent": "folder_59449484661",
                          "$scope": "enterprise_27335",
                          "$template": "marketingCollateral",
                          "$type": "properties-6bcba49f-ca6d-4d2a-a758-57fe6edf44d0",
                          "$typeVersion": 2,
                          "$version": 1
                        }
                      }
                    },
                    "additionalProperties": {
                      "type": "object",
                      "description": "A list of metadata instances, nested within key-value pairs of their `scope`\nand `templateKey`.",
                      "example": {
                        "marketingCollateral": {
                          "$canEdit": true,
                          "$id": "01234500-12f1-1234-aa12-b1d234cb567e",
                          "$parent": "folder_59449484661",
                          "$scope": "enterprise_27335",
                          "$template": "marketingCollateral",
                          "$type": "properties-6bcba49f-ca6d-4d2a-a758-57fe6edf44d0",
                          "$typeVersion": 2,
                          "$version": 1
                        }
                      },
                      "additionalProperties": {
                        "$ref": "#/components/schemas/Metadata--Full"
                      }
                    }
                  },
                  {
                    "description": "An object containing the metadata instances that have been\nattached to this file.\n\nEach metadata instance is uniquely identified by its `scope` and\n`templateKey`. There can only be one instance of any metadata\ntemplate attached to each file. Each metadata instance is nested\nwithin an object with the `templateKey` as the key, which again\nitself is nested in an object with the `scope` as the key."
                  }
                ]
              },
              "expires_at": {
                "description": "When the file will automatically be deleted.",
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "nullable": true
              },
              "representations": {
                "allOf": [
                  {
                    "title": "Representations",
                    "description": "A list of file representations.",
                    "type": "object",
                    "properties": {
                      "entries": {
                        "description": "A list of files.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "A file representation.",
                          "properties": {
                            "content": {
                              "description": "An object containing the URL that can be used to actually fetch\nthe representation.",
                              "properties": {
                                "url_template": {
                                  "description": "The download URL that can be used to fetch the representation.\nMake sure to make an authenticated API call to this endpoint.\n\nThis URL is a template and will require the `{+asset_path}` to\nbe replaced by a path. In general, for unpaged representations\nit can be replaced by an empty string.\n\nFor paged representations, replace the `{+asset_path}` with the\npage to request plus the extension for the file, for example\n`1.pdf`.\n\nWhen requesting the download URL the following additional\nquery params can be passed along.\n\n* `set_content_disposition_type` - Sets the\n`Content-Disposition` header in the API response with the\nspecified disposition type of either `inline` or `attachment`.\nIf not supplied, the `Content-Disposition` header is not\nincluded in the response.\n\n* `set_content_disposition_filename` - Allows the application to\n  define the representation's file name used in the\n  `Content-Disposition` header.  If not defined, the filename\n  is derived from the source file name in Box combined with the\n  extension of the representation.",
                                  "type": "string",
                                  "example": "https://dl.boxcloud.com/api/2.0/internal_files/123/versions/345/representations/png_paged_2048x2048/content/{+asset_path}?watermark_content=4567"
                                }
                              },
                              "type": "object"
                            },
                            "info": {
                              "description": "An object containing the URL that can be used to fetch more info\non this representation.",
                              "type": "object",
                              "properties": {
                                "url": {
                                  "description": "The API URL that can be used to get more info on this file\nrepresentation. Make sure to make an authenticated API call\nto this endpoint.",
                                  "type": "string",
                                  "example": "https://api.box.com/2.0/internal_files/123/versions/345/representations/png_paged_2048x2048"
                                }
                              }
                            },
                            "properties": {
                              "description": "An object containing the size and type of this presentation.",
                              "type": "object",
                              "properties": {
                                "dimensions": {
                                  "type": "string",
                                  "format": "<width>x<height>",
                                  "example": "2048x2048",
                                  "description": "The width by height size of this representation in pixels."
                                },
                                "paged": {
                                  "type": "string",
                                  "example": "true",
                                  "description": "Indicates if the representation is build up out of multiple\npages."
                                },
                                "thumb": {
                                  "type": "string",
                                  "example": "true",
                                  "description": "Indicates if the representation can be used as a thumbnail of\nthe file."
                                }
                              }
                            },
                            "representation": {
                              "description": "Indicates the file type of the returned representation.",
                              "type": "string",
                              "example": "png"
                            },
                            "status": {
                              "description": "An object containing the status of this representation.",
                              "type": "object",
                              "properties": {
                                "state": {
                                  "description": "The status of the representation.\n\n* `success` defines the representation as ready to be viewed.\n* `viewable` defines a video to be ready for viewing.\n* `pending` defines the representation as to be generated. Retry\n  this endpoint to re-check the status.\n* `none` defines that the representation will be created when\n  requested. Request the URL defined in the `info` object to\n  trigger this generation.",
                                  "type": "string",
                                  "example": "success",
                                  "enum": [
                                    "success",
                                    "viewable",
                                    "pending",
                                    "none"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  {
                    "description": "A list of representations for a file that can be used to\ndisplay a placeholder of the file in your application. By default\nthis returns all representations and we recommend using the\n`x-rep-hints` header to further customize the desired\nrepresentations."
                  }
                ]
              },
              "classification": {
                "allOf": [
                  {
                    "type": "object",
                    "description": "The classification applied to an item.",
                    "properties": {
                      "name": {
                        "description": "The name of the classification.",
                        "type": "string",
                        "example": "Top Secret"
                      },
                      "definition": {
                        "description": "An explanation of the meaning of this classification.",
                        "type": "string",
                        "example": "Content that should not be shared outside the company."
                      },
                      "color": {
                        "description": "The color that is used to display the\nclassification label in a user-interface. Colors are defined by the admin\nor co-admin who created the classification in the Box web app.",
                        "type": "string",
                        "example": "#FF0000"
                      }
                    }
                  },
                  {
                    "description": "Details about the classification applied to this file."
                  },
                  {
                    "nullable": true
                  }
                ]
              },
              "uploader_display_name": {
                "allOf": [
                  {
                    "title": "Uploader display name",
                    "type": "string",
                    "example": "Ellis Wiggins",
                    "nullable": false,
                    "description": "The display name of the user that uploaded the file. In most cases this is the\nname of the user logged in at the time of the upload.\n\nIf the file was uploaded using a File Request form that requires the user to\nprovide an email address, this field is populated with that email address. If\nan email address was not required in the File Request form, this field is set\nto return a value of `File Request`.\n\nIn all other anonymous cases where no email was provided this field\nwill default to a value of `Someone`."
                  }
                ]
              },
              "disposition_at": {
                "description": "The retention expiration timestamp for the given file.",
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "nullable": true
              },
              "shared_link_permission_options": {
                "description": "A list of the types of roles that user can be invited at\nwhen sharing this file.",
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "can_preview",
                    "can_download",
                    "can_edit"
                  ]
                },
                "example": [
                  "can_preview"
                ],
                "nullable": true
              },
              "is_associated_with_app_item": {
                "description": "This field will return true if the file or any ancestor of the file\nis associated with at least one app item. Note that this will return\ntrue even if the context user does not have access to the app item(s)\nassociated with the file.",
                "type": "boolean",
                "example": true,
                "nullable": false
              },
              "collections": {
                "description": "The collections that this file belongs to.\n\nFor more information, see the\n[collections guide](https://developer.box.com/guides/collections).",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Collection"
                }
              },
              "is_download_available": {
                "description": "Whether the file's binary content is eligible to be downloaded.\n\nThis is a content-level flag and does not reflect whether the\ncurrent user is authorized to download the file. Use\n`permissions.can_download`, when available, for that.",
                "type": "boolean",
                "example": true
              },
              "download_url": {
                "description": "A pre-authorized, expiring URL for directly downloading the file's\ncontent. Requires authentication and is valid only for the current\nsession.\n\nThis field is only returned for files, not folders or web links.",
                "type": "string",
                "format": "url",
                "example": "https://dl.boxcloud.com/d/1/example_token/download"
              },
              "authenticated_download_url": {
                "description": "A stable API URL for the file content endpoint,\n`/2.0/files/{id}/content`. Unlike `download_url`, authorization is\nevaluated when the URL is requested with a valid access token.\n\nThis field is only returned for files, not folders or web links.",
                "type": "string",
                "format": "url",
                "example": "https://api.box.com/2.0/files/12345/content"
              },
              "allowed_shared_link_access_levels": {
                "description": "The shared link access levels the authenticated user is allowed to\nuse when creating or updating a shared link for this file.\n\nThe list depends on item policy and user authorization, so it may be\nnarrower than the levels available to the owner. An empty array means\nno access level is available to this user.",
                "type": "array",
                "items": {
                  "title": "Shared link access level",
                  "type": "string",
                  "description": "The access level for a shared link.",
                  "example": "open",
                  "enum": [
                    "open",
                    "company",
                    "collaborators"
                  ]
                },
                "example": [
                  "open"
                ],
                "nullable": false
              }
            }
          }
        ],
        "title": "File (Full)",
        "x-box-resource-id": "file--full",
        "x-box-tag": "files",
        "x-box-variant": "full"
      },
      "ClientError": {
        "description": "A generic error.",
        "type": "object",
        "properties": {
          "type": {
            "description": "The value will always be `error`.",
            "type": "string",
            "example": "error",
            "enum": [
              "error"
            ],
            "nullable": false
          },
          "status": {
            "description": "The HTTP status of the response.",
            "type": "integer",
            "format": "int32",
            "example": 400,
            "nullable": false
          },
          "code": {
            "description": "A Box-specific error code.",
            "type": "string",
            "example": "item_name_invalid",
            "enum": [
              "created",
              "accepted",
              "no_content",
              "redirect",
              "not_modified",
              "bad_request",
              "unauthorized",
              "forbidden",
              "not_found",
              "method_not_allowed",
              "conflict",
              "precondition_failed",
              "too_many_requests",
              "internal_server_error",
              "unavailable",
              "item_name_invalid",
              "insufficient_scope"
            ]
          },
          "message": {
            "description": "A short message describing the error.",
            "type": "string",
            "example": "Method Not Allowed",
            "nullable": false
          },
          "context_info": {
            "description": "A free-form object that contains additional context\nabout the error. The possible fields are defined on\na per-endpoint basis. `message` is only one example.",
            "type": "object",
            "example": {
              "message": "Something went wrong"
            },
            "additionalProperties": {},
            "nullable": true
          },
          "help_url": {
            "description": "A URL that links to more information about why this error occurred.",
            "type": "string",
            "example": "https://developer.box.com/guides/api-calls/permissions-and-errors/common-errors/",
            "nullable": false
          },
          "request_id": {
            "description": "A unique identifier for this response, which can be used\nwhen contacting Box support.",
            "type": "string",
            "example": "abcdef123456",
            "nullable": false
          }
        },
        "title": "Client error",
        "x-box-resource-id": "client_error"
      },
      "Items": {
        "description": "A list of files, folders, and web links in\ntheir mini representation.",
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "description": "The part of an API response that describes marker\nbased pagination.",
            "properties": {
              "limit": {
                "description": "The limit that was used for these entries. This will be the same as the\n`limit` query parameter unless that value exceeded the maximum value\nallowed. The maximum value varies by API.",
                "type": "integer",
                "format": "int64",
                "example": 1000
              },
              "next_marker": {
                "description": "The marker for the start of the next page of results.",
                "type": "string",
                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii",
                "nullable": true
              },
              "prev_marker": {
                "description": "The marker for the start of the previous page of results.",
                "type": "string",
                "example": "JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVih",
                "nullable": true
              }
            }
          },
          {
            "type": "object",
            "description": "The part of an API response that describes pagination.",
            "properties": {
              "total_count": {
                "description": "One greater than the offset of the last entry in the entire collection.\nThe total number of entries in the collection may be less than\n`total_count`.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
                "type": "integer",
                "format": "int64",
                "example": 5000
              },
              "limit": {
                "description": "The limit that was used for these entries. This will be the same as the\n`limit` query parameter unless that value exceeded the maximum value\nallowed. The maximum value varies by API.",
                "type": "integer",
                "format": "int64",
                "example": 1000
              },
              "offset": {
                "description": "The 0-based offset of the first entry in this set. This will be the same\nas the `offset` query parameter.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
                "type": "integer",
                "format": "int64",
                "example": 2000
              },
              "order": {
                "description": "The order by which items are returned.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "The order in which a pagination is ordered.",
                  "properties": {
                    "by": {
                      "description": "The field to order by.",
                      "type": "string",
                      "example": "type"
                    },
                    "direction": {
                      "description": "The direction to order by, either ascending or descending.",
                      "type": "string",
                      "example": "ASC",
                      "enum": [
                        "ASC",
                        "DESC"
                      ]
                    }
                  }
                }
              }
            }
          },
          {
            "properties": {
              "entries": {
                "description": "The items in this collection.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          }
        ],
        "title": "Items",
        "x-box-resource-id": "items",
        "x-box-tag": "folders"
      },
      "File": {
        "description": "A standard representation of a file, as returned from any\nfile API endpoints by default.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/File--Mini"
          },
          {
            "properties": {
              "description": {
                "description": "The optional description of this file.\nIf the description exceeds 255 characters, the first 255 characters\nare set as a file description and the rest of it is ignored.",
                "type": "string",
                "example": "Contract for Q1 renewal",
                "maxLength": 255,
                "nullable": false
              },
              "size": {
                "description": "The file size in bytes. Be careful parsing this integer as it can\nget very large and cause an integer overflow.",
                "type": "integer",
                "example": 629644,
                "nullable": false
              },
              "path_collection": {
                "allOf": [
                  {
                    "title": "Path collection",
                    "description": "A list of parent folders for an item.",
                    "type": "object",
                    "required": [
                      "total_count",
                      "entries"
                    ],
                    "properties": {
                      "total_count": {
                        "description": "The number of folders in this list.",
                        "type": "integer",
                        "format": "int64",
                        "example": 1,
                        "nullable": false
                      },
                      "entries": {
                        "description": "The parent folders for this item.",
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Folder--Mini"
                        },
                        "nullable": false
                      }
                    }
                  },
                  {
                    "description": "The tree of folders that this file is contained in,\nstarting at the root."
                  },
                  {
                    "nullable": false
                  }
                ]
              },
              "created_at": {
                "description": "The date and time when the file was created on Box.",
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "nullable": false
              },
              "modified_at": {
                "description": "The date and time when the file was last updated on Box.",
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "nullable": false
              },
              "trashed_at": {
                "description": "The time at which this file was put in the trash.",
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "nullable": true
              },
              "purged_at": {
                "description": "The time at which this file is expected to be purged\nfrom the trash.",
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "nullable": true
              },
              "content_created_at": {
                "description": "The date and time at which this file was originally\ncreated, which might be before it was uploaded to Box.",
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "nullable": true
              },
              "content_modified_at": {
                "description": "The date and time at which this file was last updated,\nwhich might be before it was uploaded to Box.",
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "nullable": true
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who created this file."
                  }
                ]
              },
              "modified_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who last modified this file."
                  },
                  {
                    "nullable": false
                  }
                ]
              },
              "owned_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who owns this file."
                  },
                  {
                    "nullable": false
                  }
                ]
              },
              "shared_link": {
                "allOf": [
                  {
                    "title": "Shared link",
                    "description": "Shared links provide direct, read-only access to files or folder on Box.\n\nShared links with open access level allow anyone with the URL\nto access the item, while shared links with company or collaborators access\nlevels can only be accessed by appropriately authenticated Box users.",
                    "type": "object",
                    "required": [
                      "url",
                      "accessed",
                      "effective_access",
                      "effective_permission",
                      "is_password_enabled",
                      "download_count",
                      "preview_count"
                    ],
                    "properties": {
                      "url": {
                        "description": "The URL that can be used to access the item on Box.\n\nThis URL will display the item in Box's preview UI where the file\ncan be downloaded if allowed.\n\nThis URL will continue to work even when a custom `vanity_url`\nhas been set for this shared link.",
                        "type": "string",
                        "format": "url",
                        "example": "https://www.box.com/s/vspke7y05sb214wjokpk",
                        "nullable": false
                      },
                      "download_url": {
                        "description": "A URL that can be used to download the file. This URL can be used in\na browser to download the file. This URL includes the file\nextension so that the file will be saved with the right file type.\n\nThis property will be `null` for folders.",
                        "type": "string",
                        "format": "url",
                        "example": "https://www.box.com/shared/static/rh935iit6ewrmw0unyul.jpeg",
                        "nullable": true,
                        "x-box-premium-feature": true
                      },
                      "vanity_url": {
                        "description": "The \"Custom URL\" that can also be used to preview the item on Box.  Custom\nURLs can only be created or modified in the Box Web application.",
                        "type": "string",
                        "format": "url",
                        "example": "https://acme.app.box.com/v/my_url/",
                        "nullable": true
                      },
                      "vanity_name": {
                        "description": "The custom name of a shared link, as used in the `vanity_url` field.",
                        "type": "string",
                        "example": "my_url",
                        "nullable": true
                      },
                      "access": {
                        "description": "The access level for this shared link.\n\n* `open` - provides access to this item to anyone with this link\n* `company` - only provides access to this item to people the same company\n* `collaborators` - only provides access to this item to people who are\n   collaborators on this item\n\nIf this field is omitted when creating the shared link, the access level\nwill be set to the default access level specified by the enterprise admin.",
                        "type": "string",
                        "example": "open",
                        "enum": [
                          "open",
                          "company",
                          "collaborators"
                        ],
                        "nullable": false
                      },
                      "effective_access": {
                        "description": "The effective access level for the shared link. This can be a more\nrestrictive access level than the value in the `access` field when the\nenterprise settings restrict the allowed access levels.",
                        "type": "string",
                        "example": "company",
                        "enum": [
                          "open",
                          "company",
                          "collaborators"
                        ],
                        "nullable": false
                      },
                      "effective_permission": {
                        "description": "The effective permissions for this shared link.\nThese result in the more restrictive combination of\nthe share link permissions and the item permissions set\nby the administrator, the owner, and any ancestor item\nsuch as a folder.",
                        "type": "string",
                        "example": "can_download",
                        "enum": [
                          "can_edit",
                          "can_download",
                          "can_preview",
                          "no_access"
                        ],
                        "nullable": false
                      },
                      "unshared_at": {
                        "description": "The date and time when this link will be unshared. This field can only be\nset by users with paid accounts.",
                        "type": "string",
                        "format": "date-time",
                        "example": "2018-04-13T13:53:23-07:00",
                        "nullable": true
                      },
                      "is_password_enabled": {
                        "description": "Defines if the shared link requires a password to access the item.",
                        "type": "boolean",
                        "example": true,
                        "nullable": false
                      },
                      "permissions": {
                        "description": "Defines if this link allows a user to preview, edit, and download an item.\nThese permissions refer to the shared link only and\ndo not supersede permissions applied to the item itself.",
                        "type": "object",
                        "properties": {
                          "can_download": {
                            "description": "Defines if the shared link allows for the item to be downloaded. For\nshared links on folders, this also applies to any items in the folder.\n\nThis value can be set to `true` when the effective access level is\nset to `open` or `company`, not `collaborators`.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_preview": {
                            "description": "Defines if the shared link allows for the item to be previewed.\n\nThis value is always `true`. For shared links on folders this also\napplies to any items in the folder.",
                            "type": "boolean",
                            "example": true,
                            "nullable": false
                          },
                          "can_edit": {
                            "description": "Defines if the shared link allows for the item to be edited.\n\nThis value can only be `true` if `can_download` is also `true` and if\nthe item has a type of `file`.",
                            "type": "boolean",
                            "example": false,
                            "nullable": false
                          }
                        },
                        "required": [
                          "can_download",
                          "can_preview",
                          "can_edit"
                        ]
                      },
                      "download_count": {
                        "description": "The number of times this item has been downloaded.",
                        "type": "integer",
                        "example": 3,
                        "nullable": false
                      },
                      "preview_count": {
                        "description": "The number of times this item has been previewed.",
                        "type": "integer",
                        "example": 3,
                        "nullable": false
                      }
                    }
                  },
                  {
                    "description": "The shared link for this file. This value will be\n`null` if no shared link has been created for this\nfile."
                  },
                  {
                    "nullable": true
                  }
                ]
              },
              "parent": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Folder--Mini"
                  },
                  {
                    "description": "The folder that this file is located within.\nThis value may be `null` for some folders such as\nthe root folder or the trash folder."
                  }
                ],
                "nullable": true
              },
              "item_status": {
                "description": "Defines if this item has been deleted or not.\n\n* `active` when the item has is not in the trash\n* `trashed` when the item has been moved to the trash but not deleted\n* `deleted` when the item has been permanently deleted.",
                "type": "string",
                "example": "active",
                "enum": [
                  "active",
                  "trashed",
                  "deleted"
                ],
                "nullable": false
              }
            }
          }
        ],
        "title": "File",
        "x-box-resource-id": "file",
        "x-box-tag": "files",
        "x-box-variant": "standard"
      },
      "User--Mini": {
        "description": "A mini representation of a user, as can be returned when nested within other\nresources.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/User--Base"
          },
          {
            "properties": {
              "name": {
                "description": "The display name of this user.",
                "type": "string",
                "example": "Aaron Levie",
                "maxLength": 50,
                "nullable": false
              },
              "login": {
                "description": "The primary email address of this user.",
                "type": "string",
                "format": "email",
                "example": "ceo@example.com",
                "nullable": false
              }
            }
          }
        ],
        "title": "User (Mini)",
        "x-box-resource-id": "user--mini",
        "x-box-tag": "users",
        "x-box-variant": "mini"
      },
      "ResourceScope": {
        "description": "A relation between a resource (file or folder) and the scopes for which the resource can be accessed.",
        "type": "object",
        "properties": {
          "scope": {
            "description": "The scopes for the resource access.",
            "type": "string",
            "example": "item_download",
            "enum": [
              "annotation_edit",
              "annotation_view_all",
              "annotation_view_self",
              "base_explorer",
              "base_picker",
              "base_preview",
              "base_upload",
              "item_delete",
              "item_download",
              "item_preview",
              "item_rename",
              "item_share",
              "item_upload",
              "item_read"
            ]
          },
          "object": {
            "$ref": "#/components/schemas/Resource"
          }
        },
        "title": "Resource scope"
      },
      "Metadata--Full": {
        "description": "An instance of a metadata template, which has been applied to a file or\nfolder.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Metadata"
          },
          {
            "properties": {
              "$canEdit": {
                "description": "Whether the user can edit this metadata instance.",
                "type": "boolean",
                "example": true
              },
              "$id": {
                "description": "A UUID to identify the metadata instance.",
                "type": "string",
                "format": "uuid",
                "example": "01234500-12f1-1234-aa12-b1d234cb567e",
                "maxLength": 36
              },
              "$type": {
                "description": "A unique identifier for the \"type\" of this instance. This is an\ninternal system property and should not be used by a client\napplication.",
                "type": "string",
                "example": "properties-6bcba49f-ca6d-4d2a-a758-57fe6edf44d0"
              },
              "$typeVersion": {
                "description": "The last-known version of the template of the object. This is an\ninternal system property and should not be used by a client\napplication.",
                "type": "integer",
                "example": 2
              }
            }
          },
          {
            "additionalProperties": {
              "allOf": [
                {},
                {
                  "example": "Aaron Levie"
                },
                {
                  "description": "A value for each of the fields that are present\non the metadata template.\nFor the `global.properties` template this can be\na list of zero or more fields,\nas this template allows for any generic key-value pairs\nto be stored stored in the template."
                }
              ],
              "x-box-example-key": "name"
            }
          }
        ],
        "title": "Metadata instance (Full)",
        "x-box-resource-id": "metadata--full",
        "x-box-tag": "file_metadata",
        "x-box-variant": "full"
      },
      "Collection": {
        "description": "A collection of items, including files and folders.\n\nCurrently, the only collection available\nis the `favorites` collection.\n\nThe contents of a collection can be explored in a\nsimilar way to which the contents of a folder is\nexplored.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier for this collection.",
            "type": "string",
            "example": "11446498"
          },
          "type": {
            "description": "The value will always be `collection`.",
            "type": "string",
            "example": "collection",
            "enum": [
              "collection"
            ]
          },
          "name": {
            "description": "The name of the collection.",
            "type": "string",
            "example": "Favorites",
            "enum": [
              "Favorites"
            ]
          },
          "collection_type": {
            "description": "The type of the collection. This is used to\ndetermine the proper visual treatment for\ncollections.",
            "type": "string",
            "example": "favorites",
            "enum": [
              "favorites"
            ]
          }
        },
        "title": "Collection",
        "x-box-resource-id": "collection",
        "x-box-tag": "collections"
      },
      "Item": {
        "type": "object",
        "description": "An item represents a file, folder, or web link. (polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
        "x-integrelli-truncated": true
      },
      "File--Mini": {
        "description": "A mini representation of a file, used when\nnested under another resource.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/File--Base"
          },
          {
            "properties": {
              "sequence_id": {
                "allOf": [
                  {
                    "type": "string",
                    "example": "3",
                    "nullable": true,
                    "description": "A numeric identifier that represents the most recent user event\nthat has been applied to this item.\n\nThis can be used in combination with the `GET /events`-endpoint\nto filter out user events that would have occurred before this\nidentifier was read.\n\nAn example would be where a Box Drive-like application\nwould fetch an item via the API, and then listen to incoming\nuser events for changes to the item. The application would\nignore any user events where the `sequence_id` in the event\nis smaller than or equal to the `sequence_id` in the originally\nfetched resource."
                  },
                  {
                    "nullable": false
                  }
                ]
              },
              "name": {
                "description": "The name of the file.",
                "type": "string",
                "example": "Contract.pdf"
              },
              "sha1": {
                "description": "The SHA1 hash of the file. This can be used to compare the contents\nof a file on Box with a local file.",
                "type": "string",
                "format": "digest",
                "example": "85136C79CBF9FE36BB9D05D0639C70C265C18D37",
                "nullable": false
              },
              "file_version": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FileVersion--Mini"
                  },
                  {
                    "description": "The information about the current version of the file."
                  }
                ]
              }
            }
          }
        ],
        "nullable": true,
        "title": "File (Mini)",
        "x-box-resource-id": "file--mini",
        "x-box-tag": "files",
        "x-box-variant": "mini"
      },
      "Folder--Mini": {
        "description": "A mini representation of a file version, used when\nnested under another resource.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Folder--Base"
          },
          {
            "properties": {
              "sequence_id": {
                "allOf": [
                  {
                    "type": "string",
                    "example": "3",
                    "nullable": true,
                    "description": "A numeric identifier that represents the most recent user event\nthat has been applied to this item.\n\nThis can be used in combination with the `GET /events`-endpoint\nto filter out user events that would have occurred before this\nidentifier was read.\n\nAn example would be where a Box Drive-like application\nwould fetch an item via the API, and then listen to incoming\nuser events for changes to the item. The application would\nignore any user events where the `sequence_id` in the event\nis smaller than or equal to the `sequence_id` in the originally\nfetched resource."
                  },
                  {
                    "nullable": false
                  }
                ]
              },
              "name": {
                "description": "The name of the folder.",
                "type": "string",
                "example": "Contracts",
                "nullable": false
              }
            }
          }
        ],
        "title": "Folder (Mini)",
        "x-box-resource-id": "folder--mini",
        "x-box-tag": "folders",
        "x-box-variant": "mini"
      },
      "User--Base": {
        "description": "A mini representation of a user, used when\nnested within another resource.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier for this user.",
            "type": "string",
            "example": "11446498"
          },
          "type": {
            "description": "The value will always be `user`.",
            "type": "string",
            "example": "user",
            "enum": [
              "user"
            ],
            "nullable": false
          }
        },
        "required": [
          "type",
          "id"
        ],
        "title": "User (Base)",
        "x-box-resource-id": "user--base",
        "x-box-tag": "users",
        "x-box-variant": "base",
        "x-box-variants": [
          "base",
          "mini",
          "standard",
          "full"
        ]
      },
      "Resource": {
        "type": "object",
        "description": "The file or folder resource. (polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
        "x-integrelli-truncated": true
      },
      "Metadata": {
        "description": "An instance of a metadata template, which has been applied to a file or\nfolder.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Metadata--Base"
          }
        ],
        "title": "Metadata instance",
        "x-box-resource-id": "metadata",
        "x-box-tag": "file_metadata",
        "x-box-variant": "standard"
      },
      "File--Base": {
        "description": "The bare basic representation of a file, the minimal\namount of fields returned when using the `fields` query\nparameter.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier that represent a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "type": "string",
            "example": "12345",
            "nullable": false
          },
          "etag": {
            "description": "The HTTP `etag` of this file. This can be used within some API\nendpoints in the `If-Match` and `If-None-Match` headers to only\nperform changes on the file if (no) changes have happened.",
            "type": "string",
            "example": "1",
            "nullable": true
          },
          "type": {
            "description": "The value will always be `file`.",
            "type": "string",
            "example": "file",
            "enum": [
              "file"
            ],
            "nullable": false
          }
        },
        "nullable": true,
        "required": [
          "id",
          "type"
        ],
        "title": "File (Base)",
        "x-box-resource-id": "file--base",
        "x-box-tag": "files",
        "x-box-variant": "base",
        "x-box-variants": [
          "base",
          "mini",
          "standard",
          "full"
        ]
      },
      "FileVersion--Mini": {
        "description": "A mini representation of a file version, used when\nnested within another resource.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/FileVersion--Base"
          },
          {
            "properties": {
              "sha1": {
                "description": "The SHA1 hash of this version of the file.",
                "type": "string",
                "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc"
              }
            }
          }
        ],
        "title": "File version (Mini)",
        "x-box-resource-id": "file_version--mini",
        "x-box-variant": "mini"
      },
      "Folder--Base": {
        "description": "The bare basic representation of a folder, the minimal\namount of fields returned when using the `fields` query\nparameter.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier that represent a folder.\n\nThe ID for any folder can be determined\nby visiting a folder in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/folders/123`\nthe `folder_id` is `123`.",
            "type": "string",
            "example": "12345",
            "nullable": false
          },
          "etag": {
            "description": "The HTTP `etag` of this folder. This can be used within some API\nendpoints in the `If-Match` and `If-None-Match` headers to only\nperform changes on the folder if (no) changes have happened.",
            "type": "string",
            "example": "1",
            "nullable": true
          },
          "type": {
            "description": "The value will always be `folder`.",
            "type": "string",
            "example": "folder",
            "enum": [
              "folder"
            ],
            "nullable": false
          }
        },
        "required": [
          "id",
          "type"
        ],
        "title": "Folder (Base)",
        "x-box-resource-id": "folder--base",
        "x-box-tag": "folders",
        "x-box-variant": "base",
        "x-box-variants": [
          "base",
          "mini",
          "standard",
          "full"
        ]
      },
      "Metadata--Base": {
        "description": "The base representation of a metadata instance.",
        "type": "object",
        "properties": {
          "$parent": {
            "description": "The identifier of the item that this metadata instance\nhas been attached to. This combines the `type` and the `id`\nof the parent in the form `{type}_{id}`.",
            "type": "string",
            "example": "folder_59449484661,"
          },
          "$template": {
            "description": "The name of the template.",
            "type": "string",
            "example": "marketingCollateral"
          },
          "$scope": {
            "description": "An ID for the scope in which this template\nhas been applied. This will be `enterprise_{enterprise_id}` for templates\ndefined for use in this enterprise, and `global` for general templates\nthat are available to all enterprises using Box.",
            "type": "string",
            "example": "enterprise_27335"
          },
          "$version": {
            "description": "The version of the metadata instance. This version starts at 0 and\nincreases every time a user-defined property is modified.",
            "type": "integer",
            "example": 1
          }
        },
        "title": "Metadata instance (Base)",
        "x-box-resource-id": "metadata--base",
        "x-box-tag": "file_metadata",
        "x-box-variant": "base",
        "x-box-variants": [
          "base",
          "standard",
          "full"
        ]
      },
      "FileVersion--Base": {
        "type": "object",
        "description": "Truncated for this curated mirror (depth/size cap). Full schema: https://raw.githubusercontent.com/box/box-openapi/main/openapi.json#/components/schemas/FileVersion--Base",
        "x-integrelli-truncated": true
      }
    }
  }
}
