{
  "openapi": "3.0.0",
  "info": {
    "title": "DocuSign eSignature API (curated real subset)",
    "version": "v2.1",
    "description": "Curated subset (2 operations) extracted verbatim from the real published Swagger 2.0 document at https://raw.githubusercontent.com/docusign/eSign-OpenAPI-Specification/master/esignature.rest.swagger-v2.1.json, converted to OpenAPI 3 shape (body/formData parameters folded into requestBody, response `schema` wrapped in `content`) — every field, description and constraint below is copied from the upstream document, only the envelope changed. 0 expandable-resource unions collapsed, 0 other unions stubbed. 43 nested schema(s) beyond depth 2 were stubbed: bulkEnvelope, inlineTemplate, serverTemplate, listCustomField, textCustomField, docGenFormField, nameValue, documentHtmlDefinition, matchBox, EnvelopeRecipientTabs, bccEmailAddress, propertyMetadata, signatureType, docGenSyntaxError, page, envelopeEvent, connectEventData, recipientEvent, filter, folderItem_v2, expirations, reminders, powerFormRecipient, agent, authorizedSignatory, carbonCopy, certifiedDelivery, editor, inPersonSigner, intermediary, notaryRecipient, notaryWitness, participant, sealSign, signer, witness, recipientTokenClientURLs, recipientAdditionalNotification, recipientEmailNotification, recipientPhoneNumber, recipientSignatureProvider, scheduledSending, workflowStep."
  },
  "servers": [
    {
      "url": "https://www.docusign.net/restapi"
    }
  ],
  "security": [],
  "paths": {
    "/v2.1/accounts/{accountId}/envelopes": {
      "post": {
        "tags": [
          "Envelopes"
        ],
        "summary": "Creates an envelope.",
        "description": "Creates and sends an envelope or creates a draft envelope.\nEnvelopes are fundamental resources in the Docusign platform.\n\n\nWith this method you can:\n\n* Create and send an envelope\n  with [documents][], [recipients][], and [tabs][].\n* [Create and send an envelope from a template](/docs/esign-rest-api/esign101/concepts/templates/).\n* [Create and send an envelope from\n  a combination of documents and templates](/docs/esign-rest-api/esign101/concepts/templates/composite/).\n* Create a draft envelope.\n\n\nWhen you use this method\nto create and send an envelope\nin a single request,\nthe following parameters in the request body (an [`envelopeDefinition`][envelopeDefinition] object) are required:\n\n| Parameter      | Description |\n| :--------      | :---------- |\n| `status`       | Set to `sent` to send the envelope to recipients.<br>Set to `created` (or don't set at all) to save the envelope as a draft. |\n| `emailSubject` | The subject of the email used to send the envelope. |\n| `documents`    | The [documents][] to be signed. |\n| `recipients`   | The email addresses of the envelope [recipients][]. |\n\n\nWhen you create an envelope by using a\n[composite template](/docs/esign-rest-api/esign101/concepts/templates/composite/),\nyou should specify the envelope custom fields in the inline template.\nAny custom fields that you specify at the root level are ignored.\n\nIf the envelope has a workflow definition\nand the `workflowStatus` is `paused`,\nthe envelope will not be sent immediately,\neven if the envelope's `status` is `sent`.\n\n\n### Related topics\n\n[Envelope][envelopes] and [template][templates]\nobjects along with [documents][documents],\n[recipients][recipients], and [tabs][tabs]\nare the five object models at the core of the eSignature API.\nThe [eSignature concepts guide](/docs/esign-rest-api/esign101/concepts/)\ndescribes how the five object models work together.\n\nThe following how-to articles contain\npractical examples that show you how to\nto\nconfigure this method's\n[`envelopeDefinition`][envelopeDefinition] request body\nto perform common tasks.\n\nRequesting a signature\n\n- [How to request a signature by email](/docs/esign-rest-api/how-to/request-signature-email-remote/)\n- [How to request a signature through your app](/docs/esign-rest-api/how-to/request-signature-in-app-embedded/)\n- [How to request a signature by email using a template](/docs/esign-rest-api/how-to/request-signature-template-remote/)\n- [How to request a signature using a composite template](/docs/esign-rest-api/how-to/request-signature-composite-template-embedded/)\n- [How to request a signature by SMS or WhatsApp delivery](/docs/esign-rest-api/how-to/request-signature-sms-whatsapp/)\n- [How to send a request for payment](/docs/esign-rest-api/how-to/request-a-payment/)\n- [How to send an envelope to an In Person Signer](/docs/esign-rest-api/how-to/send-envelope-to-in-person-signer/)\n- [How to request a signature by email using CORS](/docs/esign-rest-api/how-to/request-signature-email-browser-cors/)\n- [How to request a signature through your CORS-enabled browser app](/docs/esign-rest-api/how-to/request-signature-in-cors-app-embedded/)\n- [How to request a signature through your app (embedded signing) with a CFR Part 11 account](/docs/esign-rest-api/how-to/request-signature-in-app-embedded-cfrpart11/)\n\nWorking with envelopes and templates\n\n- [How to get envelope information](/docs/esign-rest-api/how-to/get-envelope-information/)\n- [How to list envelope recipients](/docs/esign-rest-api/how-to/get-envelope-recipients/)\n- [How to list envelope status changes](/docs/esign-rest-api/how-to/list-envelope-status-changes/)\n- [How to create a template](/docs/esign-rest-api/how-to/create-template/)\n- [How to send an envelope via your app](/docs/esign-rest-api/how-to/embedded-sending/)\n- [How to bulk send envelopes](/docs/esign-rest-api/how-to/bulk-send-envelopes/)\n\nWorking with advanced recipient routing\n\n- [How to pause a signature workflow](/docs/esign-rest-api/how-to/pause-workflow/)\n- [How to unpause a signature workflow](/docs/esign-rest-api/how-to/unpause-workflow/)\n- [How to use conditional recipients](/docs/esign-rest-api/how-to/use-conditional-recipients/)\n- [How to schedule an envelope](/docs/esign-rest-api/how-to/schedule-an-envelope/)\n- [How to send an envelope with delayed routing](/docs/esign-rest-api/how-to/send-envelope-with-delayed-routing/)\n\nWorking with documents\n\n- [How to list envelope documents](/docs/esign-rest-api/how-to/list-envelope-documents/)\n- [How to download envelope documents](/docs/esign-rest-api/how-to/download-envelope-documents/)\n- [How to attach documents via binary transfer](/docs/esign-rest-api/how-to/send-binary/)\n- [How to create a signable HTML document](/docs/esign-rest-api/how-to/creating-signable-html/)\n- [How to convert a PDF file into a signable HTML document](/docs/esign-rest-api/how-to/converting-pdf/)\n- [How to set document visibility for envelope recipients](/docs/esign-rest-api/how-to/set-document-visibility/)\n- [How to request a signature by email with document generation](/docs/esign-rest-api/how-to/request-signature-email-document-generation/)\n\nWorking with tabs\n\n- [How to get envelope tab values](/docs/esign-rest-api/how-to/get-envelope-tab-values/)\n- [How to get envelope custom tab values](/docs/esign-rest-api/how-to/get-envelope-custom-tab-values/)\n- [How to set envelope tab values](/docs/esign-rest-api/how-to/set-envelope-tab-values/)\n- [How to set tab values in a template](/docs/esign-rest-api/how-to/set-template-tab-values/)\n\nWorking with brands\n\n- [How to create a brand](/docs/esign-rest-api/how-to/create-brand/)\n- [How to apply a brand to an envelope](/docs/esign-rest-api/how-to/apply-brand-to-envelope/)\n- [How to apply a brand and template to an envelope](/docs/esign-rest-api/how-to/apply-brand-and-template-to-envelope/)\n\nWorking with permissions\n\n- [How to create a permission profile](/docs/esign-rest-api/how-to/permission-profile-creating/)\n- [How to update individual permission settings](/docs/esign-rest-api/how-to/permission-profile-updating/)\n- [How to set a permission profile](/docs/esign-rest-api/how-to/permission-profile-setting/)\n- [How to delete a permission profile](/docs/esign-rest-api/how-to/permission-profile-deleting/)\n\nImplementing multi-factor recipient (signer) authentication\n\n- [How to require ID verification (IDV) for a recipient](/docs/esign-rest-api/how-to/id-verification/)\n- [How to require knowledge-based authentication (KBA) for a recipient](/docs/esign-rest-api/how-to/knowledge-based-authentication/)\n- [How to require phone authentication for a recipient](/docs/esign-rest-api/how-to/phone-auth/)\n- [How to require access code authentication for a recipient](/docs/esign-rest-api/how-to/require-access-code-recipient/)\n\n<!-- this should mirror /docs/esign-rest-api/how-to/ -->\n\n\n\n[addingdocs]:           /docs/esign-rest-api/esign101/concepts/envelopes/\n[attachments]:          /docs/esign-rest-api/esign101/concepts/documents/attachments/\n[authcopies]:           /docs/esign-rest-api/esign101/concepts/documents/authoritative-copies/\n[conoverview]:          /docs/esign-rest-api/esign101/concepts/overview/\n[deleting]:             /docs/esign-rest-api/esign101/concepts/envelopes/\n[documents]:            /docs/esign-rest-api/esign101/concepts/documents/\n[envelopeDefinition]:   /docs/esign-rest-api/reference/envelopes/envelopes/create/#schema__envelopedefinition\n[envelopes]:            /docs/esign-rest-api/esign101/concepts/envelopes/\n[locking]:              /docs/esign-rest-api/esign101/concepts/envelopes/lock/\n[payments]:             /docs/esign-rest-api/esign101/concepts/tabs/payment/\n[purging]:              /docs/esign-rest-api/esign101/concepts/documents/purging/\n[recipients]:           /docs/esign-rest-api/esign101/concepts/recipients/\n[recipstatus]:          /docs/esign-rest-api/esign101/concepts/recipients/#recipient-status\n[reciptypes]:           /docs/esign-rest-api/esign101/concepts/recipients/#recipient-types\n[supdocs]:              /docs/esign-rest-api/esign101/concepts/documents/supplemental/\n[tabanchor]:            /docs/esign-rest-api/esign101/concepts/tabs/auto-place/\n[tabcustom]:            /docs/esign-rest-api/esign101/concepts/tabs/custom-tabs/\n[tabs]:                 /docs/esign-rest-api/esign101/concepts/tabs/\n[tabtypes]:             /docs/esign-rest-api/esign101/concepts/tabs/\n[templates]:            /docs/esign-rest-api/esign101/concepts/templates/\n[tracking]:             /docs/esign-rest-api/esign101/concepts/envelopes/\n\n",
        "operationId": "Envelopes_PostEnvelopes",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cdse_mode",
            "in": "query",
            "description": "Reserved for Docusign.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "change_routing_order",
            "in": "query",
            "description": "When true, users can define the routing order of recipients while sending documents for signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completed_documents_only",
            "in": "query",
            "description": "Reserved for Docusign.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merge_roles_on_draft",
            "in": "query",
            "description": "When **true,** template roles will be merged, and empty recipients will be removed. This parameter applies when you create a draft envelope with multiple templates. (To create a draft envelope, the `status` field is set to `created`.)\n\n**Note:** Docusign recommends that this parameter should be set to **true** whenever you create a draft envelope with multiple templates.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/envelopeSummary"
                }
              }
            }
          },
          "400": {
            "description": "Error encountered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "createEnvelope",
        "x-ds-method": "create",
        "x-ds-service": "Envelopes",
        "x-ds-in-sdk": true,
        "x-ds-examples": [
          {
            "description": "This example shows a request/response that includes:\n\n* A single PDF document to be signed\n* One tab positioned using anchor text\n* One recipient\n",
            "direction": "both",
            "format": "json",
            "response": {
              "envelopeId": "63e05468-xxxx-xxxx-xxxx-8b48f7dbeb80",
              "status": "sent",
              "statusDateTime": "2016-05-29T17:11:56.1800000Z",
              "uri": "/envelopes/63e05468-xxxx-xxxx-xxxx-8b48f7dbeb80"
            },
            "request": {
              "documents": [
                {
                  "documentBase64": "[Document content (PDF File)]",
                  "documentId": "1",
                  "fileExtension": "pdf",
                  "name": "NDA.pdf"
                }
              ],
              "emailSubject": "Please sign the NDA",
              "recipients": {
                "signers": [
                  {
                    "email": "the_nda_signer@example.com",
                    "name": "Darlene Petersen",
                    "recipientId": "1",
                    "routingOrder": "1",
                    "tabs": {
                      "dateSignedTabs": [
                        {
                          "anchorString": "signer1date",
                          "anchorYOffset": "-6",
                          "fontSize": "Size12",
                          "name": "Date Signed",
                          "recipientId": "1",
                          "tabLabel": "date_signed"
                        }
                      ],
                      "fullNameTabs": [
                        {
                          "anchorString": "signer1name",
                          "anchorYOffset": "-6",
                          "fontSize": "Size12",
                          "name": "Full Name",
                          "recipientId": "1",
                          "tabLabel": "Full Name"
                        }
                      ],
                      "signHereTabs": [
                        {
                          "anchorString": "signer1sig",
                          "anchorUnits": "mms",
                          "anchorXOffset": "0",
                          "anchorYOffset": "0",
                          "name": "Please sign here",
                          "optional": "false",
                          "recipientId": "1",
                          "scaleValue": 1,
                          "tabLabel": "signer1sig"
                        }
                      ]
                    }
                  }
                ]
              },
              "status": "sent"
            },
            "style": "custom",
            "title": "Request Signature on Single Document by Email"
          },
          {
            "description": "This example shows a request/response that includes:\n\n* Multiple documents, both pdf and Word docx files.\n* Multiple tabs including signing, fullName, dateSigned, and text tabs.\n* Tabs positioned using anchor text.\n* Two recipients, a signer and a cc recipient.\n",
            "direction": "both",
            "format": "json",
            "response": {
              "envelopeId": "63e05468-xxxx-xxxx-xxxx-8b48f7dbeb80",
              "status": "sent",
              "statusDateTime": "2016-05-29T17:11:56.1800000Z",
              "uri": "/envelopes/63e05468-xxxx-xxxx-xxxx-8b48f7dbeb80"
            },
            "request": {
              "documents": [
                {
                  "documentBase64": "[Document 1 content (PDF File)]",
                  "documentId": "1",
                  "fileExtension": "pdf",
                  "name": "NDA.pdf"
                },
                {
                  "documentBase64": "[Document 2 content (PDF File)]",
                  "documentId": "2",
                  "fileExtension": "pdf",
                  "name": "House.pdf"
                },
                {
                  "documentBase64": "[Document 3 content (Word file)]",
                  "documentId": "3",
                  "fileExtension": "docx",
                  "name": "contractor_agreement.docx"
                }
              ],
              "emailSubject": "Please sign the house documentation package",
              "recipients": {
                "carbonCopies": [
                  {
                    "email": "cody_vigil@worldwidecorp.example.com",
                    "name": "Cody Vigil",
                    "recipientId": "2",
                    "routingOrder": "2"
                  }
                ],
                "signers": [
                  {
                    "email": "darlene_petersen@newco.example.com",
                    "name": "Darlene Petersen",
                    "recipientId": "1",
                    "routingOrder": "1",
                    "tabs": {
                      "dateSignedTabs": [
                        {
                          "anchorString": "signer1date",
                          "anchorYOffset": "-6",
                          "fontSize": "Size12",
                          "name": "Date Signed",
                          "recipientId": "1",
                          "tabLabel": "date_signed"
                        },
                        {
                          "documentId": "2",
                          "fontSize": "Size12",
                          "name": "Date Signed",
                          "pageNumber": "1",
                          "recipientId": "1",
                          "tabLabel": "doc3_date_signed",
                          "xPosition": "89",
                          "yPosition": "100"
                        }
                      ],
                      "fullNameTabs": [
                        {
                          "anchorString": "signer1name",
                          "anchorYOffset": "-6",
                          "fontSize": "Size12",
                          "name": "Full Name",
                          "recipientId": "1",
                          "tabLabel": "Full Name"
                        }
                      ],
                      "signHereTabs": [
                        {
                          "anchorString": "signer1sig",
                          "anchorUnits": "mms",
                          "anchorXOffset": "0",
                          "anchorYOffset": "0",
                          "name": "Please sign here",
                          "optional": "false",
                          "recipientId": "1",
                          "scaleValue": 1,
                          "tabLabel": "signer1sig"
                        },
                        {
                          "documentId": "2",
                          "name": "Please sign here",
                          "optional": "false",
                          "pageNumber": "1",
                          "recipientId": "2",
                          "scaleValue": 1,
                          "tabLabel": "signer1_doc2",
                          "xPosition": "89",
                          "yPosition": "40"
                        },
                        {
                          "anchorString": "Client Signature",
                          "anchorUnits": "mms",
                          "anchorXOffset": "0",
                          "anchorYOffset": "-4",
                          "name": "Please sign here",
                          "optional": "false",
                          "recipientId": "1",
                          "scaleValue": 1,
                          "tabLabel": "doc3_client_sig"
                        }
                      ],
                      "textTabs": [
                        {
                          "anchorString": "signer1company",
                          "anchorYOffset": "-8",
                          "fontSize": "Size12",
                          "name": "Company",
                          "recipientId": "1",
                          "required": "true",
                          "tabLabel": "Company"
                        },
                        {
                          "anchorString": "Client Name",
                          "anchorYOffset": "-38",
                          "fontSize": "Size12",
                          "name": "Company",
                          "recipientId": "1",
                          "required": "true",
                          "tabLabel": "Company"
                        },
                        {
                          "documentId": "3",
                          "fontSize": "Size10",
                          "name": "Company",
                          "pageNumber": "1",
                          "recipientId": "1",
                          "required": "true",
                          "tabLabel": "Company",
                          "xPosition": "145",
                          "yPosition": "195"
                        }
                      ]
                    }
                  }
                ]
              },
              "status": "sent"
            },
            "style": "custom",
            "title": "Multiple Documents and Tabs, Signer and CC Recipients"
          },
          {
            "description": "For some documents, one or more signatures must be witnessed by an appointed [notary public](https://en.wikipedia.org/wiki/Notary_public).\n\nDocusign supports eNotary services for many jurisdictions. This example demonstrates how to send an envelope to be signed by Susan Signer with her signature witnessed by Nancy Notary. You must know the name and email address of the signer and the notary public for a signature to be notarized.\n\nNote that the full legal name of the signer must be used. It will be checked against the signer's government-issued proof of identity by the notary public.\n\nPlease see the [Docusign eNotary resource page](https://support.docusign.com/s/document-item?bundleId=gko1642535666104&topicId=jiv1635359045452.html) for further information. It lists the jurisdictions participating in the Docusign eNotary program and additional reference information.\n\nNote that eNotary services are not included with all account types and are **not** included by default with demo/developer sandbox accounts. To enable eNotary service for your sandbox account, contact your Docusign technical support person or Docusign customer service.\n\nThe example includes event notification via the Connect service.",
            "direction": "both",
            "format": "json",
            "response": {
              "envelopeId": "aaaaaaaa-xxxx-xxxx-xxxx-52a86fb94be8",
              "uri": "/envelopes/aaaaaaaa-xxxx-xxxx-xxxx-52a86fb94be8",
              "statusDateTime": "2017-06-15T11:02:39.3996430Z",
              "status": "sent"
            },
            "request": {
              "emailSubject": "Important agreement for notarized signature",
              "status": "sent",
              "recipients": {
                "inPersonSigners": [
                  {
                    "recipientId": 1,
                    "email": "susan_signer@gmail.com",
                    "name": "Susan Anne Signer",
                    "routingOrder": 1,
                    "inPersonSigningType": "notary",
                    "notaryHost": {
                      "name": "Nancy Notary",
                      "email": "nancy@notary-svc.com",
                      "recipientId": 2
                    },
                    "tabs": {
                      "signHereTabs": [
                        {
                          "documentId": "1",
                          "optional": "false",
                          "recipientId": "1",
                          "xPosition": "100",
                          "yPosition": "100",
                          "pageNumber": "1",
                          "name": "Please sign here",
                          "tabLabel": "signer1sig"
                        }
                      ]
                    }
                  }
                ]
              },
              "documents": [
                {
                  "documentId": "1",
                  "name": "important document.docx",
                  "fileExtension": "docx",
                  "documentBase64": "[Contents elided]"
                }
              ],
              "eventNotification": {
                "includeDocumentFields": "false",
                "envelopeEvents": [
                  {
                    "envelopeEventStatusCode": "Completed"
                  },
                  {
                    "envelopeEventStatusCode": "Declined"
                  },
                  {
                    "envelopeEventStatusCode": "Voided"
                  }
                ],
                "url": "https://listener.example.com/docusign_notifications",
                "requireAcknowledgment": "true",
                "includeSenderAccountAsCustomField": "true",
                "loggingEnabled": "true",
                "includeDocuments": "false",
                "signMessageWithX509Cert": "true"
              }
            },
            "style": "custom",
            "title": "Create a Notarized Signing Recipient"
          },
          {
            "description": "Docusign enables document signers to use\nelectronic or\ndigital signatures.\n\nDocusign has tightly integrated standard digital signatures into the Docusign Signature platform. This enables a single envelope to include:\n\n* electronic signatures,\n* AES digital signatures using certificates from Docusign or from your organization,\n* QES digital signatures from government certified Trust Service Providers (TSPs).\n\nThis example enables the signer to create an eIDAS compliant AES signature with embedded signing. InPerson signers can also use SBS digital signatures.\n\n[More information on creating SBS digital signature requests.](/docs/esign-rest-api/esign101/concepts/standards-based-signatures/)\n\nThe `clientId` in the example tells Docusign that the Signing Ceremony will be embedded.\nThe example also includes an `eventNotification` object for receiving envelope status updates from Docusign.\n\n## Embedding the signing ceremony\n1. Send the `Envelopes: create` call as shown below in the Request/Response section.\n2. The response will include the `envelopeId`\n3. Use the [EnvelopeViews: createRecipient](/docs/esign-rest-api/reference/envelopes/envelopeviews/createrecipient/) request to obtain the redirectURL as follows:\n\n`POST /v2.1/accounts/{accountId}/envelopes/{envelopeId}/views/recipient`\n\n````\n{\n    \"clientUserId\": \"1000\",\n    \"email\": \"Sam@spade.com\",\n    \"userName\": \"Sam Spade\",\n    \"returnUrl\": \"https://your_app.example.com\",\n    \"AuthenticationMethod\": \"Password\"\n}\n````\nThe response will include the `url`. Redirect the user's browser to the URL to start the signing ceremony.\n\n**Note:** You must **immediately** redirect the user to the URL you receive from Docusign. The URL is only valid for 5 minutes. Don't request a recipient view URL until you are ready to redirect the user's browser.\n",
            "direction": "both",
            "format": "json",
            "response": {
              "envelopeId": "caaaaaaa-xxxx-xxxx-xxxx-c171528e99c8",
              "uri": "/envelopes/caaaaaaa-xxxx-xxxx-xxxx-c171528e99c8",
              "statusDateTime": "2017-06-22T06:44:49.1642220Z",
              "status": "sent"
            },
            "request": {
              "documents": [
                {
                  "documentId": "1",
                  "name": " Agreement",
                  "fileExtension": "html",
                  "documentBase64": "[Contents elided]"
                }
              ],
              "emailSubject": "NewCo agreement for signature",
              "status": "sent",
              "recipients": {
                "signers": [
                  {
                    "recipientId": "1",
                    "clientUserId": "1000",
                    "email": "Sam@spade.com",
                    "name": "Sam Spade",
                    "recipientSignatureProviders": [
                      {
                        "signatureProviderName": "UniversalSignaturePen_OpenTrust_Hash_TSP",
                        "signatureProviderOptions": {
                          "SMS": "+33134567899"
                        }
                      }
                    ],
                    "routingOrder": "1",
                    "tabs": {
                      "signHereTabs": [
                        {
                          "documentId": "1",
                          "optional": "false",
                          "recipientId": "1",
                          "name": "Please sign here",
                          "tabLabel": "signer1sig",
                          "anchorString": "signer1sig"
                        }
                      ]
                    }
                  }
                ]
              },
              "eventNotification": {
                "includeDocumentFields": "false",
                "envelopeEvents": [
                  {
                    "envelopeEventStatusCode": "Completed"
                  },
                  {
                    "envelopeEventStatusCode": "Declined"
                  },
                  {
                    "envelopeEventStatusCode": "Voided"
                  }
                ],
                "url": "https://your_app.example.com/listener",
                "requireAcknowledgment": "true",
                "includeSenderAccountAsCustomField": "true",
                "loggingEnabled": "true",
                "includeDocuments": "false",
                "signMessageWithX509Cert": "true"
              }
            },
            "style": "custom",
            "title": "Request an SBS digital signature, with an embedded signing ceremony"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/envelopeDefinition"
              }
            }
          }
        }
      }
    },
    "/v2.1/accounts/{accountId}/envelopes/{envelopeId}": {
      "get": {
        "tags": [
          "Envelopes"
        ],
        "summary": "Gets the status of a single envelope.",
        "description": "Retrieves the overall status for the specified envelope.\nTo get the status of a list of envelopes, use\n[Envelope: listStatusChanges ](/docs/esign-rest-api/reference/envelopes/envelopes/liststatuschanges/).\n\n### Related topics\n\n- [How to get envelope information](/docs/esign-rest-api/how-to/get-envelope-information/)\n",
        "operationId": "Envelopes_GetEnvelope",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envelopeId",
            "in": "path",
            "description": "The envelope's GUID. \n\nExample: `93be49ab-xxxx-xxxx-xxxx-f752070d71ec`\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advanced_update",
            "in": "query",
            "description": "When **true,** envelope information can be added or modified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Specifies additional information about the envelope to return. Enter a comma-separated list, such as `tabs,recipients`. Valid values are:\n\n- `custom_fields`: The custom fields associated with the envelope.\n- `documents`: The documents associated with the envelope.\n- `attachments`: The attachments associated with the envelope.\n- `extensions`: The email settings associated with the envelope.\n- `folders`: The folder where the envelope exists.\n- `recipients`: The recipients associated with the envelope.\n- `powerform`: The PowerForms associated with the envelope.\n- `prefill_tabs`: The pre-filled tabs associated with the envelope.\n- `tabs`: The tabs associated with the envelope.\n- `payment_tabs`: The payment tabs associated with the envelope.\n- `workflow`: The workflow definition associated with the envelope.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_anchor_tab_locations",
            "in": "query",
            "description": "When **true,** all tabs with anchor tab properties are included in the response. The default value is **false.**",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/envelope"
                }
              }
            }
          },
          "400": {
            "description": "Error encountered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getEnvelope",
        "x-ds-method": "get",
        "x-ds-service": "Envelopes",
        "x-ds-in-sdk": true,
        "x-ds-examples": [
          {
            "description": "This example shows a how to get information about\nan envelope with a given envelope id.\n\nThe request for this endpoint has no payload.\n\n### Request\n```\nGET /restapi/v2.1/accounts/1703061/envelopes/4b728be4-xxxx-xxxx-xxxx-d63e23f822b6\n```\n",
            "direction": "response",
            "format": "json",
            "response": {
              "allowMarkup": "false",
              "autoNavigation": "true",
              "brandId": "56502fe1-xxxx-xxxx-xxxx-97cb5c43176a",
              "certificateUri": "/envelopes/4b728be4-xxxx-xxxx-xxxx-d63e23f822b6/documents/certificate",
              "createdDateTime": "2016-10-05T01:04:58.1830000Z",
              "customFieldsUri": "/envelopes/4b728be4-xxxx-xxxx-xxxx-d63e23f822b6/custom_fields",
              "documentsCombinedUri": "/envelopes/4b728be4-xxxx-xxxx-xxxx-d63e23f822b6/documents/combined",
              "documentsUri": "/envelopes/4b728be4-xxxx-xxxx-xxxx-d63e23f822b6/documents",
              "emailSubject": "Please sign the NDA",
              "enableWetSign": "true",
              "envelopeId": "4b728be4-xxxx-xxxx-xxxx-d63e23f822b6",
              "envelopeIdStamping": "true",
              "envelopeUri": "/envelopes/4b728be4-xxxx-xxxx-xxxx-d63e23f822b6",
              "initialSentDateTime": "2016-10-05T01:04:58.7770000Z",
              "is21CFRPart11": "false",
              "isSignatureProviderEnvelope": "false",
              "lastModifiedDateTime": "2016-10-05T01:04:58.1830000Z",
              "notificationUri": "/envelopes/4b728be4-xxxx-xxxx-xxxx-d63e23f822b6/notification",
              "purgeState": "unpurged",
              "recipientsUri": "/envelopes/4b728be4-xxxx-xxxx-xxxx-d63e23f822b6/recipients",
              "sentDateTime": "2016-10-05T01:04:58.7770000Z",
              "status": "sent",
              "statusChangedDateTime": "2016-10-05T01:04:58.7770000Z",
              "templatesUri": "/envelopes/4b728be4-xxxx-xxxx-xxxx-d63e23f822b6/templates"
            },
            "request": null,
            "style": "custom",
            "title": "Get Status About a Specific Envelope"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {},
    "schemas": {
      "envelopeSummary": {
        "type": "object",
        "properties": {
          "bulkEnvelopeStatus": {
            "$ref": "#/components/schemas/bulkEnvelopeStatus",
            "description": "An object that describes the status of the bulk send envelopes."
          },
          "envelopeId": {
            "description": "The envelope ID of the envelope status that failed to post.",
            "type": "string"
          },
          "errorDetails": {
            "$ref": "#/components/schemas/errorDetails",
            "description": "This object describes errors that occur. It is only valid for responses and ignored in requests."
          },
          "recipientSigningUri": {
            "description": "",
            "type": "string"
          },
          "recipientSigningUriError": {
            "description": "",
            "type": "string"
          },
          "status": {
            "description": "Indicates the envelope status. Valid values are: \n\n* `completed`: The recipients have finished working with the envelope: the documents are signed and all required tabs are filled in.\n* `created`: The envelope is created as a draft. It can be modified and sent later.\n* `declined`: The envelope has been declined by the recipients.\n* `delivered`: The envelope has been delivered to the recipients.\n* `sent`: The envelope will be sent to the recipients after the envelope is created.\n* `signed`: The envelope has been signed by the recipients.\n* `voided`: The envelope is no longer valid and recipients cannot access or sign the envelope.\n",
            "type": "string"
          },
          "statusDateTime": {
            "description": "The DateTime that the envelope changed status (i.e. was created or sent.)",
            "type": "string"
          },
          "uri": {
            "description": "A URI containing the user ID.",
            "type": "string"
          }
        },
        "description": " This object describes an envelope.",
        "x-ds-definition-name": "envelopeSummary",
        "x-ms-summary": " This object describes an envelope."
      },
      "errorDetails": {
        "description": "This object describes errors that occur. It is only valid for responses and ignored in requests.",
        "type": "object",
        "properties": {
          "errorCode": {
            "description": "The code associated with the error condition.",
            "type": "string"
          },
          "message": {
            "description": "A brief message describing the error condition.",
            "type": "string"
          }
        },
        "x-ds-definition-name": "errorDetails",
        "x-ms-summary": "This object describes errors that occur. It is only valid for responses and ignored in requests."
      },
      "envelopeDefinition": {
        "type": "object",
        "properties": {
          "accessControlListBase64": {
            "description": "Reserved for Docusign.",
            "type": "string"
          },
          "accessibility": {
            "description": "Sets the document reading zones for screen reader applications.  This element can only be used if Document Accessibility is enabled for the account.\n\n**Note:** This information is currently generated from the Docusign web console by setting the reading zones when creating a template, exporting the reading zone string information, and adding it here.",
            "type": "string"
          },
          "allowComments": {
            "description": "When **true,** comments are allowed on the envelope.",
            "type": "string"
          },
          "allowMarkup": {
            "description": "When **true,** the Document Markup feature is enabled.\n\n**Note:**  To use this feature, Document Markup must be enabled at both the account and envelope levels. Only Admin users can change this setting at the account level.\n",
            "type": "string"
          },
          "allowReassign": {
            "description": "When **true,** the recipient can redirect an envelope to a more appropriate recipient.",
            "type": "string"
          },
          "allowRecipientRecursion": {
            "description": "When **true,** this enables the Recursive Recipients feature and allows a recipient to appear more than once in the routing order.",
            "type": "string"
          },
          "allowViewHistory": {
            "description": "When **true,** users can view the history of the envelope.",
            "type": "string"
          },
          "anySigner": {
            "description": "Deprecated. This feature has been replaced by signing groups.",
            "type": "string"
          },
          "asynchronous": {
            "description": "When **true,** the envelope is queued for\nprocessing and the value of the `status` property\nis set to `Processing`. Additionally, GET status\ncalls return `Processing` until completed.\n\n\n**Note:** A `transactionId` is required for this\ncall to work correctly. When the envelope is\ncreated, the status is `Processing` and an\n`envelopeId` is not returned in the response. To\nget the `envelopeId`, use a GET envelope query by\nusing the\n[transactionId](/docs/esign-rest-api/reference/envelopes/envelopes/create/) or by checking the\nConnect notification.",
            "type": "string"
          },
          "attachments": {
            "description": "An array of attachment objects containing details about any envelope attachments.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/attachment"
            }
          },
          "attachmentsUri": {
            "description": "The URI for retrieving the envelope attachments.",
            "type": "string"
          },
          "authoritativeCopy": {
            "description": "When **true,** marks all of the documents in the envelope as authoritative copies.\n\n**Note:** You can override this value for a specific document. For example, you can set the `authoritativeCopy` property to **true** at the envelope level, but turn it off for a single document by setting the `authoritativeCopy` property for the document to **false.**",
            "type": "string"
          },
          "authoritativeCopyDefault": {
            "description": "The default `authoritativeCopy` setting for documents in this envelope that do not have `authoritativeCopy` set.\nIf this property is not set, each document defaults to the envelope's `authoritativeCopy`.",
            "type": "string"
          },
          "autoNavigation": {
            "description": "When **true,** autonavigation is set for the recipient.\n",
            "type": "string"
          },
          "brandId": {
            "description": "The ID of the brand, or text and formatting, to use for the envelope. To use brands, account branding must be enabled for the account.\n\n**Note:** When creating an envelope using a branded template, include this value to ensure that the brand is applied.",
            "type": "string"
          },
          "brandLock": {
            "description": "When **true,** the `brandId` for the envelope is locked and senders cannot change the brand used for the envelope.",
            "type": "string"
          },
          "burnDefaultTabData": {
            "description": "",
            "type": "string"
          },
          "certificateUri": {
            "description": "The URI for retrieving certificate information.",
            "type": "string"
          },
          "completedDateTime": {
            "description": "The date and time that the envelope was completed.",
            "type": "string"
          },
          "compositeTemplates": {
            "description": "A complex type that can be added to create envelopes from a combination of Docusign templates and PDF forms. The basic envelope remains the same, while the Composite Template adds new document and template overlays into the envelope. There can be any number of Composite Template structures in the envelope.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/compositeTemplate"
            }
          },
          "copyRecipientData": {
            "description": "This value is only applicable when copying an existing envelope. Provide the ID of the envelope to clone in `envelopeId`.\n\nWhen **true,** the recipient field values of the existing envelope are included. Only values from data entry fields, like checkboxes and radio buttons, will be copied. Fields that require an action, like signatures and initials, will not be included.",
            "type": "string"
          },
          "createdDateTime": {
            "description": "The date and time that the envelope was created.",
            "type": "string"
          },
          "customFields": {
            "$ref": "#/components/schemas/AccountCustomFields",
            "description": "An optional array of strings that enables the sender to provide\ncustom data about the recipient. This information is returned in\nthe envelope status but otherwise not used by Docusign. Each\n`customField` string can be a maximum of 100 characters.\n\n\n**Note:** Any custom fields you set with this API method\nwill _replace_ custom fields you have defined with\n[Envelope Custom Fields in Admin](https://support.docusign.com/s/document-item?bundleId=pik1583277475390&topicId=qor1583277385137.html),\nwhether the\n**Show field to envelope creators**\nor\n**Make fields required for envelopes**\noptions are checked or not.\n"
          },
          "customFieldsUri": {
            "description": "The URI for retrieving custom fields.",
            "type": "string"
          },
          "declinedDateTime": {
            "description": "The date and time that the recipient declined the envelope.",
            "type": "string"
          },
          "deletedDateTime": {
            "description": "The date and time that the envelope was deleted.",
            "type": "string"
          },
          "deliveredDateTime": {
            "description": "The date and time that the envelope was delivered to the recipient. This property is read-only.",
            "type": "string"
          },
          "disableResponsiveDocument": {
            "description": "When **true,** the responsive document feature is turned off for the envelope.",
            "type": "string"
          },
          "documentBase64": {
            "description": "The document's bytes. This field can be used to include a base64 version of the document bytes within an envelope definition instead of sending the document using a multi-part HTTP request. The maximum document size is smaller if this field is used due to the overhead of the base64 encoding.",
            "type": "string"
          },
          "documents": {
            "description": "A complex element that contains details about the documents associated with the envelope.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/document"
            }
          },
          "documentsCombinedUri": {
            "description": "The URI for retrieving all of the documents associated with the envelope as a single PDF file.",
            "type": "string"
          },
          "documentsUri": {
            "description": "The URI for retrieving all of the documents associated with the envelope as separate files.",
            "type": "string"
          },
          "emailBlurb": {
            "description": "This optional element holds the body of the email message that is sent to all envelope recipients. \n\nMaximum Length: 10000 characters.",
            "type": "string"
          },
          "emailSettings": {
            "$ref": "#/components/schemas/emailSettings",
            "description": "This optional complex element enables the sender to override some envelope email setting information. This can be used to override the Reply To email address and name associated with the envelope, as well as the BCC email addresses to which an envelope is sent. When the `emailSettings` information is used for an envelope, it only applies to that envelope.\n\n**Important Note:** The `emailSettings` information is not returned in the GET method for envelope status. Use GET /email_settings to return information about the emailSettings."
          },
          "emailSubject": {
            "description": "The subject line of the email message that is sent to all recipients.\n\nFor information about adding merge field information to the email subject, see [Template Email Subject Merge Fields](/docs/esign-rest-api/reference/templates/templates/create/#template-email-subject-merge-fields).\n\n**Note:** The subject line is limited to 100 characters, including any merged fields.It is not truncated. It is an error if the text is longer than 100 characters.\n",
            "type": "string"
          },
          "enableWetSign": {
            "description": "When **true,** the signer is allowed to print the document and sign it on paper.",
            "type": "string"
          },
          "enforceSignerVisibility": {
            "description": "When **true,** the option selected in the **Document Visibility** section in your account [Sending Settings][sendingsettings] will be enforced for the envelope. See [Fields and Properties][fieldsproperties] for details about document visibility options. Setting `enforceSignerVisibility` to **true** also enables you to omit documents from the specified recipients' envelopes by using the  [`excludedDocuments`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#schema__envelopedefinition_recipients_signers_excludeddocuments) array. Recipients that have an administrative role (Agent, Editor, or Intermediaries) or informational role (Certified Deliveries or Carbon Copies) can always see all of the documents in an envelope, unless they are specifically excluded by using the `excludedDocuments` setting when an envelope is sent. Documents that do not have tabs are always visible to all recipients, unless they are excluded by using the `excludedDocuments` setting.\n\n**Note:** To use this functionality, [document visibility][docviz] must be enabled for the account. The document visibility feature is available in all developer accounts, but only in certain production account plans. Contact [Docusign Support][support] or your account manager to find out whether document visibility is available for your production account plan.\n\n[docviz]: /docs/esign-rest-api/reference/envelopes/envelopedocumentvisibility/\n[sendingsettings]: https://admindemo.docusign.com/authenticate?goTo=sending\n[fieldsproperties]: https://support.docusign.com/s/document-item?rsc_301&bundleId=pik1583277475390&topicId=xgg1583277350154.html\n[support]: https://support.docusign.com/en/contactSupport#",
            "type": "string"
          },
          "envelopeAttachments": {
            "description": "An array of attachment objects that provide information about the attachments that are associated with the envelope.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/attachment"
            }
          },
          "envelopeCustomMetadata": {
            "$ref": "#/components/schemas/envelopeCustomMetadata",
            "description": ""
          },
          "envelopeDocuments": {
            "description": "An array containing information about the documents that are included in the envelope.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/envelopeDocument"
            }
          },
          "envelopeId": {
            "description": "The envelope ID.\n\nWhen used as a request body in [Envelopes: create](/docs/esign-rest-api/reference/envelopes/envelopes/create/), this is the ID of the envelope to clone.",
            "type": "string"
          },
          "envelopeIdStamping": {
            "description": "When **true,** [Envelope ID Stamping](https://support.docusign.com/s/document-item?bundleId=gbo1643332197980&topicId=tfm1578456367923.html) is enabled.\nAfter a document or attachment is stamped with an Envelope ID,\nthe ID is seen by all recipients\nand becomes a permanent part of the document\nand cannot be removed.",
            "type": "string"
          },
          "envelopeLocation": {
            "description": "Reserved for Docusign.",
            "type": "string"
          },
          "envelopeMetadata": {
            "$ref": "#/components/schemas/envelopeMetadata",
            "description": "Metadata about the features that are enabled for the envelope."
          },
          "envelopeUri": {
            "description": "The URI for retrieving the envelope or envelopes.",
            "type": "string"
          },
          "eventNotification": {
            "$ref": "#/components/schemas/eventNotification",
            "description": "This optional object is used to register a webhook that will receive status changes for this envelope."
          },
          "expireAfter": {
            "description": "Not used. Use the\n[`expirations`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#definition__envelopedefinition_notification_expirations)\nproperty in the [`notification`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#definition__envelopedefinition_notification) object instead.",
            "type": "string"
          },
          "expireDateTime": {
            "description": "Not used. Use the\n[`expirations`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#definition__envelopedefinition_notification_expirations)\nproperty in the [`notification`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#definition__envelopedefinition_notification) object instead.",
            "type": "string"
          },
          "expireEnabled": {
            "description": "Not used. Use the\n[`expirations`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#definition__envelopedefinition_notification_expirations)\nproperty in the [`notification`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#definition__envelopedefinition_notification) object instead.",
            "type": "string"
          },
          "externalEnvelopeId": {
            "description": "May contain an external identifier for the envelope.",
            "type": "string"
          },
          "folders": {
            "description": "An array of folders that the envelope belongs to.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/folder"
            }
          },
          "hasComments": {
            "description": "When **true,** indicates that users have added comments to the envelope.",
            "type": "string"
          },
          "hasFormDataChanged": {
            "description": "When **true,** indicates that the form data associated with the envelope has changed since it was sent. When **false,** this property does not appear in the response.",
            "type": "string"
          },
          "hasWavFile": {
            "description": "When **true,** indicates that a wave file (voice recording) is part of the envelope.",
            "type": "string"
          },
          "holder": {
            "description": "Reserved for Docusign.",
            "type": "string"
          },
          "initialSentDateTime": {
            "description": "The date and time that the envelope was first sent.",
            "type": "string"
          },
          "is21CFRPart11": {
            "description": "When **true,** indicates compliance with United States Food and Drug Administration (FDA) regulations on electronic records and electronic signatures (ERES).",
            "type": "string"
          },
          "isDynamicEnvelope": {
            "description": "When **true,** indicates that the envelope is a dynamic envelope.",
            "type": "string"
          },
          "isSignatureProviderEnvelope": {
            "description": "When **true,** indicates that the envelope is a signature-provided envelope.",
            "type": "string"
          },
          "isTicketRelatedEnvelope": {
            "description": "",
            "type": "string"
          },
          "lastModifiedDateTime": {
            "description": "The date and time that the item was last modified.",
            "type": "string"
          },
          "location": {
            "description": "Reserved for Docusign.",
            "type": "string"
          },
          "lockInformation": {
            "$ref": "#/components/schemas/EnvelopeLocks",
            "description": "Provides lock information about an envelope that a user has locked."
          },
          "messageLock": {
            "description": "When **true,** prevents senders from changing the contents of `emailBlurb` and `emailSubject` properties for the envelope. \n\nAdditionally, this prevents users from making changes to the contents of `emailBlurb` and `emailSubject` properties when correcting envelopes. \n\nHowever, if the `messageLock` node is set to **true** and the `emailSubject` property is empty, senders and correctors are able to add a subject to the envelope.",
            "type": "string"
          },
          "notification": {
            "$ref": "#/components/schemas/notification",
            "description": "An optional complex element that specifies the notification options for the envelope."
          },
          "notificationUri": {
            "description": "The URI for retrieving notifications.",
            "type": "string"
          },
          "password": {
            "description": "The user's password.\n\nThis property is used only when adding a new user via a [Users: create](/docs/esign-rest-api/reference/users/users/create/) request. The value must conform to the password rules defined in the account [Security Settings](https://apps-d.docusign.com/admin/authenticate?goTo=securityInfo).\n\nThis property is not returned by `GET` requests and cannot be updated via `PUT` requests.",
            "type": "string"
          },
          "powerForm": {
            "$ref": "#/components/schemas/powerForm",
            "description": "Information about any PowerForms that are included in the envelope."
          },
          "purgeCompletedDate": {
            "description": "The date that a purge was completed.",
            "type": "string"
          },
          "purgeRequestDate": {
            "description": "The date that a purge was requested.",
            "type": "string"
          },
          "purgeState": {
            "description": "Initiates a purge request. Valid values are:\n\n- `documents_queued`: Places envelope documents in the purge queue.\n- `documents_and_metadata_queued`: Places envelope documents\n   and metadata in the purge queue.\n- `documents_and_metadata_and_redact_queued`: Places envelope documents\n   and metadata in the purge queue and redacts personal information.\n\n**Related topics**\n\n- [Purging documents (eSingature Concepts)](/docs/esign-rest-api/esign101/concepts/documents/purging/)\n- [Purging documents in an envelope (blog post)](https://www.docusign.com/blog/developers/purging-documents-envelope)\n",
            "type": "string"
          },
          "recipients": {
            "$ref": "#/components/schemas/EnvelopeRecipients",
            "description": "Specifies the envelope recipients."
          },
          "recipientsLock": {
            "description": "When **true,** prevents senders from changing, correcting, or deleting the recipient information for the envelope.",
            "type": "string"
          },
          "recipientsUri": {
            "description": "Contains a URI for an endpoint that you can use to retrieve the recipients.",
            "type": "string"
          },
          "recipientViewRequest": {
            "$ref": "#/components/schemas/recipientViewRequest",
            "description": ""
          },
          "sender": {
            "$ref": "#/components/schemas/userInfo",
            "description": "Information about the sender of the envelope."
          },
          "sentDateTime": {
            "description": "The UTC DateTime when the envelope was sent. This property is read-only.",
            "type": "string"
          },
          "signerCanSignOnMobile": {
            "description": "When **true,** recipients can sign on a mobile device.\n\n**Note:** Only Admin users can change this setting.\n",
            "type": "string"
          },
          "signingLocation": {
            "description": "Specifies the physical location where the signing takes place. It can have two enumeration values; `inPerson` and `online`. The default value is `online`.",
            "type": "string"
          },
          "status": {
            "description": "Indicates the envelope status. Valid values when creating an envelope are: \n\n* `created`: The envelope is created as a draft. It can be modified and sent later.\n* `sent`: The envelope will be sent to the recipients after the envelope is created.\n\nYou can query these additional statuses once the recipients have interacted with the envelope.\n\n* `completed`: The recipients have finished working with the envelope: the documents are signed and all required tabs are filled in.\n* `declined`: The envelope has been declined by the recipients.\n* `delivered`: The envelope has been delivered to the recipients.\n* `signed`: The envelope has been signed by the recipients.\n* `voided`: The envelope is no longer valid and recipients cannot access or sign the envelope.\n",
            "type": "string"
          },
          "statusChangedDateTime": {
            "description": "The data and time that the status changed.",
            "type": "string"
          },
          "templateId": {
            "description": "The ID of the template. If a value is not provided, Docusign generates a value. ",
            "type": "string"
          },
          "templateRoles": {
            "description": "This object specifies the template recipients. Each `roleName` in the template must have a recipient assigned to it. This object is comprised of the following elements:\n\n* `email`: The recipient's email address.\n* `name`: The recipient's name.\n* `roleName`: The template roleName associated with the recipient.\n* `clientUserId`: An optional property that specifies whether the recipient is embedded or remote. If the `clientUserId` is not null, then the recipient is embedded. Note that if a `clientUserId` is used and the account settings `signerMustHaveAccount` or `signerMustLoginToSign` are **true,** an error is generated on sending.\n* `defaultRecipient`: Optional, When **true,** this recipient is the default recipient and any tabs generated by the `transformPdfFields` option are mapped to this recipient.\n* `routingOrder`: This specifies the routing order of the recipient in the envelope.\n* `accessCode`: This optional element specifies the access code a recipient has to enter to validate the identity. Maximum Length: 50 characters.\n* `inPersonSignerName`: Optional. If the template role is an in-person signer, this is the full legal name of the signer. Maximum Length: 100 characters.\n* `emailNotification`: This is an optional complex element that has a role-specific `emailSubject`, `emailBody`, and `language`. It follows the same format as the `emailNotification` property for recipients.\n* `tabs`: This property enables the tab values to be specified for matching to tabs in the template.\n",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/templateRole"
            }
          },
          "templatesUri": {
            "description": "The URI for retrieving any templates associated with the envelope.",
            "type": "string"
          },
          "transactionId": {
            "description": " Used to identify an envelope. The ID is a sender-generated value and is valid in the Docusign system for 7 days. Docusign recommends that you use a transaction ID for offline signing to ensure that an envelope is not sent multiple times. You can use the `transactionId` property to determine an envelope's status (i.e. was it created or not) in cases where the Internet connection was lost before the envelope status was returned.",
            "type": "string"
          },
          "useDisclosure": {
            "description": "When **true,** the disclosure is shown to recipients in accordance with the account's Electronic Record and Signature Disclosure frequency setting. When **false,** the Electronic Record and Signature Disclosure is not shown to any envelope recipients. \n\nIf the `useDisclosure` property is not set, then the account's normal disclosure setting is used and the value of the `useDisclosure` property is not returned in responses when getting envelope information.",
            "type": "string"
          },
          "uSigState": {
            "description": "",
            "type": "string"
          },
          "voidedDateTime": {
            "description": "The date and time the envelope or template was voided.",
            "type": "string"
          },
          "voidedReason": {
            "description": "The reason the envelope or template was voided.\n\n**Note:** The string is truncated to the first 200 characters.\n",
            "type": "string"
          },
          "workflow": {
            "$ref": "#/components/schemas/workflow",
            "description": "Describes the workflow for this envelope."
          }
        },
        "description": "Envelope object definition.",
        "x-ds-definition-name": "envelopeDefinition",
        "x-ms-summary": "Envelope object definition."
      },
      "envelope": {
        "type": "object",
        "properties": {
          "accessControlListBase64": {
            "description": "Reserved for Docusign.",
            "type": "string"
          },
          "allowComments": {
            "description": "When **true,** users can add comments to the documents in the envelope. For example, if a signer has a question about the text in the document, they can add a comment to the document.",
            "type": "string"
          },
          "allowMarkup": {
            "description": "When **true,** the Document Markup feature is enabled.\n\n**Note:**  To use this feature, Document Markup must be enabled at both the account and envelope levels. Only Admin users can change this setting at the account level.\n",
            "type": "string"
          },
          "allowReassign": {
            "description": "When **true,** the recipient can redirect an envelope to a more appropriate recipient.",
            "type": "string"
          },
          "allowViewHistory": {
            "description": "When **true,** recipients can view the history of the envelope.",
            "type": "string"
          },
          "anySigner": {
            "description": "Deprecated. This feature has been replaced by signing groups.",
            "type": "string"
          },
          "asynchronous": {
            "description": "When **true,** the envelope is queued for\nprocessing and the value of the `status` property\nis set to `Processing`. Additionally, GET status\ncalls return `Processing` until completed.\n\n\n**Note:** A `transactionId` is required for this\ncall to work correctly. When the envelope is\ncreated, the status is `Processing` and an\n`envelopeId` is not returned in the response. To\nget the `envelopeId`, use a GET envelope query by\nusing the\n[transactionId](/docs/esign-rest-api/reference/envelopes/envelopes/create/) or by checking the\nConnect notification.",
            "type": "string"
          },
          "attachmentsUri": {
            "description": "Contains a URL for retrieving the attachments that are associated with the envelope.",
            "type": "string"
          },
          "authoritativeCopy": {
            "description": "When **true,** marks all of the documents in the envelope as authoritative copies.\n\n**Note:** You can override this value for a specific document. For example, you can set the `authoritativeCopy` property to **true** at the envelope level, but turn it off for a single document by setting the `authoritativeCopy` property for the document to **false.**",
            "type": "string"
          },
          "authoritativeCopyDefault": {
            "description": "The default `authoritativeCopy` setting for documents in this envelope that do not have `authoritativeCopy` set.\nIf this property is not set, each document defaults to the envelope's `authoritativeCopy`.",
            "type": "string"
          },
          "autoNavigation": {
            "description": "When **true,** autonavigation is set for the recipient.\n",
            "type": "string"
          },
          "brandId": {
            "description": "The ID of the brand.",
            "type": "string"
          },
          "brandLock": {
            "description": "When **true,** the `brandId` for the envelope is locked and senders cannot change the brand used for the envelope.",
            "type": "string"
          },
          "burnDefaultTabData": {
            "description": "",
            "type": "string"
          },
          "certificateUri": {
            "description": "The URI for retrieving certificate information.",
            "type": "string"
          },
          "completedDateTime": {
            "description": "Specifies the date and time this item was completed.",
            "type": "string"
          },
          "copyRecipientData": {
            "description": "",
            "type": "string"
          },
          "createdDateTime": {
            "description": "The UTC DateTime when the item was created.",
            "type": "string"
          },
          "customFields": {
            "$ref": "#/components/schemas/AccountCustomFields",
            "description": "An optional array of strings that enables the sender to provide custom data about the envelope. This information is returned in the envelope status but otherwise not used by Docusign. Each `customField` string can be a maximum of 100 characters."
          },
          "customFieldsUri": {
            "description": "The URI for retrieving custom fields.",
            "type": "string"
          },
          "declinedDateTime": {
            "description": "The date and time the recipient declined the document. This property is read-only.",
            "type": "string"
          },
          "deletedDateTime": {
            "description": "Reserved for Docusign.",
            "type": "string"
          },
          "deliveredDateTime": {
            "description": "The date and time that the envelope was delivered to the recipient. This property is read-only.",
            "type": "string"
          },
          "disableResponsiveDocument": {
            "description": "When **true,** responsive documents are disabled for the envelope.",
            "type": "string"
          },
          "documentBase64": {
            "description": "The document's bytes. This field can be used to include a base64 version of the document bytes within an envelope definition instead of sending the document using a multi-part HTTP request. The maximum document size is smaller if this field is used due to the overhead of the base64 encoding.",
            "type": "string"
          },
          "documentsCombinedUri": {
            "description": "The URI for retrieving all of the documents associated with the envelope as a single PDF file.",
            "type": "string"
          },
          "documentsUri": {
            "description": "The URI for retrieving all of the documents associated with the envelope as separate files.",
            "type": "string"
          },
          "emailBlurb": {
            "description": "This is the same as the email body. If specified it is included in email body for all envelope recipients.",
            "type": "string"
          },
          "emailSettings": {
            "$ref": "#/components/schemas/emailSettings",
            "description": "A complex type that contains email settings."
          },
          "emailSubject": {
            "description": "The subject line of the email message that is sent to all recipients.\n\nFor information about adding merge field information to the email subject, see [Template Email Subject Merge Fields](/docs/esign-rest-api/reference/templates/templates/create/#template-email-subject-merge-fields).\n\n**Note:** The subject line is limited to 100 characters, including any merged fields.It is not truncated. It is an error if the text is longer than 100 characters.\n",
            "type": "string"
          },
          "enableWetSign": {
            "description": "When **true,** the signer is allowed to print the document and sign it on paper.",
            "type": "string"
          },
          "enforceSignerVisibility": {
            "description": "When **true,** the option selected in the **Document Visibility** section in your account [Sending Settings][sendingsettings] will be enforced for the envelope. See [Fields and Properties][fieldsproperties] for details about document visibility options. Setting `enforceSignerVisibility` to **true** also enables you to omit documents from the specified recipients' envelopes by using the  [`excludedDocuments`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#schema__envelopedefinition_recipients_signers_excludeddocuments) array. Recipients that have an administrative role (Agent, Editor, or Intermediaries) or informational role (Certified Deliveries or Carbon Copies) can always see all of the documents in an envelope, unless they are specifically excluded by using the `excludedDocuments` setting when an envelope is sent. Documents that do not have tabs are always visible to all recipients, unless they are excluded by using the `excludedDocuments` setting.\n\n**Note:** To use this functionality, [document visibility][docviz] must be enabled for the account. The document visibility feature is available in all developer accounts, but only in certain production account plans. Contact [Docusign Support][support] or your account manager to find out whether document visibility is available for your production account plan.\n\n[docviz]: /docs/esign-rest-api/reference/envelopes/envelopedocumentvisibility/\n[sendingsettings]: https://admindemo.docusign.com/authenticate?goTo=sending\n[fieldsproperties]: https://support.docusign.com/s/document-item?rsc_301&bundleId=pik1583277475390&topicId=xgg1583277350154.html\n[support]: https://support.docusign.com/en/contactSupport#",
            "type": "string"
          },
          "envelopeAttachments": {
            "description": "An array of attachment objects that provide information about the attachments that are associated with the envelope.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/attachment"
            }
          },
          "envelopeCustomMetadata": {
            "$ref": "#/components/schemas/envelopeCustomMetadata",
            "description": ""
          },
          "envelopeDocuments": {
            "description": "An array containing information about the documents that are included in the envelope.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/envelopeDocument"
            }
          },
          "envelopeId": {
            "description": "The envelope ID of the envelope status that failed to post.",
            "type": "string"
          },
          "envelopeIdStamping": {
            "description": "When **true,** [Envelope ID Stamping](https://support.docusign.com/s/document-item?bundleId=gbo1643332197980&topicId=tfm1578456367923.html) is enabled.\nAfter a document or attachment is stamped with an Envelope ID,\nthe ID is seen by all recipients\nand becomes a permanent part of the document\nand cannot be removed.",
            "type": "string"
          },
          "envelopeLocation": {
            "description": "Reserved for Docusign.",
            "type": "string"
          },
          "envelopeMetadata": {
            "$ref": "#/components/schemas/envelopeMetadata",
            "description": "Provides information about the features and services that are enabled for the envelope, including the Correct feature, the Advanced Correct feature, and Docusign eNotary service."
          },
          "envelopeUri": {
            "description": "The URI for retrieving the envelope or envelopes.",
            "type": "string"
          },
          "expireAfter": {
            "description": "Not used. Use the\n[`expirations`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#definition__envelopedefinition_notification_expirations)\nproperty in the [`notification`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#definition__envelopedefinition_notification) object instead.",
            "type": "string"
          },
          "expireDateTime": {
            "description": "The date and time that the envelope is set to expire. This value is determined by the `InitialSentDateTime` of the envelope and the `expireAfter` property of the `notification` object. (Note that the `expireAfter` property of the envelope itself is not used.)\n",
            "type": "string"
          },
          "expireEnabled": {
            "description": "Not used. Use the\n[`expirations`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#definition__envelopedefinition_notification_expirations)\nproperty in the [`notification`](/docs/esign-rest-api/reference/envelopes/envelopes/create/#definition__envelopedefinition_notification) object instead.",
            "type": "string"
          },
          "externalEnvelopeId": {
            "description": "May contain an external identifier for the envelope.",
            "type": "string"
          },
          "folders": {
            "description": "A list of folder objects.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/folder"
            }
          },
          "hasComments": {
            "description": "When **true,** indicates that users have added comments to the envelope.",
            "type": "string"
          },
          "hasFormDataChanged": {
            "description": "When **true,** indicates that the data collected through form fields on a document has changed.",
            "type": "string"
          },
          "hasWavFile": {
            "description": "When **true,** indicates that a .wav file used for voice authentication is included in the envelope. ",
            "type": "string"
          },
          "holder": {
            "description": "Reserved for Docusign.",
            "type": "string"
          },
          "initialSentDateTime": {
            "description": "The date and time the envelope was initially sent.",
            "type": "string"
          },
          "is21CFRPart11": {
            "description": "When **true,** indicates compliance with United States Food and Drug Administration (FDA) regulations on electronic records and electronic signatures (ERES).",
            "type": "string"
          },
          "isDynamicEnvelope": {
            "description": "When **true,** indicates that the envelope is a dynamic envelope.",
            "type": "string"
          },
          "isSignatureProviderEnvelope": {
            "description": "When **true,** indicates that the envelope is a signature-provided envelope.",
            "type": "string"
          },
          "isTicketRelatedEnvelope": {
            "description": "",
            "type": "string"
          },
          "lastModifiedDateTime": {
            "description": "The date and time that the item was last modified.",
            "type": "string"
          },
          "location": {
            "description": "Reserved for Docusign.",
            "type": "string"
          },
          "lockInformation": {
            "$ref": "#/components/schemas/EnvelopeLocks",
            "description": "Provides lock information about an envelope that a user has locked."
          },
          "messageLock": {
            "description": "When **true,** prevents senders from changing the contents of `emailBlurb` and `emailSubject` properties for the envelope. \n\nAdditionally, this prevents users from making changes to the contents of `emailBlurb` and `emailSubject` properties when correcting envelopes. \n\nHowever, if the `messageLock` node is set to **true** and the `emailSubject` property is empty, senders and correctors are able to add a subject to the envelope.",
            "type": "string"
          },
          "notification": {
            "$ref": "#/components/schemas/notification",
            "description": ""
          },
          "notificationUri": {
            "description": "The URI for retrieving notifications.",
            "type": "string"
          },
          "powerForm": {
            "$ref": "#/components/schemas/powerForm",
            "description": "Information about any PowerForms that are included in the envelope."
          },
          "purgeCompletedDate": {
            "description": "The date that a purge was completed.",
            "type": "string"
          },
          "purgeRequestDate": {
            "description": "The date that a purge was requested.",
            "type": "string"
          },
          "purgeState": {
            "description": "Shows the current purge state for the envelope. Valid values:\n\n- `unpurged`: There has been no successful request to purge documents.\n- `documents_queued`: The envelope documents have been added to the purge queue, but have not been purged.\n- `documents_dequeued`: The envelope documents have been taken out of the purge queue.\n- `documents_purged`: The envelope documents have been successfully purged.\n- `documents_and_metadata_queued`: The envelope documents and metadata have been added to the purge queue, but have not yet been purged.\n- `documents_and_metadata_purged`: The envelope documents and metadata have been successfully purged.\n- `documents_and_metadata_and_redact_queued`: The envelope documents and metadata have been added to the purge queue, but have not yet been purged, nor has personal information been redacted.\n- `documents_and_metadata_and_redact_purged`: The envelope documents and metadata have been successfully purged, and personal information has been redacted.\n\n**Related topics**\n\n- [Purging documents (eSingature Concepts)](/docs/esign-rest-api/esign101/concepts/documents/purging/)\n- [Purging documents in an envelope (blog post)](https://www.docusign.com/blog/developers/purging-documents-envelope)\n\n",
            "type": "string"
          },
          "recipients": {
            "$ref": "#/components/schemas/EnvelopeRecipients",
            "description": "An array of recipient objects that provides details about the recipients of the envelope."
          },
          "recipientsLock": {
            "description": "When **true,** prevents senders from changing, correcting, or deleting the recipient information for the envelope.",
            "type": "string"
          },
          "recipientsUri": {
            "description": "Contains a URI for an endpoint that you can use to retrieve the recipients.",
            "type": "string"
          },
          "sender": {
            "$ref": "#/components/schemas/userInfo",
            "description": "Information about the sender of the envelope."
          },
          "sentDateTime": {
            "description": "The UTC DateTime when the envelope was sent. This property is read-only.",
            "type": "string"
          },
          "signerCanSignOnMobile": {
            "description": "When **true,** recipients can sign on a mobile device.\n\n**Note:** Only Admin users can change this setting.\n",
            "type": "string"
          },
          "signingLocation": {
            "description": "Specifies the physical location where the signing takes place. It can have two enumeration values; `inPerson` and `online`. The default value is `online`.",
            "type": "string"
          },
          "status": {
            "description": "Indicates the envelope status. Valid values are:\n\n* `completed`: The recipients have finished working with the envelope: the documents are signed and all required tabs are filled in.\n* `created`: The envelope is created as a draft. It can be modified and sent later.\n* `declined`: The envelope has been declined by the recipients.\n* `delivered`: The envelope has been delivered to the recipients.\n* `sent`: The envelope will be sent to the recipients after the envelope is created.\n* `signed`: The envelope has been signed by the recipients.\n* `voided`: The envelope is no longer valid and recipients cannot access or sign the envelope.\n",
            "type": "string"
          },
          "statusChangedDateTime": {
            "description": "The data and time that the status changed.",
            "type": "string"
          },
          "templatesUri": {
            "description": "The URI for retrieving the templates.",
            "type": "string"
          },
          "transactionId": {
            "description": " Used to identify an envelope.\n\n The ID is a sender-generated value and is valid in the Docusign system for 7 days.\n It is recommended that a transaction ID is used for offline\n signing to ensure that an envelope is not sent multiple times.\n The `transactionId` property can be used determine an envelope's\n status (i.e. was it created or not) in cases where the internet c\n onnection was lost before the envelope status was returned.",
            "type": "string"
          },
          "useDisclosure": {
            "description": "When **true,** the disclosure is shown to recipients in accordance with the account's Electronic Record and Signature Disclosure frequency setting. When **false,** the Electronic Record and Signature Disclosure is not shown to any envelope recipients. \n\nIf the `useDisclosure` property is not set, then the account's normal disclosure setting is used and the value of the `useDisclosure` property is not returned in responses when getting envelope information.",
            "type": "string"
          },
          "uSigState": {
            "description": "",
            "type": "string"
          },
          "voidedDateTime": {
            "description": "The date and time the envelope or template was voided.",
            "type": "string"
          },
          "voidedReason": {
            "description": "The reason the envelope or template was voided.\n\n**Note:** The string is truncated to the first 200 characters.\n",
            "type": "string"
          },
          "workflow": {
            "$ref": "#/components/schemas/workflow",
            "description": ""
          }
        },
        "x-ds-definition-name": "envelope",
        "description": "",
        "x-ms-summary": ""
      },
      "bulkEnvelopeStatus": {
        "type": "object",
        "properties": {
          "batchId": {
            "description": "Specifies an identifier which can be used to retrieve a more detailed status of individual bulk recipient batches.",
            "type": "string"
          },
          "batchSize": {
            "description": "The number of items returned in this response.",
            "type": "string"
          },
          "bulkEnvelopes": {
            "description": "A list of bulk envelope objects.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/bulkEnvelope"
            }
          },
          "bulkEnvelopesBatchUri": {
            "description": "URI at which you can retrieve the batch envelopes.",
            "type": "string"
          },
          "endPosition": {
            "description": "The last index position in the result set. ",
            "type": "string"
          },
          "failed": {
            "description": "The number of entries with a status of failed. ",
            "type": "string"
          },
          "nextUri": {
            "description": "The URI for the next chunk of records based on the search request. It is `null` if this is the last set of results for the search. ",
            "type": "string"
          },
          "previousUri": {
            "description": "The URI for the prior chunk of records based on the search request. It is `null` if this is the first set of results for the search. ",
            "type": "string"
          },
          "queued": {
            "description": "The number of entries with a status of queued. ",
            "type": "string"
          },
          "resultSetSize": {
            "description": "The number of results in this response. Because you can filter which entries are included in the response, this value is always less than or equal to the `totalSetSize`.",
            "type": "string"
          },
          "sent": {
            "description": "The number of entries with a status of sent.",
            "type": "string"
          },
          "startPosition": {
            "description": "The starting index position of the current result set.",
            "type": "string"
          },
          "submittedDate": {
            "description": "The date on which the bulk envelope was created.",
            "type": "string"
          },
          "totalSetSize": {
            "description": "The total number of items in the result set. This value is always greater than or equal to the value of `resultSetSize`.",
            "type": "string"
          }
        },
        "x-ds-definition-name": "bulkEnvelopeStatus",
        "description": "",
        "x-ms-summary": ""
      },
      "attachment": {
        "description": "Contains information about an attachment.",
        "type": "object",
        "properties": {
          "accessControl": {
            "description": "Valid values are `sender` and `senderAndAllRecipients`.",
            "type": "string"
          },
          "attachmentId": {
            "description": "The unique identifier for the attachment.",
            "type": "string"
          },
          "attachmentType": {
            "description": "Specifies the type of the attachment for the recipient.",
            "type": "string"
          },
          "data": {
            "description": "A Base64-encoded representation of the attachment that is used to upload and download the file. File attachments may be up to 50 MB in size.",
            "type": "string"
          },
          "label": {
            "description": "A label for the attachment. Potential values include: \n\n- `guidedForm`: [Guided forms](https://www.docusign.com/products/guided-forms) provide a step-by-step, mobile-ready experience to help signers easily complete long or complex forms.\n- `eventNotifications`: A list of envelope-level event statuses that trigger Connect to send updates to the endpoint specified in the `url` property. \n",
            "type": "string"
          },
          "name": {
            "description": "The name of the attachment.",
            "type": "string"
          },
          "remoteUrl": {
            "description": "The URL of a previously staged chunked upload. Using a chunked upload enables you to stage a large, chunkable temp file. You then use the `remoteUrl` property to reference the chunked upload as the content in attachment and document-related requests. The `remoteUrl` property cannot be used for downloads.",
            "type": "string"
          }
        },
        "x-ds-definition-name": "attachment",
        "x-ms-summary": "Contains information about an attachment."
      },
      "compositeTemplate": {
        "type": "object",
        "properties": {
          "compositeTemplateId": {
            "description": "The ID of this composite template. This ID is used as a reference when adding document object information. If used, the document's `content-disposition` must include the composite template ID to which the document should be added. If a composite template ID is not specified in the content-disposition, the document is applied based on the value of the `documentId` property only. If no document object is specified, the composite template inherits the first document.",
            "type": "string"
          },
          "document": {
            "$ref": "#/components/schemas/document",
            "description": "An optional document object that will act as the primary document in the composite template object. If the document node is present, it will take precedence over any server template or inline template documents. It always comes first. Only use this when you want to supply the document dynamically."
          },
          "inlineTemplates": {
            "description": " Zero or more inline templates and their position in the overlay. If supplied, they are overlaid into the envelope in the order of their Sequence value.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inlineTemplate"
            }
          },
          "pdfMetaDataTemplateSequence": {
            "description": "A number representing the sequence in which to apply the template that contains the PDF metadata.\n\nExample: `4`",
            "type": "string"
          },
          "serverTemplates": {
            "description": "Zero or more server-side templates and their position in the overlay. If supplied, they are overlaid into the envelope in the order of their Sequence value.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/serverTemplate"
            }
          }
        },
        "description": "This object contains information about a [composite template][composite], which you can use to to apply multiple templates to a single envelope, combine templates with PDF forms, and combine templates with documents from cloud sources.\n\n[composite]: /docs/esign-rest-api/esign101/concepts/templates/composite/",
        "x-ds-definition-name": "compositeTemplate",
        "x-ms-summary": "This object contains information about a [composite template][composite], which you can use to to apply multiple templates to a single envelope, combine templates with PDF forms, and combine templates with documents from cloud sources.\n\n[composite]: /docs/esign-rest-api/esign101/concepts/templates/composite/"
      },
      "AccountCustomFields": {
        "description": "An `accountCustomField` is an envelope custom field that you set at the account level.\nApplying custom fields enables account administrators to group and manage envelopes.\n",
        "type": "object",
        "properties": {
          "listCustomFields": {
            "description": "An array of list custom fields.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/listCustomField"
            }
          },
          "textCustomFields": {
            "description": "An array of text custom fields.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/textCustomField"
            }
          }
        },
        "x-ds-definition-name": "customFields",
        "x-ds-category": "Accounts",
        "x-ds-order": "30",
        "x-ms-summary": "An `accountCustomField` is an envelope custom field that you set at the account level.\nApplying custom fields enables account administrators to group and manage envelopes.\n"
      },
      "document": {
        "type": "object",
        "properties": {
          "applyAnchorTabs": {
            "description": "Reserved for Docusign.",
            "type": "string"
          },
          "assignTabsToRecipientId": {
            "description": "",
            "type": "string"
          },
          "authoritativeCopy": {
            "description": "When **true,** this document is considered an authoritative copy.\n\nIf this property is not set, it gets its value from the envelope's `authoritativeCopyDefault` property if it's set, or the envelope's `authoritativeCopy` property.\n\nWhen **false,** this document is not an authoritative copy regardless of the envelope's `authoritativeCopyDefault` or `authoritativeCopy` property.",
            "type": "boolean"
          },
          "display": {
            "description": "This string sets the display and behavior properties of\nthe document during signing. Valid values:\n\n* `modal`<br>\n  The document is shown as a supplement action strip\n  and can be viewed, downloaded, or printed in a modal window.\n  This is the recommended value for supplemental documents. \n\n* `inline`<br>\n  The document is shown in the normal signing window.\n  This value is not used with supplemental documents,\n  but is the default value for all other documents.\n",
            "type": "string"
          },
          "docGenDocumentStatus": {
            "description": "",
            "type": "string"
          },
          "docGenFormFields": {
            "description": "",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/docGenFormField"
            }
          },
          "documentBase64": {
            "description": "The document's bytes. This field can be used to include a base64 version of the document bytes within an envelope definition instead of sending the document using a multi-part HTTP request. The maximum document size is smaller if this field is used due to the overhead of the base64 encoding.",
            "type": "string"
          },
          "documentFields": {
            "description": "The array of name/value custom data strings to be added to a document. Custom document field information is returned in the status, but otherwise is not used by Docusign. The array contains the elements: \n\n* `name`: A string that can be a maximum of 50 characters. \n* `value`: A string that can be a maximum of 200 characters.\n\nIf you are using XML, the name/value pair is contained in a `nameValue` element. \n",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/nameValue"
            }
          },
          "documentId": {
[...]
