{
  "openapi": "3.0.0",
  "info": {
    "title": "Mailchimp Marketing API (curated real subset)",
    "version": "3.0.91",
    "description": "Curated subset (2 operations) extracted verbatim from the real published Swagger 2.0 document at https://api.mailchimp.com/schema/3.0/Swagger.json, converted to OpenAPI 3 shape (body/formData parameters folded into requestBody, response `schema` wrapped in `content`) — every field, description and constraint below is copied from the upstream document, only the envelope changed. 0 expandable-resource unions collapsed, 0 other unions stubbed. No schema hit the depth/size cap."
  },
  "servers": [
    {
      "url": "https://server.api.mailchimp.com/3.0"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/lists/{list_id}/members": {
      "post": {
        "summary": "Add member to list",
        "description": "Add a new member to the list.",
        "operationId": "postListsIdMembers",
        "parameters": [
          {
            "$ref": "#/components/schemas/Parameters_ListID"
          },
          {
            "$ref": "#/components/schemas/Parameters_SkipMergeValidation"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Members_Response"
                }
              }
            }
          },
          "default": {
            "description": "An error generated by the Mailchimp API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Responses_ServerError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "lists"
        ],
        "x-custom-config": {
          "methodNameSnake": "add_list_member",
          "methodNameCamel": "addListMember"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Members_POST"
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/actions/send": {
      "post": {
        "summary": "Send campaign",
        "description": "Send a Mailchimp campaign. For RSS Campaigns, the campaign will send according to its schedule. All other campaigns will send immediately.",
        "operationId": "postCampaignsIdActionsSend",
        "parameters": [
          {
            "$ref": "#/components/schemas/Parameters_CampaignID"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/schemas/Responses_EmptyResponse"
          },
          "default": {
            "description": "An error generated by the Mailchimp API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Responses_ServerError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "campaigns"
        ],
        "x-custom-config": {
          "methodNameSnake": "send",
          "methodNameCamel": "send"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "Parameters_ListID": {
        "name": "list_id",
        "x-title": "List ID",
        "in": "path",
        "description": "The unique ID for the list.",
        "required": true,
        "type": "string"
      },
      "Parameters_SkipMergeValidation": {
        "name": "skip_merge_validation",
        "x-title": "Skip Merge Validation",
        "in": "query",
        "description": "If skip_merge_validation is true, member data will be accepted without merge field values, even if the merge field is usually required. This defaults to false.",
        "required": false,
        "type": "boolean"
      },
      "Members_Response": {
        "type": "object",
        "title": "List Members",
        "description": "Individuals who are currently or have been previously subscribed to this list, including members who have bounced or unsubscribed.",
        "properties": {
          "id": {
            "type": "string",
            "title": "Email ID",
            "description": "The MD5 hash of the lowercase version of the list member's email address.",
            "readOnly": true
          },
          "email_address": {
            "type": "string",
            "title": "Email Address",
            "description": "Email address for a subscriber."
          },
          "unique_email_id": {
            "type": "string",
            "title": "Unique Email ID",
            "description": "An identifier for the address across all of Mailchimp.",
            "readOnly": true
          },
          "contact_id": {
            "type": "string",
            "title": "Contact ID",
            "description": "As Mailchimp evolves beyond email, you may eventually have contacts without email addresses. While the `id` is the MD5 hash of their email address, this `contact_id` is agnostic of contact’s inclusion of an email address.",
            "readOnly": true
          },
          "full_name": {
            "type": "string",
            "title": "Full Name",
            "description": "The contact's full name.",
            "readOnly": true
          },
          "web_id": {
            "type": "integer",
            "title": "Member Web ID",
            "description": "The ID used in the Mailchimp web application. View this member in your Mailchimp account at `https://{dc}.admin.mailchimp.com/lists/members/view?id={web_id}`.",
            "readOnly": true
          },
          "email_type": {
            "type": "string",
            "title": "Email Type",
            "description": "Type of email this member asked to get ('html' or 'text')."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Subscriber's current status.",
            "enum": [
              "subscribed",
              "unsubscribed",
              "cleaned",
              "pending",
              "transactional",
              "archived"
            ]
          },
          "unsubscribe_reason": {
            "type": "string",
            "title": "Unsubscribe Reason",
            "description": "A subscriber's reason for unsubscribing."
          },
          "consents_to_one_to_one_messaging": {
            "type": "boolean",
            "title": "Messaging Consent",
            "description": "Indicates whether a contact consents to 1:1 messaging.",
            "readOnly": true
          },
          "sms_phone_number": {
            "type": "string",
            "title": "SMS Phone Number",
            "description": "A US phone number for SMS contact."
          },
          "sms_subscription_status": {
            "type": "string",
            "title": "SMS Subscription Status",
            "description": "The status of an SMS subscription.",
            "enum": [
              "subscribed",
              "unsubscribed",
              "nonsubscribed",
              "pending"
            ]
          },
          "sms_subscription_last_updated": {
            "type": "string",
            "title": "SMS Subscription Last Update",
            "description": "The datetime when the SMS subscription was last updated"
          },
          "merge_fields": {
            "$ref": "#/components/schemas/Members_MergeFieldsDict"
          },
          "interests": {
            "type": "object",
            "title": "Subscriber Interests",
            "description": "The key of this object's properties is the ID of the interest in question.",
            "additionalProperties": {
              "type": "boolean",
              "title": "Interest Value",
              "description": "Keys are interest IDs, values are booleans that describe whether the list member is in that group or not."
            }
          },
          "stats": {
            "type": "object",
            "title": "Subscriber Stats",
            "description": "Open and click rates for this subscriber.",
            "readOnly": true,
            "properties": {
              "avg_open_rate": {
                "type": "number",
                "title": "Average Open Rate",
                "description": "A subscriber's average open rate.",
                "readOnly": true
              },
              "avg_click_rate": {
                "type": "number",
                "title": "Average Click Rate",
                "description": "A subscriber's average clickthrough rate.",
                "readOnly": true
              },
              "ecommerce_data": {
                "type": "object",
                "title": "Ecommerce Stats",
                "description": "Ecommerce stats for the list member if the list is attached to a store.",
                "readOnly": true,
                "properties": {
                  "total_revenue": {
                    "type": "number",
                    "title": "Total Revenue",
                    "description": "The total revenue the list member has brought in.",
                    "readOnly": true
                  },
                  "number_of_orders": {
                    "type": "number",
                    "title": "Total Number of Orders",
                    "description": "The total number of orders placed by the list member.",
                    "readOnly": true
                  },
                  "currency_code": {
                    "type": "string",
                    "title": "Currency",
                    "description": "The three-letter ISO 4217 code for the currency that the store accepts.",
                    "readOnly": true,
                    "example": "USD"
                  }
                }
              }
            }
          },
          "ip_signup": {
            "type": "string",
            "title": "Signup IP",
            "description": "IP address the subscriber signed up from.",
            "readOnly": true
          },
          "timestamp_signup": {
            "type": "string",
            "title": "Signup Timestamp",
            "description": "The date and time the subscriber signed up for the list in ISO 8601 format.",
            "format": "date-time",
            "readOnly": true
          },
          "ip_opt": {
            "type": "string",
            "title": "Opt-in IP",
            "description": "The IP address the subscriber used to confirm their opt-in status.",
            "readOnly": true
          },
          "timestamp_opt": {
            "type": "string",
            "title": "Opt-in Timestamp",
            "description": "The date and time the subscriber confirmed their opt-in status in ISO 8601 format.",
            "readOnly": true,
            "format": "date-time"
          },
          "member_rating": {
            "type": "integer",
            "title": "Member Rating",
            "description": "Star rating for this member, between 1 and 5.",
            "readOnly": true
          },
          "last_changed": {
            "type": "string",
            "title": "Last Changed Date",
            "description": "The date and time the member's info was last changed in ISO 8601 format.",
            "readOnly": true,
            "format": "date-time"
          },
          "language": {
            "type": "string",
            "title": "Language",
            "description": "If set/detected, the [subscriber's language](https://mailchimp.com/help/view-and-edit-contact-languages/)."
          },
          "vip": {
            "type": "boolean",
            "title": "VIP",
            "description": "[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber."
          },
          "email_client": {
            "type": "string",
            "title": "Email Client",
            "description": "The list member's email client.",
            "readOnly": true
          },
          "location": {
            "type": "object",
            "title": "Location",
            "description": "Subscriber location information.",
            "properties": {
              "latitude": {
                "type": "number",
                "title": "Latitude",
                "description": "The location latitude."
              },
              "longitude": {
                "type": "number",
                "title": "Longitude",
                "description": "The location longitude."
              },
              "gmtoff": {
                "type": "integer",
                "title": "GMT Offset",
                "description": "The time difference in hours from GMT.",
                "readOnly": true
              },
              "dstoff": {
                "type": "integer",
                "title": "DST Offset",
                "description": "The offset for timezones where daylight saving time is observed.",
                "readOnly": true
              },
              "country_code": {
                "type": "string",
                "title": "Country Code",
                "description": "The unique code for the location country.",
                "readOnly": true
              },
              "timezone": {
                "type": "string",
                "title": "Timezone",
                "description": "The timezone for the location.",
                "readOnly": true
              },
              "region": {
                "type": "string",
                "title": "Region",
                "description": "The region for the location.",
                "readOnly": true
              }
            }
          },
          "marketing_permissions": {
            "type": "array",
            "title": "Marketing Permissions",
            "description": "The marketing permissions for the subscriber.",
            "items": {
              "type": "object",
              "title": "Marketing Permission",
              "description": "A single marketing permission a subscriber has either opted-in to or opted-out of.",
              "properties": {
                "marketing_permission_id": {
                  "type": "string",
                  "title": "Marketing Permission ID",
                  "description": "The id for the marketing permission on the list"
                },
                "text": {
                  "type": "string",
                  "title": "Marketing Permission Text",
                  "description": "The text of the marketing permission."
                },
                "enabled": {
                  "type": "boolean",
                  "title": "Enabled",
                  "description": "If the subscriber has opted-in to the marketing permission."
                }
              }
            }
          },
          "last_note": {
            "type": "object",
            "title": "Notes",
            "description": "The most recent Note added about this member.",
            "readOnly": true,
            "properties": {
              "note_id": {
                "type": "integer",
                "title": "Note ID",
                "description": "The note id.",
                "readOnly": true
              },
              "created_at": {
                "type": "string",
                "title": "Created Time",
                "description": "The date and time the note was created in ISO 8601 format.",
                "format": "date-time",
                "readOnly": true
              },
              "created_by": {
                "type": "string",
                "title": "Author",
                "description": "The author of the note.",
                "readOnly": true
              },
              "note": {
                "type": "string",
                "title": "Note",
                "description": "The content of the note.",
                "readOnly": true
              }
            }
          },
          "source": {
            "type": "string",
            "title": "Subscriber Source",
            "description": "The source from which the subscriber was added to this list.",
            "readOnly": true
          },
          "tags_count": {
            "type": "integer",
            "title": "Tags Count",
            "description": "The number of tags applied to this member.",
            "readOnly": true
          },
          "tags": {
            "type": "array",
            "title": "Tags",
            "description": "Returns up to 50 tags applied to this member. To retrieve all tags see [Member Tags](https://mailchimp.com/developer/marketing/api/list-member-tags/).",
            "readOnly": false,
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "title": "Tag ID",
                  "description": "The tag id.",
                  "readOnly": true
                },
                "name": {
                  "type": "string",
                  "title": "Tag Name",
                  "description": "The name of the tag",
                  "readOnly": true
                }
              }
            }
          },
          "list_id": {
            "type": "string",
            "title": "List ID",
            "description": "The list id.",
            "readOnly": true
          },
          "_links": {
            "$ref": "#/components/schemas/Definitions_HATEOASLinks"
          }
        }
      },
      "Responses_ServerError": {
        "type": "object",
        "title": "Problem Detail Document",
        "description": "An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.",
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "instance"
        ],
        "properties": {
          "type": {
            "type": "string",
            "title": "Problem Type",
            "description": "An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.",
            "example": "https://mailchimp.com/developer/marketing/docs/errors/"
          },
          "title": {
            "type": "string",
            "title": "Error Title",
            "description": "A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.",
            "example": "Resource Not Found"
          },
          "status": {
            "type": "integer",
            "title": "HTTP Status Code",
            "description": "The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.",
            "example": 404
          },
          "detail": {
            "type": "string",
            "title": "Error Message",
            "description": "A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).",
            "example": "The requested resource could not be found."
          },
          "instance": {
            "type": "string",
            "title": "Instance ID",
            "description": "A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.",
            "example": "995c5cb0-3280-4a6e-808b-3b096d0bb219"
          }
        }
      },
      "Members_POST": {
        "type": "object",
        "title": "Add List Members",
        "description": "Individuals who are currently or have been previously subscribed to this list, including members who have bounced or unsubscribed.",
        "required": [
          "email_address",
          "status"
        ],
        "properties": {
          "email_address": {
            "type": "string",
            "title": "Email Address",
            "description": "Email address for a subscriber."
          },
          "email_type": {
            "type": "string",
            "title": "Email Type",
            "description": "Type of email this member asked to get ('html' or 'text')."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Subscriber's current status.",
            "enum": [
              "subscribed",
              "unsubscribed",
              "cleaned",
              "pending",
              "transactional"
            ]
          },
          "merge_fields": {
            "$ref": "#/components/schemas/Members_MergeFieldsDict"
          },
          "interests": {
            "type": "object",
            "title": "Subscriber Interests",
            "description": "The key of this object's properties is the ID of the interest in question.",
            "additionalProperties": {
              "type": "boolean",
              "title": "Interest Value",
              "description": "Keys are interest IDs, values are booleans that describe whether the list member is in that group or not."
            }
          },
          "language": {
            "type": "string",
            "title": "Language",
            "description": "If set/detected, the [subscriber's language](https://mailchimp.com/help/view-and-edit-contact-languages/)."
          },
          "vip": {
            "type": "boolean",
            "title": "VIP",
            "description": "[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber."
          },
          "location": {
            "type": "object",
            "title": "Location",
            "description": "Subscriber location information.",
            "properties": {
              "latitude": {
                "type": "number",
                "title": "Latitude",
                "description": "The location latitude."
              },
              "longitude": {
                "type": "number",
                "title": "Longitude",
                "description": "The location longitude."
              }
            }
          },
          "marketing_permissions": {
            "type": "array",
            "title": "Marketing Permissions",
            "description": "The marketing permissions for the subscriber.",
            "items": {
              "type": "object",
              "title": "Marketing Permission",
              "description": "A single marketing permission a subscriber has either opted-in to or opted-out of.",
              "properties": {
                "marketing_permission_id": {
                  "type": "string",
                  "title": "Marketing Permission ID",
                  "description": "The id for the marketing permission on the list"
                },
                "enabled": {
                  "type": "boolean",
                  "title": "Enabled",
                  "description": "If the subscriber has opted-in to the marketing permission."
                }
              }
            }
          },
          "ip_signup": {
            "type": "string",
            "title": "Signup IP",
            "description": "IP address the subscriber signed up from."
          },
          "timestamp_signup": {
            "type": "string",
            "title": "Signup Timestamp",
            "description": "The date and time the subscriber signed up for the list in ISO 8601 format.",
            "format": "date-time"
          },
          "ip_opt": {
            "type": "string",
            "title": "Opt-in IP",
            "description": "The IP address the subscriber used to confirm their opt-in status."
          },
          "timestamp_opt": {
            "type": "string",
            "title": "Opt-in Timestamp",
            "description": "The date and time the subscriber confirmed their opt-in status in ISO 8601 format.",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "title": "Tags on a member",
            "description": "The tags that are associated with a member.",
            "items": {
              "type": "string",
              "description": "The name of the tag that will be associated with this member."
            }
          }
        }
      },
      "Parameters_CampaignID": {
        "in": "path",
        "name": "campaign_id",
        "x-title": "Campaign ID",
        "type": "string",
        "required": true,
        "description": "The unique id for the campaign."
      },
      "Responses_EmptyResponse": {
        "description": "Empty Response"
      },
      "Members_MergeFieldsDict": {
        "type": "object",
        "title": "Merge Fields",
        "description": "A dictionary of merge fields where the keys are the merge tags. See the [Merge Fields documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/#structure) for more about the structure.",
        "additionalProperties": {
          "description": "This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field."
        }
      },
      "Definitions_HATEOASLinks": {
        "title": "Links",
        "description": "A list of link types and descriptions for the API schema documents.",
        "type": "array",
        "items": {
          "type": "object",
          "title": "Resource Link",
          "description": "This object represents a link from the resource where it is found to another resource or action that may be performed.",
          "properties": {
            "rel": {
              "type": "string",
              "title": "Rel",
              "description": "As with an HTML 'rel' attribute, this describes the type of link.",
              "readOnly": true
            },
            "href": {
              "type": "string",
              "title": "Href",
              "description": "This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.",
              "readOnly": true
            },
            "method": {
              "type": "string",
              "title": "Method",
              "description": "The HTTP method that should be used when accessing the URL defined in 'href'.",
              "enum": [
                "GET",
                "POST",
                "PUT",
                "PATCH",
                "DELETE",
                "OPTIONS",
                "HEAD"
              ],
              "readOnly": true
            },
            "targetSchema": {
              "type": "string",
              "title": "Target Schema",
              "description": "For GETs, this is a URL representing the schema that the response should conform to.",
              "readOnly": true
            },
            "schema": {
              "type": "string",
              "title": "Schema",
              "description": "For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.",
              "readOnly": true
            }
          }
        },
        "readOnly": true
      }
    }
  }
}
