{
  "openapi": "3.0.0",
  "info": {
    "title": "Notion API (curated real subset)",
    "version": "1.0.0",
    "description": "Curated subset (3 operations) extracted verbatim from the real published OpenAPI document at https://developers.notion.com/openapi.json. 0 \"expandable resource\" anyOf/oneOf unions were collapsed to their plain-string-id branch (the default-response shape without expansion); 6 other polymorphic unions were stubbed (x-integrelli-truncated) because the deterministic parser does not resolve oneOf/anyOf. No schema hit the depth/size cap."
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/pages": {
      "post": {
        "summary": "Create a page",
        "operationId": "post-page",
        "tags": [
          "Pages"
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.create({\n  parent: {\n    data_source_id: \"d9824bdc-8445-4327-be8b-5b47500af6ce\"\n  },\n  properties: {\n    Name: {\n      title: [{ text: { content: \"New Page Title\" } }]\n    }\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/post-page",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content",
          "https://developers.notion.com/guides/data-apis/creating-pages-from-templates"
        ],
        "parameters": [
          {
            "name": "filter_properties",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parent": {
                    "type": "object",
                    "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                    "x-integrelli-truncated": true
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                      "x-integrelli-truncated": true
                    }
                  },
                  "icon": {
                    "type": "object",
                    "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                    "x-integrelli-truncated": true
                  },
                  "cover": {
                    "type": "object",
                    "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                    "x-integrelli-truncated": true
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequest"
                    },
                    "maxItems": 100
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequest"
                    },
                    "maxItems": 100
                  },
                  "markdown": {
                    "description": "Page content as Notion-flavored Markdown. Mutually exclusive with content/children.",
                    "type": "string"
                  },
                  "allow_async": {
                    "description": "Set to true to receive an async_task response for markdown page creation. Only supported when markdown is provided.",
                    "type": "boolean"
                  },
                  "template": {
                    "type": "object",
                    "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                    "x-integrelli-truncated": true
                  },
                  "position": {
                    "$ref": "#/components/schemas/pagePositionSchema"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                  "x-integrelli-truncated": true
                }
              }
            }
          },
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "async_task"
                    },
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "status": {
                      "$ref": "#/components/schemas/nonTerminalAsyncTaskStatus"
                    },
                    "status_url": {
                      "type": "string",
                      "minLength": 1
                    },
                    "created_time": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "poll_after_seconds": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "operation": {
                      "type": "object",
                      "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                      "x-integrelli-truncated": true
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "object",
                    "id",
                    "status",
                    "status_url",
                    "created_time",
                    "poll_after_seconds",
                    "operation"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_400"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_401"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_403"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_404"
                }
              }
            }
          },
          "406": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_406"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_409"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_429"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_500"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_503"
                }
              }
            }
          },
          "504": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_504"
                }
              }
            }
          },
          "529": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_529"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pages/{page_id}": {
      "get": {
        "summary": "Retrieve a page",
        "operationId": "retrieve-a-page",
        "tags": [
          "Pages"
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.retrieve({\n  page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-a-page",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/idRequest",
              "description": "The ID of the page to retrieve."
            }
          },
          {
            "name": "filter_properties",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 100,
              "description": "Supply a list of property IDs to filter properties in the response. Note that if a page doesn't have a property, it won't be included in the filtered response."
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                  "x-integrelli-truncated": true
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_400"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_401"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_403"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_404"
                }
              }
            }
          },
          "406": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_406"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_409"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_429"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_500"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_503"
                }
              }
            }
          },
          "504": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_504"
                }
              }
            }
          },
          "529": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_529"
                }
              }
            }
          }
        }
      }
    },
    "/v1/data_sources/{data_source_id}/query": {
      "post": {
        "summary": "Query a data source",
        "operationId": "post-database-query",
        "tags": [
          "Data sources"
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.dataSources.query({\n  data_source_id: \"d9824bdc-8445-4327-be8b-5b47500af6ce\",\n  filter: {\n    property: \"Status\",\n    select: { equals: \"Done\" }\n  },\n  sorts: [\n    {\n      property: \"Created\",\n      direction: \"descending\"\n    }\n  ]\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/post-database-query",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-databases"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/idRequest"
            }
          },
          {
            "name": "filter_properties",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sorts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                      "x-integrelli-truncated": true
                    }
                  },
                  "filter": {
                    "type": "object",
                    "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                    "x-integrelli-truncated": true
                  },
                  "start_cursor": {
                    "type": "string"
                  },
                  "page_size": {
                    "type": "number"
                  },
                  "is_archived": {
                    "description": "Whether to return archived pages. When omitted or false, returns non-archived pages. When true, returns archived pages.",
                    "type": "boolean"
                  },
                  "result_type": {
                    "description": "Optionally filter the results to only include pages or data sources. Regular, non-wiki databases only support page children. The default behavior is no result type filtering, in other words, returning both pages and data sources for wikis.",
                    "type": "string",
                    "enum": [
                      "page",
                      "data_source"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Page Or Data Source",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "page_or_data_source"
                    },
                    "page_or_data_source": {
                      "$ref": "#/components/schemas/emptyObject"
                    },
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                        "x-integrelli-truncated": true
                      }
                    },
                    "request_status": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "incomplete"
                          ]
                        },
                        "incomplete_reason": {
                          "type": "string",
                          "enum": [
                            "query_result_limit_reached"
                          ]
                        }
                      },
                      "required": [
                        "type"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "page_or_data_source",
                    "object",
                    "next_cursor",
                    "has_more",
                    "results"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_400"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_401"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_403"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_404"
                }
              }
            }
          },
          "406": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_406"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_409"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_429"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_500"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_503"
                }
              }
            }
          },
          "504": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_504"
                }
              }
            }
          },
          "529": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_529"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "blockObjectRequest": {
        "type": "object",
        "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
        "x-integrelli-truncated": true
      },
      "pagePositionSchema": {
        "type": "object",
        "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
        "x-integrelli-truncated": true
      },
      "nonTerminalAsyncTaskStatus": {
        "type": "string",
        "enum": [
          "queued",
          "running",
          "retrying"
        ]
      },
      "error_api_400": {
        "allOf": [
          {
            "$ref": "#/components/schemas/publicApiCommonErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "enum": [
                  "invalid_json",
                  "invalid_request_url",
                  "invalid_request",
                  "missing_version",
                  "invalid_beta",
                  "validation_error",
                  "invalid_credit_limit"
                ]
              },
              "status": {
                "const": 400
              }
            },
            "required": [
              "code",
              "status"
            ],
            "additionalProperties": false
          }
        ]
      },
      "error_api_401": {
        "allOf": [
          {
            "$ref": "#/components/schemas/publicApiCommonErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "enum": [
                  "unauthorized"
                ]
              },
              "status": {
                "const": 401
              }
            },
            "required": [
              "code",
              "status"
            ],
            "additionalProperties": false
          }
        ]
      },
      "error_api_403": {
        "type": "object",
        "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
        "x-integrelli-truncated": true
      },
      "error_api_404": {
        "allOf": [
          {
            "$ref": "#/components/schemas/publicApiCommonErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "enum": [
                  "object_not_found",
                  "directory_not_found"
                ]
              },
              "status": {
                "const": 404
              }
            },
            "required": [
              "code",
              "status"
            ],
            "additionalProperties": false
          }
        ]
      },
      "error_api_406": {
        "allOf": [
          {
            "$ref": "#/components/schemas/publicApiCommonErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "enum": [
                  "row_limit_exceeded"
                ]
              },
              "status": {
                "const": 406
              }
            },
            "required": [
              "code",
              "status"
            ],
            "additionalProperties": false
          }
        ]
      },
      "error_api_409": {
        "allOf": [
          {
            "$ref": "#/components/schemas/publicApiCommonErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "enum": [
                  "conflict_error",
                  "idempotency_key_reused",
                  "agent_deleted"
                ]
              },
              "status": {
                "const": 409
              }
            },
            "required": [
              "code",
              "status"
            ],
            "additionalProperties": false
          }
        ]
      },
      "error_api_429": {
        "allOf": [
          {
            "$ref": "#/components/schemas/publicApiCommonErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "enum": [
                  "rate_limited"
                ]
              },
              "status": {
                "const": 429
              }
            },
            "required": [
              "code",
              "status"
            ],
            "additionalProperties": false
          }
        ]
      },
      "error_api_500": {
        "allOf": [
          {
            "$ref": "#/components/schemas/publicApiCommonErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "enum": [
                  "internal_server_error"
                ]
              },
              "status": {
                "const": 500
              }
            },
            "required": [
              "code",
              "status"
            ],
            "additionalProperties": false
          }
        ]
      },
      "error_api_503": {
        "allOf": [
          {
            "$ref": "#/components/schemas/publicApiCommonErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "enum": [
                  "service_unavailable"
                ]
              },
              "status": {
                "const": 503
              }
            },
            "required": [
              "code",
              "status"
            ],
            "additionalProperties": false
          }
        ]
      },
      "error_api_504": {
        "allOf": [
          {
            "$ref": "#/components/schemas/publicApiCommonErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "enum": [
                  "gateway_timeout"
                ]
              },
              "status": {
                "const": 504
              }
            },
            "required": [
              "code",
              "status"
            ],
            "additionalProperties": false
          }
        ]
      },
      "error_api_529": {
        "allOf": [
          {
            "$ref": "#/components/schemas/publicApiCommonErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "enum": [
                  "service_overload"
                ]
              },
              "status": {
                "const": 529
              }
            },
            "required": [
              "code",
              "status"
            ],
            "additionalProperties": false
          }
        ]
      },
      "idRequest": {
        "type": "string"
      },
      "emptyObject": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "publicApiCommonErrorResponse": {
        "type": "object",
        "properties": {
          "object": {
            "const": "error"
          },
          "message": {
            "type": "string"
          },
          "additional_data": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
              "x-integrelli-truncated": true
            }
          }
        },
        "required": [
          "object",
          "message"
        ]
      }
    },
    "parameters": {
      "notionVersion": {
        "name": "Notion-Version",
        "in": "header",
        "required": true,
        "schema": {
          "enum": [
            "2026-03-11"
          ]
        },
        "description": "The [API version](/reference/versioning) to use for this request. The latest version is `2026-03-11`."
      }
    }
  }
}
