{
  "openapi": "3.0.0",
  "info": {
    "title": "Square API (curated real subset)",
    "version": "2.0",
    "description": "Curated subset (2 operations) extracted verbatim from the real published OpenAPI document at https://raw.githubusercontent.com/square/connect-api-specification/master/api.json. 0 \"expandable resource\" anyOf/oneOf unions were collapsed to their plain-string-id branch (the default-response shape without expansion); 0 other polymorphic unions were stubbed (x-integrelli-truncated) because the deterministic parser does not resolve oneOf/anyOf. 6 nested schema(s) beyond depth 4 were also stubbed: CardBrand, CardType, CardPrepaidType, CardCoBrand, CardIssuerAlert, FelicaDetailsFelicaBrand."
  },
  "servers": [
    {
      "url": "https://connect.squareup.com",
      "variables": {}
    }
  ],
  "paths": {
    "/v2/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "CreatePayment",
        "operationId": "CreatePayment",
        "description": "Creates a payment using the provided source. You can use this endpoint \nto charge a card (credit/debit card or    \nSquare gift card) or record a payment that the seller received outside of Square \n(cash payment from a buyer or a payment that an external entity \nprocessed on behalf of the seller).\n\nThe endpoint creates a \n`Payment` object and returns it in the response.",
        "x-release-status": "PUBLIC",
        "security": [
          {
            "oauth2": [
              "PAYMENTS_WRITE"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentResponse"
                }
              }
            }
          }
        },
        "x-endpoint-errors": [
          {
            "error-code": "ADDRESS_VERIFICATION_FAILURE"
          },
          {
            "error-code": "ALLOWABLE_PIN_TRIES_EXCEEDED"
          },
          {
            "error-code": "APPLE_TTP_PIN_TOKEN"
          },
          {
            "error-code": "BAD_EXPIRATION"
          },
          {
            "error-code": "CARDHOLDER_INSUFFICIENT_PERMISSIONS"
          },
          {
            "error-code": "CARD_DECLINED_VERIFICATION_REQUIRED"
          },
          {
            "error-code": "CARD_EXPIRED"
          },
          {
            "error-code": "CARD_NOT_SUPPORTED"
          },
          {
            "error-code": "CARD_PROCESSING_NOT_ENABLED"
          },
          {
            "error-code": "CARD_TOKEN_EXPIRED"
          },
          {
            "error-code": "CARD_TOKEN_USED"
          },
          {
            "error-code": "CHIP_INSERTION_REQUIRED"
          },
          {
            "error-code": "CVV_FAILURE"
          },
          {
            "error-code": "EXPIRATION_FAILURE"
          },
          {
            "error-code": "GENERIC_DECLINE"
          },
          {
            "error-code": "GIFT_CARD_AVAILABLE_AMOUNT"
          },
          {
            "error-code": "INSUFFICIENT_FUNDS"
          },
          {
            "error-code": "INSUFFICIENT_PERMISSIONS"
          },
          {
            "error-code": "INVALID_ACCOUNT"
          },
          {
            "error-code": "INVALID_CARD"
          },
          {
            "error-code": "INVALID_CARD_DATA"
          },
          {
            "error-code": "INVALID_EMAIL_ADDRESS"
          },
          {
            "error-code": "INVALID_EXPIRATION"
          },
          {
            "error-code": "INVALID_FEES"
          },
          {
            "error-code": "INVALID_LOCATION"
          },
          {
            "error-code": "INVALID_PHONE_NUMBER"
          },
          {
            "error-code": "INVALID_PIN"
          },
          {
            "error-code": "INVALID_POSTAL_CODE"
          },
          {
            "error-code": "ISSUER_INSTALLMENT_ERROR"
          },
          {
            "error-code": "MANUALLY_ENTERED_PAYMENT_NOT_SUPPORTED"
          },
          {
            "error-code": "PAN_FAILURE"
          },
          {
            "error-code": "PAYMENT_AMOUNT_MISMATCH"
          },
          {
            "error-code": "PAYMENT_LIMIT_EXCEEDED"
          },
          {
            "error-code": "PAYMENT_SOURCE_NOT_ENABLED_FOR_TARGET"
          },
          {
            "error-code": "TEMPORARY_ERROR"
          },
          {
            "error-code": "TRANSACTION_LIMIT"
          },
          {
            "error-code": "VOICE_FAILURE"
          }
        ]
      }
    },
    "/v2/customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "CreateCustomer",
        "operationId": "CreateCustomer",
        "description": "Creates a new customer for a business.\n\nYou must provide at least one of the following values in your request to this\nendpoint:\n\n- `given_name`\n- `family_name`\n- `company_name`\n- `email_address`\n- `phone_number`",
        "x-release-status": "PUBLIC",
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_WRITE"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerResponse"
                }
              }
            }
          }
        },
        "x-endpoint-errors": [
          {
            "error-code": "INVALID_EMAIL_ADDRESS"
          },
          {
            "error-code": "INVALID_PHONE_NUMBER"
          },
          {
            "error-code": "INVALID_TIME"
          },
          {
            "error-code": "VALUE_TOO_LONG"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "x-additional-headers": [
          {
            "name": "Square-Version",
            "description": "Square Connect API versions",
            "schema": {
              "default": "2026-09-16"
            }
          }
        ],
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://connect.squareup.com/oauth2/authorize",
            "tokenUrl": "https://connect.squareup.com/oauth2/token",
            "scopes": {
              "ADDON_CONFIGURATIONS_READ": "__HTTP Method__: `GET`\n\nGrants write access for third-party Add-ons to read configurations of their Add-ons, for example, when calling `RetrieveConfiguration` endpoint.",
              "ADDON_CONFIGURATIONS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access for third-party Add-ons to store configurations of their Add-ons, for example, when calling `CreateConfiguration` endpoint.",
              "APPOINTMENTS_ALL_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to all of a seller's booking information, calendar, and business details.\nThis permission must be accompanied by the `APPOINTMENTS_READ` permission.",
              "APPOINTMENTS_ALL_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to all booking details, including double-booking a seller.\nThis permission must be accompanied by the `APPOINTMENTS_WRITE` permission.",
              "APPOINTMENTS_BUSINESS_SETTINGS_READ": "__HTTP Method__: `GET`\n\nGrants read access to booking business settings. For example, to call the\nListTeamMemberBookingProfiles endpoint.",
              "APPOINTMENTS_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to booking information. For example, to call the\nRetrieveBooking endpoint.",
              "APPOINTMENTS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to booking information. For example, to call the CreateBooking endpoint.",
              "BANK_ACCOUNTS_READ": "__HTTP Method__: `GET`\n\nGrants read access to bank account information associated with the targeted\nSquare account. For example, to call the Connect v1 ListBankAccounts endpoint.",
              "CASH_DRAWER_READ": "__HTTP Method__: `GET`\n\nGrants read access to cash drawer shift information. For example, to call the\nListCashDrawerShifts endpoint.",
              "CHANNELS_CREATE": "__HTTP Method__: `POST`\n\nGrants write access to create channels, for example, when calling the\n`CreateChannel` endpoint.",
              "CHANNELS_READ": "__HTTP Method__: `GET`\n\nGrants read access to view channels, for example, when calling the\n`RetrieveChannel` endpoint.",
              "CHANNELS_UPDATE": "__HTTP Method__: `PUT`\n\nGrants write access to update channels, for example, when calling the\n`UpdateChannel` endpoint.",
              "CUSTOMERS_READ": "__HTTP Method__: `GET`\n\nGrants read access to customer information. For example, to call the\nListCustomers endpoint.",
              "CUSTOMERS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to customer information. For example, to create and update\ncustomer profiles.",
              "DEVICES_READ": "__HTTP Method__: `GET`\n\nGrants read access to device information. For example, to\ncall the `GetDevice` and `ListDevices` endpoints.",
              "DEVICE_CREDENTIAL_MANAGEMENT": "__HTTP Method__: `POST`, `GET`\n\nGrants read/write access to device credentials information. For example, to\ncall the CreateDeviceCode endpoint.",
              "DISCOUNT_CODES_READ": "__HTTP Method__: `GET`\n\nGrants read access to Discount Codes API. For example, to call the `RetrieveDiscountCode` and `RetrieveRedemption` endpoints.",
              "DISCOUNT_CODES_WRITE": "__HTTP Method__: `POST`\n\nGrants write access to Discount Codes API.",
              "DISPUTES_READ": "__HTTP Method__: `GET`\n\nGrants read access to dispute information. For example, to call the RetrieveDispute\nendpoint.",
              "DISPUTES_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to dispute information. For example, to call the SubmitEvidence\nendpoint.",
              "EMPLOYEES_READ": "__HTTP Method__: `GET`\n\nGrants read access to employee profile information. For example, to call the\nConnect v1 Employees API.",
              "EMPLOYEES_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to employee profile information. For example, to create\nand modify employee profiles.",
              "GIFTCARDS_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to gift card information. For example, to call the RetrieveGiftCard\nendpoint.",
              "GIFTCARDS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to gift card information. For example, to call the CreateGiftCard\nendpoint.",
              "INVENTORY_READ": "__HTTP Method__: `GET`\n\nGrants read access to inventory information. For example, to call the\nRetrieveInventoryCount endpoint.",
              "INVENTORY_WRITE": "__HTTP Method__:  `POST`, `PUT`, `DELETE`\n\nGrants write access to inventory information. For example, to call the\nBatchChangeInventory endpoint.",
              "INVOICES_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to invoice information. For example, to call the ListInvoices endpoint.",
              "INVOICES_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to invoice information. For example, to call the CreateInvoice endpoint.",
              "ITEMS_READ": "__HTTP Method__: `GET`\n\nGrants read access to product catalog information. For example, to obtain objects in a product catalog.",
              "ITEMS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to product catalog information. For example, to modify or\nadd to a product catalog.",
              "LOYALTY_READ": "__HTTP Method__: `GET`\n\nGrants read access to loyalty information. For example, to call the\nListLoyaltyPrograms endpoint.",
              "LOYALTY_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to loyalty information. For example, to call the\nCreateLoyaltyAccount endpoint.",
              "MERCHANT_PROFILE_READ": "__HTTP Method__: `GET`\n\nGrants read access to business and location information. For example, to\nobtain a location ID for subsequent activity.",
              "MERCHANT_PROFILE_WRITE": "__HTTP Method__: `POST`, `PUT`\n\nGrants write access to business and location information. For example, to create a new location or\nupdate the business hours at an existing location.",
              "ONLINE_STORE_SITE_READ": "__HTTP Method__: `GET`, `POST`\n\nRead access to ECOM online store site details.",
              "ONLINE_STORE_SNIPPETS_READ": "__HTTP Method__: `GET`, `POST`\n\nRead access to ECOM online store snippets on published websites.",
              "ONLINE_STORE_SNIPPETS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nWrite access to ECOM online store snippets on published websites.",
              "ORDERS_READ": "__HTTP Method__: `GET`\n\nGrants read access to order information. For example, to call the\nBatchRetrieveOrders endpoint.",
              "ORDERS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to order information. For example, to call the\nCreateCheckout endpoint.",
              "PAYMENTS_READ": "__HTTP Method__: `GET`\n\nGrants read access to transaction and refund information. For example, to call\nthe RetrieveTransaction endpoint.",
              "PAYMENTS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to transaction and refunds information. For example, to\nprocess payments with the Payments or Checkout API.",
              "PAYMENTS_WRITE_ADDITIONAL_RECIPIENTS": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nAllow third party applications to deduct a portion of each transaction amount.\n__Required__ to use multiparty transaction functionality with the Payments\nAPI.",
              "PAYMENTS_WRITE_IN_PERSON": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to payments and refunds information. For example, to\nprocess in-person payments.",
              "PAYMENTS_WRITE_SHARED_ONFILE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nAllows the developer to process payments on behalf of a seller using a shared on file payment method.",
              "PAYOUTS_READ": "__HTTP Method__: `GET`\n\nGrants read access to payouts and payout entries information. For example,\nto call the Connect v2 `ListPayouts` endpoint.",
              "PAYOUTS_WRITE": "__HTTP Method__: `POST`\n\nGrants access to schedule a payout.",
              "PERMISSION_SETS_READ": "__HTTP Method__: `GET`\n\nGrants read access to Permission Sets. For example, to\ncall the `ListPermissionSets` and `RetrievePermissionSet` endpoints.",
              "PERMISSION_SETS_WRITE": "__HTTP Method__: `PUT`\n\nGrants write access to Permission Sets.",
              "RESERVATIONS_READ": "__HTTP Method__: `GET`\n\nGrants read access to reservation information, for example, when calling the\n`RetrieveReservation` endpoint.",
              "RESERVATIONS_WRITE": "__HTTP Method__:  `POST`, `PUT`, `DELETE`\n\nGrants write access to reservation information, for example, when calling the\n`CreateReservation` endpoint.",
              "RESTAURANT_CHECKS_READ": "__HTTP Method__: `GET`\n\nGrants read access to check information, for example, when calling the\n`RetrieveCheck` endpoint.",
              "SETTLEMENTS_READ": "__HTTP Method__: `GET`\n\nGrants read access to settlement (deposit) information. For example, to call\nthe Connect v1 ListSettlements endpoint.",
              "SUBSCRIPTIONS_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to subscription information. For example, to call the RetrieveSubscription\nendpoint.",
              "SUBSCRIPTIONS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to subscription information. For example, to call the CreateSubscription\nendpoint.",
              "TIMECARDS_READ": "__HTTP Method__: `GET`\n\nGrants read access to employee timecard information. For example, to call the\nConnect v2 SearchShifts endpoint.",
              "TIMECARDS_SETTINGS_READ": "__HTTP Method__: `GET`\n\nGrants read access to employee timecard settings information. For example, to\ncall the GetBreakType endpoint.",
              "TIMECARDS_SETTINGS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to employee timecard settings information. For example, to\ncall the UpdateBreakType endpoint.",
              "TIMECARDS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to employee shift information. For example, to create\nand modify employee shifts.",
              "VENDOR_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to vendor information, for example, when calling the\n`RetrieveVendor` endpoint.",
              "VENDOR_WRITE": "__HTTP Method__:  `POST`, `PUT`, `DELETE`\n\nGrants write access to vendor information, for example, when calling the\n`BulkUpdateVendors` endpoint."
            }
          }
        }
      },
      "oauth2ClientSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "CreatePaymentRequest": {
        "type": "object",
        "description": "Describes a request to create a payment using\n[CreatePayment](api-endpoint:Payments-CreatePayment).",
        "x-release-status": "PUBLIC",
        "required": [
          "source_id",
          "idempotency_key"
        ],
        "properties": {
          "source_id": {
            "type": "string",
            "description": "The ID for the source of funds for this payment.\nThis could be a payment token generated by the Web Payments SDK for any of its\n[supported methods](https://developer.squareup.com/docs/web-payments/overview#explore-payment-methods),\nincluding cards, bank transfers, Afterpay or Cash App Pay. If recording a payment\nthat the seller received outside of Square, specify either \"CASH\" or \"EXTERNAL\".\nFor more information, see\n[Take Payments](https://developer.squareup.com/docs/payments-api/take-payments).",
            "minLength": 1
          },
          "idempotency_key": {
            "type": "string",
            "description": "A unique string that identifies this `CreatePayment` request. Keys can be any valid string\nbut must be unique for every `CreatePayment` request.\n\nNote: The number of allowed characters might be less than the stated maximum, if multi-byte\ncharacters are used.\n\nFor more information, see [Idempotency](https://developer.squareup.com/docs/working-with-apis/idempotency).",
            "minLength": 1,
            "maxLength": 45
          },
          "amount_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of money to accept for this payment, not including `tip_money`.\n\nThe amount must be specified in the smallest denomination of the applicable currency\n(for example, US dollar amounts are specified in cents). For more information, see\n[Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts).\n\nThe currency code must match the currency associated with the business\nthat is accepting the payment."
          },
          "tip_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount designated as a tip, in addition to `amount_money`.\n\nThe amount must be specified in the smallest denomination of the applicable currency\n(for example, US dollar amounts are specified in cents). For more information, see\n[Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts).\n\nTips for external vendors such as a 3rd party delivery courier must be recorded using Order.service_charges.\n\nThe currency code must match the currency associated with the business\nthat is accepting the payment."
          },
          "app_fee_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of money that the developer is taking as a fee\nfor facilitating the payment on behalf of the seller.\n\nThe amount cannot be more than 90% of the total amount of the payment.\n\nThe amount must be specified in the smallest denomination of the applicable currency\n(for example, US dollar amounts are specified in cents). For more information, see\n[Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts).\n\nThe fee currency code must match the currency associated with the seller\nthat is accepting the payment. The application must be from a developer\naccount in the same country and using the same currency code as the seller.\n\nFor more information about the application fee scenario, see\n[Take Payments and Collect Fees](https://developer.squareup.com/docs/payments-api/take-payments-and-collect-fees).\n\nTo set this field, `PAYMENTS_WRITE_ADDITIONAL_RECIPIENTS` OAuth permission is required.\nFor more information, see [Permissions](https://developer.squareup.com/docs/payments-api/take-payments-and-collect-fees#permissions)."
          },
          "app_fee_allocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppFeeAllocation"
            },
            "description": "Details pertaining to recipients of the application fee. The sum of the amounts in the\napp_fee_allocations must equal the app_fee_money amount, if present. If populated, an\nallocation must be present for every party that expects to receive a portion of the application\nfee, including the application developer."
          },
          "delay_duration": {
            "type": "string",
            "description": "The duration of time after the payment's creation when Square automatically\neither completes or cancels the payment depending on the `delay_action` field value.\nFor more information, see\n[Time threshold](https://developer.squareup.com/docs/payments-api/take-payments/card-payments/delayed-capture#time-threshold).\n\nThis parameter should be specified as a time duration, in RFC 3339 format.\n\nNote: This feature is only supported for card payments. This parameter can only be set for a delayed\ncapture payment (`autocomplete=false`).\n\nDefault:\n\n- Card-present payments: \"PT36H\" (36 hours) from the creation time.\n- Card-not-present payments: \"P7D\" (7 days) from the creation time."
          },
          "delay_action": {
            "type": "string",
            "description": "The action to be applied to the payment when the `delay_duration` has elapsed. The action must be\nCANCEL or COMPLETE. For more information, see\n[Time Threshold](https://developer.squareup.com/docs/payments-api/take-payments/card-payments/delayed-capture#time-threshold).\n\nDefault: CANCEL"
          },
          "autocomplete": {
            "type": "boolean",
            "description": "If set to `true`, this payment will be completed when possible. If\nset to `false`, this payment is held in an approved state until either\nexplicitly completed (captured) or canceled (voided). For more information, see\n[Delayed capture](https://developer.squareup.com/docs/payments-api/take-payments/card-payments#delayed-capture-of-a-card-payment).\n\nDefault: true"
          },
          "order_id": {
            "type": "string",
            "description": "Associates a previously created order with this payment."
          },
          "customer_id": {
            "type": "string",
            "description": "The [Customer](entity:Customer) ID of the customer associated with the payment.\n\nThis is required if the `source_id` refers to a card on file created using the Cards API."
          },
          "location_id": {
            "type": "string",
            "description": "The location ID to associate with the payment. If not specified, the [main location](https://developer.squareup.com/docs/locations-api#about-the-main-location) is\nused."
          },
          "team_member_id": {
            "type": "string",
            "description": "An optional [TeamMember](entity:TeamMember) ID to associate with\nthis payment."
          },
          "reference_id": {
            "type": "string",
            "description": "A user-defined ID to associate with the payment.\n\nYou can use this field to associate the payment to an entity in an external system\n(for example, you might specify an order ID that is generated by a third-party shopping cart).",
            "maxLength": 40
          },
          "verification_token": {
            "type": "string",
            "description": "An identifying token generated by [payments.verifyBuyer()](https://developer.squareup.com/reference/sdks/web/payments/objects/Payments#Payments.verifyBuyer).\nVerification tokens encapsulate customer device information and 3-D Secure\nchallenge results to indicate that Square has verified the buyer identity.\n\nFor more information, see [SCA Overview](https://developer.squareup.com/docs/sca-overview)."
          },
          "accept_partial_authorization": {
            "type": "boolean",
            "description": "If set to `true` and charging a Square Gift Card, a payment might be returned with\n`amount_money` equal to less than what was requested. For example, a request for $20 when charging\na Square Gift Card with a balance of $5 results in an APPROVED payment of $5. You might choose\nto prompt the buyer for an additional payment to cover the remainder or cancel the Gift Card\npayment. This field cannot be `true` when `autocomplete = true`.\n\nFor more information, see\n[Partial amount with Square Gift Cards](https://developer.squareup.com/docs/payments-api/take-payments#partial-payment-gift-card).\n\nDefault: false"
          },
          "buyer_email_address": {
            "type": "string",
            "description": "The buyer's email address.",
            "maxLength": 255
          },
          "buyer_phone_number": {
            "type": "string",
            "description": "The buyer's phone number.\nMust follow the following format:\n1. A leading + symbol (followed by a country code)\n2. The phone number can contain spaces and the special characters `(` , `)` , `-` , and `.`.\nAlphabetical characters aren't allowed.\n3. The phone number must contain between 9 and 16 digits."
          },
          "billing_address": {
            "$ref": "#/components/schemas/Address",
            "description": "The buyer's billing address."
          },
          "shipping_address": {
            "$ref": "#/components/schemas/Address",
            "description": "The buyer's shipping address."
          },
          "note": {
            "type": "string",
            "description": "An optional note to be entered by the developer when creating a payment.",
            "maxLength": 500
          },
          "statement_description_identifier": {
            "type": "string",
            "description": "Optional additional payment information to include on the customer's card statement\nas part of the statement description. This can be, for example, an invoice number, ticket number,\nor short description that uniquely identifies the purchase.\n\nNote that the `statement_description_identifier` might get truncated on the statement description\nto fit the required information including the Square identifier (SQ *) and name of the\nseller taking the payment.",
            "maxLength": 20
          },
          "cash_details": {
            "$ref": "#/components/schemas/CashPaymentDetails",
            "description": "Additional details required when recording a cash payment (`source_id` is CASH)."
          },
          "external_details": {
            "$ref": "#/components/schemas/ExternalPaymentDetails",
            "description": "Additional details required when recording an external payment (`source_id` is EXTERNAL)."
          },
          "customer_details": {
            "$ref": "#/components/schemas/CustomerDetails",
            "description": "Details about the customer making the payment."
          },
          "offline_payment_details": {
            "$ref": "#/components/schemas/OfflinePaymentDetails",
            "description": "An optional field for specifying the offline payment details. This is intended for\ninternal 1st-party callers only.",
            "x-release-status": "DEPRECATED"
          }
        },
        "example": {
          "amount_money": {
            "amount": 1000,
            "currency": "USD"
          },
          "app_fee_money": {
            "amount": 10,
            "currency": "USD"
          },
          "autocomplete": true,
          "customer_id": "W92WH6P11H4Z77CTET0RNTGFW8",
          "idempotency_key": "7b0f3ec5-086a-4871-8f13-3c81b3875218",
          "location_id": "L88917AVBK2S5",
          "note": "Brief description",
          "reference_id": "123456",
          "source_id": "ccof:GaJGNaZa8x4OgDJn4GB"
        }
      },
      "CreatePaymentResponse": {
        "type": "object",
        "description": "Defines the response returned by [CreatePayment](api-endpoint:Payments-CreatePayment).\n\nIf there are errors processing the request, the `payment` field might not be\npresent, or it might be present with a status of `FAILED`.",
        "x-release-status": "PUBLIC",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Information about errors encountered during the request."
          },
          "payment": {
            "$ref": "#/components/schemas/Payment",
            "description": "The newly created payment."
          }
        },
        "example": {
          "payment": {
            "amount_money": {
              "amount": 1000,
              "currency": "USD"
            },
            "app_fee_money": {
              "amount": 10,
              "currency": "USD"
            },
            "application_details": {
              "application_id": "sq0ids-TcgftTEtKxJTRF1lCFJ9TA",
              "square_product": "ECOMMERCE_API"
            },
            "approved_money": {
              "amount": 1000,
              "currency": "USD"
            },
            "card_details": {
              "auth_result_code": "vNEn2f",
              "avs_status": "AVS_ACCEPTED",
              "card": {
                "bin": "411111",
                "card_brand": "VISA",
                "card_type": "DEBIT",
                "exp_month": 11,
                "exp_year": 2022,
                "fingerprint": "sq-1-Hxim77tbdcbGejOejnoAklBVJed2YFLTmirfl8Q5XZzObTc8qY_U8RkwzoNL8dCEcQ",
                "last_4": "1111",
                "prepaid_type": "NOT_PREPAID"
              },
              "card_payment_timeline": {
                "authorized_at": "2021-10-13T21:14:29.732Z",
                "captured_at": "2021-10-13T21:14:30.504Z"
              },
              "cvv_status": "CVV_ACCEPTED",
              "entry_method": "ON_FILE",
              "statement_description": "SQ *EXAMPLE TEST GOSQ.C",
              "status": "CAPTURED"
            },
            "created_at": "2021-10-13T21:14:29.577Z",
            "customer_id": "W92WH6P11H4Z77CTET0RNTGFW8",
            "delay_action": "CANCEL",
            "delay_duration": "PT168H",
            "delayed_until": "2021-10-20T21:14:29.577Z",
            "id": "R2B3Z8WMVt3EAmzYWLZvz7Y69EbZY",
            "location_id": "L88917AVBK2S5",
            "note": "Brief Description",
            "order_id": "pRsjRTgFWATl7so6DxdKBJa7ssbZY",
            "receipt_number": "R2B3",
            "receipt_url": "https://squareup.com/receipt/preview/EXAMPLE_RECEIPT_ID",
            "reference_id": "123456",
            "risk_evaluation": {
              "created_at": "2021-10-13T21:14:30.423Z",
              "risk_level": "NORMAL"
            },
            "source_type": "CARD",
            "status": "COMPLETED",
            "total_money": {
              "amount": 1000,
              "currency": "USD"
            },
            "updated_at": "2021-10-13T21:14:30.504Z",
            "version_token": "TPtNEOBOa6Qq6E3C3IjckSVOM6b3hMbfhjvTxHBQUsB6o"
          }
        }
      },
      "CreateCustomerRequest": {
        "type": "object",
        "description": "Defines the body parameters that can be included in a request to the\n`CreateCustomer` endpoint.",
        "x-release-status": "PUBLIC",
        "properties": {
          "idempotency_key": {
            "type": "string",
            "description": "The idempotency key for the request.\tFor more information, see\n[Idempotency](https://developer.squareup.com/docs/build-basics/common-api-patterns/idempotency)."
          },
          "given_name": {
            "type": "string",
            "description": "The given name (that is, the first name) associated with the customer profile.\n\nThe maximum length for this value is 300 characters."
          },
          "family_name": {
            "type": "string",
            "description": "The family name (that is, the last name) associated with the customer profile.\n\nThe maximum length for this value is 300 characters."
          },
          "company_name": {
            "type": "string",
            "description": "A business name associated with the customer profile.\n\nThe maximum length for this value is 500 characters."
          },
          "nickname": {
            "type": "string",
            "description": "A nickname for the customer profile.\n\nThe maximum length for this value is 100 characters."
          },
          "email_address": {
            "type": "string",
            "description": "The email address associated with the customer profile.\n\nThe maximum length for this value is 254 characters."
          },
          "address": {
            "$ref": "#/components/schemas/Address",
            "description": "The physical address associated with the customer profile. For maximum length constraints, see \n[Customer addresses](https://developer.squareup.com/docs/customers-api/use-the-api/keep-records#address).\nThe `first_name` and `last_name` fields are ignored if they are present in the request."
          },
          "phone_number": {
            "type": "string",
            "description": "The phone number associated with the customer profile. The phone number must be valid and can contain\n9–16 digits, with an optional `+` prefix and country code. For more information, see\n[Customer phone numbers](https://developer.squareup.com/docs/customers-api/use-the-api/keep-records#phone-number)."
          },
          "reference_id": {
            "type": "string",
            "description": "An optional second ID used to associate the customer profile with an\nentity in another system.\n\nThe maximum length for this value is 100 characters."
          },
          "note": {
            "type": "string",
            "description": "A custom note associated with the customer profile."
          },
          "birthday": {
            "type": "string",
            "description": "The birthday associated with the customer profile, in `YYYY-MM-DD` or `MM-DD` format. For example,\nspecify `1998-09-21` for September 21, 1998, or `09-21` for September 21. Birthdays are returned in `YYYY-MM-DD`\nformat, where `YYYY` is the specified birth year or `0000` if a birth year is not specified."
          },
          "tax_ids": {
            "$ref": "#/components/schemas/CustomerTaxIds",
            "description": "The tax ID associated with the customer profile. This field is available only for customers of sellers\nin EU countries or the United Kingdom. For more information,\nsee [Customer tax IDs](https://developer.squareup.com/docs/customers-api/what-it-does#customer-tax-ids)."
          }
        },
        "example": {
          "address": {
            "address_line_1": "500 Electric Ave",
            "address_line_2": "Suite 600",
            "administrative_district_level_1": "NY",
            "country": "US",
            "locality": "New York",
            "postal_code": "10003"
          },
          "email_address": "Amelia.Earhart@example.com",
          "family_name": "Earhart",
          "given_name": "Amelia",
          "note": "a customer",
          "phone_number": "+1-212-555-4240",
          "reference_id": "YOUR_REFERENCE_ID"
        },
        "x-sq-sdk-sample-code": {
          "csharp": "/sdk_samples/CreateCustomer/CreateCustomerRequest.csharp",
          "java": "/sdk_samples/CreateCustomer/CreateCustomerRequest.java",
          "javascript": "/sdk_samples/CreateCustomer/CreateCustomerRequest.javascript",
          "php": "/sdk_samples/CreateCustomer/CreateCustomerRequest.php",
          "python": "/sdk_samples/CreateCustomer/CreateCustomerRequest.python",
          "ruby": "/sdk_samples/CreateCustomer/CreateCustomerRequest.ruby"
        }
      },
      "CreateCustomerResponse": {
        "type": "object",
        "description": "Defines the fields that are included in the response body of\na request to the [CreateCustomer](api-endpoint:Customers-CreateCustomer) or\n[BulkCreateCustomers](api-endpoint:Customers-BulkCreateCustomers) endpoint.\n\nEither `errors` or `customer` is present in a given response (never both).",
        "x-release-status": "PUBLIC",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Any errors that occurred during the request."
          },
          "customer": {
            "$ref": "#/components/schemas/Customer",
            "description": "The created customer."
          }
        },
        "example": {
          "customer": {
            "address": {
              "address_line_1": "500 Electric Ave",
              "address_line_2": "Suite 600",
              "administrative_district_level_1": "NY",
              "country": "US",
              "locality": "New York",
              "postal_code": "10003"
            },
            "created_at": "2016-03-23T20:21:54.859Z",
            "creation_source": "THIRD_PARTY",
            "email_address": "Amelia.Earhart@example.com",
            "family_name": "Earhart",
            "given_name": "Amelia",
            "id": "JDKYHBWT1D4F8MFH63DBMEN8Y4",
            "note": "a customer",
            "phone_number": "+1-212-555-4240",
            "preferences": {
              "email_unsubscribed": false
            },
            "reference_id": "YOUR_REFERENCE_ID",
            "updated_at": "2016-03-23T20:21:54.859Z",
            "version": 0
          }
        },
        "x-sq-sdk-sample-code": {
          "csharp": "/sdk_samples/CreateCustomer/CreateCustomerResponse.csharp",
          "java": "/sdk_samples/CreateCustomer/CreateCustomerResponse.java",
          "javascript": "/sdk_samples/CreateCustomer/CreateCustomerResponse.javascript",
          "php": "/sdk_samples/CreateCustomer/CreateCustomerResponse.php",
          "python": "/sdk_samples/CreateCustomer/CreateCustomerResponse.python",
          "ruby": "/sdk_samples/CreateCustomer/CreateCustomerResponse.ruby"
        }
      },
      "Money": {
        "type": "object",
        "description": "Represents an amount of money. `Money` fields can be signed or unsigned.\nFields that do not explicitly define whether they are signed or unsigned are\nconsidered unsigned and can only hold positive amounts. For signed fields, the\nsign of the value indicates the purpose of the money transfer. See\n[Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts)\nfor more information.",
        "x-release-status": "PUBLIC",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of money, in the smallest denomination of the currency\nindicated by `currency`. For example, when `currency` is `USD`, `amount` is\nin cents. Monetary amounts can be positive or negative. See the specific\nfield description to determine the meaning of the sign in a particular case.",
            "format": "int64",
            "nullable": true
          },
          "currency": {
            "$ref": "#/components/schemas/Currency",
            "description": "The type of currency, in __ISO 4217 format__. For example, the currency\ncode for US dollars is `USD`.\n\nSee [Currency](entity:Currency) for possible values.\nSee [Currency](#type-currency) for possible values",
            "nullable": true
          }
        }
      },
      "Address": {
        "type": "object",
        "description": "Represents a postal address in a country. \nFor more information, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).",
        "x-release-status": "PUBLIC",
        "properties": {
          "address_line_1": {
            "type": "string",
            "description": "The first line of the address.\n\nFields that start with `address_line` provide the address's most specific\ndetails, like street number, street name, and building name. They do *not*\nprovide less specific details like city, state/province, or country (these\ndetails are provided in other fields).",
            "nullable": true
          },
          "address_line_2": {
            "type": "string",
            "description": "The second line of the address, if any.",
            "nullable": true
          },
          "address_line_3": {
            "type": "string",
            "description": "The third line of the address, if any.",
            "nullable": true
          },
          "locality": {
            "type": "string",
            "description": "The city or town of the address. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).",
            "nullable": true
          },
          "sublocality": {
            "type": "string",
            "description": "A civil region within the address's `locality`, if any.",
            "nullable": true
          },
          "sublocality_2": {
            "type": "string",
            "description": "A civil region within the address's `sublocality`, if any.",
            "nullable": true
          },
          "sublocality_3": {
            "type": "string",
            "description": "A civil region within the address's `sublocality_2`, if any.",
            "nullable": true
          },
          "administrative_district_level_1": {
            "type": "string",
            "description": "A civil entity within the address's country. In the US, this\nis the state. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).",
            "nullable": true
          },
          "administrative_district_level_2": {
            "type": "string",
            "description": "A civil entity within the address's `administrative_district_level_1`.\nIn the US, this is the county.",
            "nullable": true
          },
          "administrative_district_level_3": {
            "type": "string",
            "description": "A civil entity within the address's `administrative_district_level_2`,\nif any.",
            "nullable": true
          },
          "postal_code": {
            "type": "string",
            "description": "The address's postal code. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).",
            "nullable": true
          },
          "country": {
            "$ref": "#/components/schemas/Country",
            "description": "The address's country, in the two-letter format of ISO 3166. For example, `US` or `FR`.\nSee [Country](#type-country) for possible values",
            "nullable": true
          },
          "first_name": {
            "type": "string",
            "description": "Optional first name when it's representing recipient.",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "description": "Optional last name when it's representing recipient.",
            "nullable": true
          }
        }
      },
      "CashPaymentDetails": {
        "type": "object",
        "description": "Stores details about a cash payment. Contains only non-confidential information. For more information, see \n[Take Cash Payments](https://developer.squareup.com/docs/payments-api/take-payments/cash-payments).",
        "x-release-status": "PUBLIC",
        "required": [
          "buyer_supplied_money"
        ],
        "properties": {
          "buyer_supplied_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount and currency of the money supplied by the buyer."
          },
          "change_back_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of change due back to the buyer. \nThis read-only field is calculated\nfrom the `amount_money` and `buyer_supplied_money` fields.",
            "readOnly": true
          }
        }
      },
      "ExternalPaymentDetails": {
        "type": "object",
        "description": "Stores details about an external payment. Contains only non-confidential information.\nFor more information, see \n[Take External Payments](https://developer.squareup.com/docs/payments-api/take-payments/external-payments).",
        "x-release-status": "PUBLIC",
        "required": [
          "type",
          "source"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of external payment the seller received. It can be one of the following:\n- CHECK - Paid using a physical check.\n- BANK_TRANSFER - Paid using external bank transfer.\n- OTHER\\_GIFT\\_CARD - Paid using a non-Square gift card.\n- CRYPTO - Paid using a crypto currency.\n- SQUARE_CASH - Paid using Square Cash App.\n- SOCIAL - Paid using peer-to-peer payment applications.\n- EXTERNAL - A third-party application gathered this payment outside of Square.\n- EMONEY - Paid using an E-money provider.\n- CARD - A credit or debit card that Square does not support.\n- STORED_BALANCE - Use for house accounts, store credit, and so forth.\n- FOOD_VOUCHER - Restaurant voucher provided by employers to employees to pay for meals\n- OTHER - A type not listed here.",
            "maxLength": 50
          },
          "source": {
            "type": "string",
            "description": "A description of the external payment source. For example, \n\"Food Delivery Service\".",
            "maxLength": 255
          },
          "source_id": {
            "type": "string",
            "description": "An ID to associate the payment to its originating source.",
            "maxLength": 255,
            "nullable": true
          },
          "source_fee_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The fees paid to the source. The `amount_money` minus this field is \nthe net amount seller receives.",
            "nullable": true
          }
        }
      },
      "CustomerDetails": {
        "type": "object",
        "description": "Details about the customer making the payment.",
        "x-release-status": "PUBLIC",
        "properties": {
          "customer_initiated": {
            "type": "boolean",
            "description": "Indicates whether the customer initiated the payment.",
            "nullable": true
          },
          "seller_keyed_in": {
            "type": "boolean",
            "description": "Indicates that the seller keyed in payment details on behalf of the customer.\nThis is used to flag a payment as Mail Order / Telephone Order (MOTO).",
            "nullable": true
          }
        }
      },
      "OfflinePaymentDetails": {
        "type": "object",
        "description": "Details specific to offline payments.",
        "x-release-status": "DEPRECATED",
        "properties": {
          "client_created_at": {
            "type": "string",
            "description": "The client-side timestamp of when the offline payment was created, in RFC 3339 format.",
            "maxLength": 32,
            "readOnly": true
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Represents an error encountered during a request to the Connect API.\n\nSee [Handling errors](https://developer.squareup.com/docs/build-basics/handling-errors) for more information.",
        "x-release-status": "PUBLIC",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/ErrorCategory",
            "description": "The high-level category for the error.\nSee [ErrorCategory](#type-errorcategory) for possible values"
          },
          "code": {
            "$ref": "#/components/schemas/ErrorCode",
            "description": "The specific code of the error.\nSee [ErrorCode](#type-errorcode) for possible values"
          },
          "detail": {
            "type": "string",
            "description": "A human-readable description of the error for debugging purposes."
          },
          "field": {
            "type": "string",
            "description": "The name of the field provided in the original request (if any) that\nthe error pertains to."
          }
        }
      },
      "Payment": {
        "type": "object",
        "description": "Represents a payment processed by the Square API.",
        "x-release-status": "PUBLIC",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique ID for the payment.",
            "maxLength": 192,
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "description": "The timestamp of when the payment was created, in RFC 3339 format.",
            "maxLength": 32,
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "description": "The timestamp of when the payment was last updated, in RFC 3339 format.",
            "maxLength": 32,
            "readOnly": true
          },
          "amount_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount processed for this payment, not including `tip_money`.\n\nThe amount is specified in the smallest denomination of the applicable currency (for example,\nUS dollar amounts are specified in cents). For more information, see\n[Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts).",
            "nullable": true
          },
          "tip_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount designated as a tip for the seller's staff.  \n\nTips for external vendors such as a 3rd party delivery courier must be recorded using Order.service_charges.\n\nThis amount is specified in the smallest denomination of the applicable currency (for example,\nUS dollar amounts are specified in cents). For more information, see\n[Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts).",
            "nullable": true
          },
          "total_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The total amount for the payment, including `amount_money` and `tip_money`.\nThis amount is specified in the smallest denomination of the applicable currency (for example,\nUS dollar amounts are specified in cents). For more information, see\n[Working with Monetary Amounts](https://developer.squareup.com/docs/build-basics/working-with-monetary-amounts).",
            "readOnly": true
          },
          "app_fee_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount the developer is taking as a fee for facilitating the payment on behalf\nof the seller. This amount is specified in the smallest denomination of the applicable currency\n(for example, US dollar amounts are specified in cents). For more information,\nsee [Take Payments and Collect Fees](https://developer.squareup.com/docs/payments-api/take-payments-and-collect-fees).\n\nThe amount cannot be more than 90% of the `total_money` value.\n\nTo set this field, `PAYMENTS_WRITE_ADDITIONAL_RECIPIENTS` OAuth permission is required.\nFor more information, see [Permissions](https://developer.squareup.com/docs/payments-api/take-payments-and-collect-fees#permissions).",
            "nullable": true
          },
          "app_fee_allocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppFeeAllocation"
            },
            "description": "Details pertaining to recipients of the application fee.",
            "nullable": true
          },
          "approved_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of money approved for this payment. This value may change if Square chooses to\nobtain reauthorization as part of a call to [UpdatePayment](api-endpoint:Payments-UpdatePayment).",
            "nullable": true
          },
          "processing_fee": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProcessingFee"
            },
            "description": "The processing fees and fee adjustments assessed by Square for this payment.",
            "readOnly": true
          },
          "refunded_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The total amount of the payment refunded to date. \n\nThis amount is specified in the smallest denomination of the applicable currency (for example,\nUS dollar amounts are specified in cents).",
            "readOnly": true
          },
          "status": {
            "type": "string",
            "description": "Indicates whether the payment is APPROVED, PENDING, COMPLETED, CANCELED, or FAILED.",
            "maxLength": 50,
            "readOnly": true
          },
          "delay_duration": {
            "type": "string",
            "description": "The duration of time after the payment's creation when Square automatically applies the\n`delay_action` to the payment. This automatic `delay_action` applies only to payments that\ndo not reach a terminal state (COMPLETED, CANCELED, or FAILED) before the `delay_duration`\ntime period.\n\nThis field is specified as a time duration, in RFC 3339 format.\n\nNotes:\nThis feature is only supported for card payments.\n\nDefault:\n\n- Card-present payments: \"PT36H\" (36 hours) from the creation time.\n- Card-not-present payments: \"P7D\" (7 days) from the creation time.",
            "readOnly": true
          },
          "delay_action": {
            "type": "string",
            "description": "The action to be applied to the payment when the `delay_duration` has elapsed.\n\nCurrent values include `CANCEL` and `COMPLETE`.",
            "nullable": true
          },
          "delayed_until": {
            "type": "string",
            "description": "The read-only timestamp of when the `delay_action` is automatically applied,\nin RFC 3339 format.\n\nNote that this field is calculated by summing the payment's `delay_duration` and `created_at`\nfields. The `created_at` field is generated by Square and might not exactly match the\ntime on your local machine.",
            "readOnly": true
          },
          "source_type": {
            "type": "string",
            "description": "The source type for this payment.\n\nCurrent values include `CARD`, `BANK_ACCOUNT`, `WALLET`, `BUY_NOW_PAY_LATER`, `SQUARE_ACCOUNT`,\n`CASH` and `EXTERNAL`. For information about these payment source types,\nsee [Take Payments](https://developer.squareup.com/docs/payments-api/take-payments).",
            "maxLength": 50,
            "readOnly": true
          },
          "card_details": {
            "$ref": "#/components/schemas/CardPaymentDetails",
            "description": "Details about a card payment. These details are only populated if the source_type is `CARD`.",
            "nullable": true
          },
          "cash_details": {
            "$ref": "#/components/schemas/CashPaymentDetails",
            "description": "Details about a cash payment. These details are only populated if the source_type is `CASH`.",
            "nullable": true
          },
          "bank_account_details": {
            "$ref": "#/components/schemas/BankAccountPaymentDetails",
            "description": "Details about a bank account payment. These details are only populated if the source_type is `BANK_ACCOUNT`.",
            "readOnly": true
          },
          "electronic_money_details": {
            "$ref": "#/components/schemas/ElectronicMoneyDetails",
            "description": "Details specific to electronic money payments.",
            "x-release-status": "BETA",
            "nullable": true
          },
          "external_details": {
            "$ref": "#/components/schemas/ExternalPaymentDetails",
            "description": "Details about an external payment. The details are only populated \nif the `source_type` is `EXTERNAL`.",
            "readOnly": true
          },
          "wallet_details": {
            "$ref": "#/components/schemas/DigitalWalletDetails",
            "description": "Details about an wallet payment. The details are only populated \nif the `source_type` is `WALLET`.",
            "readOnly": true
          },
          "buy_now_pay_later_details": {
            "$ref": "#/components/schemas/BuyNowPayLaterDetails",
            "description": "Details about a Buy Now Pay Later payment. The details are only populated\nif the `source_type` is `BUY_NOW_PAY_LATER`. For more information, see \n[Afterpay Payments](https://developer.squareup.com/docs/payments-api/take-payments/afterpay-payments).",
            "readOnly": true
          },
          "square_account_details": {
            "$ref": "#/components/schemas/SquareAccountDetails",
            "description": "Details about a Square Account payment. The details are only populated\nif the `source_type` is `SQUARE_ACCOUNT`.",
            "readOnly": true
          },
          "location_id": {
            "type": "string",
            "description": "The ID of the location associated with the payment.",
            "maxLength": 50,
            "readOnly": true
          },
          "order_id": {
            "type": "string",
            "description": "The ID of the order associated with the payment.",
            "maxLength": 192,
            "readOnly": true
          },
          "reference_id": {
            "type": "string",
            "description": "An optional ID that associates the payment with an entity in\nanother system.",
            "maxLength": 40,
            "readOnly": true
          },
          "customer_id": {
            "type": "string",
            "description": "The ID of the customer associated with the payment. If the ID is \nnot provided in the `CreatePayment` request that was used to create the `Payment`, \nSquare may use information in the request \n(such as the billing and shipping address, email address, and payment source) \nto identify a matching customer profile in the Customer Directory. \nIf found, the profile ID is used. If a profile is not found, the \nAPI attempts to create an \n[instant profile](https://developer.squareup.com/docs/customers-api/what-it-does#instant-profiles). \nIf the API cannot create an \ninstant profile (either because the seller has disabled it or the \nseller's region prevents creating it), this field remains unset. Note that \nthis process is asynchronous and it may take some time before a \ncustomer ID is added to the payment.",
            "maxLength": 191,
            "readOnly": true
          },
          "employee_id": {
            "type": "string",
            "description": "__Deprecated__: Use `Payment.team_member_id` instead.\n\nAn optional ID of the employee associated with taking the payment.",
            "maxLength": 192,
            "readOnly": true,
            "x-release-status": "DEPRECATED"
          },
          "team_member_id": {
            "type": "string",
            "description": "An optional ID of the [TeamMember](entity:TeamMember) associated with taking the payment.",
            "maxLength": 192,
            "nullable": true
          },
          "refund_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of `refund_id`s identifying refunds for the payment.",
            "readOnly": true
          },
          "risk_evaluation": {
            "$ref": "#/components/schemas/RiskEvaluation",
            "description": "Provides information about the risk associated with the payment, as determined by Square.\nThis field is present for payments to sellers that have opted in to receive risk\nevaluations.",
            "readOnly": true,
            "x-release-status": "BETA"
          },
          "terminal_checkout_id": {
            "type": "string",
            "description": "An optional ID for a Terminal checkout that is associated with the payment.",
            "readOnly": true,
            "x-release-status": "BETA"
          },
          "buyer_email_address": {
            "type": "string",
            "description": "The buyer's email address.",
            "maxLength": 255,
            "readOnly": true
          },
          "billing_address": {
            "$ref": "#/components/schemas/Address",
            "description": "The buyer's billing address.",
            "readOnly": true
          },
          "shipping_address": {
            "$ref": "#/components/schemas/Address",
            "description": "The buyer's shipping address.",
            "readOnly": true
          },
          "note": {
            "type": "string",
            "description": "An optional note to include when creating a payment.",
            "maxLength": 500,
            "readOnly": true
          },
          "statement_description_identifier": {
            "type": "string",
            "description": "Additional payment information that gets added to the customer's card statement\nas part of the statement description.\n\nNote that the `statement_description_identifier` might get truncated on the statement description\nto fit the required information including the Square identifier (SQ *) and the name of the\nseller taking the payment.",
            "readOnly": true
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Actions that can be performed on this payment:\n- `EDIT_AMOUNT_UP` - The payment amount can be edited up.\n- `EDIT_AMOUNT_DOWN` - The payment amount can be edited down.\n- `EDIT_TIP_AMOUNT_UP` - The tip amount can be edited up.\n- `EDIT_TIP_AMOUNT_DOWN` - The tip amount can be edited down.\n- `EDIT_DELAY_ACTION` - The delay_action can be edited.",
            "readOnly": true
          },
          "receipt_number": {
            "type": "string",
            "description": "The payment's receipt number.\nThe field is missing if a payment is canceled.",
            "maxLength": 4,
            "readOnly": true
          },
          "receipt_url": {
            "type": "string",
            "description": "The URL for the payment's receipt.\nThe field is only populated for COMPLETED payments.",
            "maxLength": 255,
            "readOnly": true
          },
          "device_details": {
            "$ref": "#/components/schemas/DeviceDetails",
            "description": "Details about the device that took the payment.",
            "readOnly": true
          },
          "application_details": {
            "$ref": "#/components/schemas/ApplicationDetails",
            "description": "Details about the application that took the payment.",
            "readOnly": true
          },
          "buyer_currency_exchange": {
            "$ref": "#/components/schemas/CurrencyExchange",
            "description": "Details about the currency exchange for payments where the currency the buyer\npaid with differs from the currency the merchant received (e.g., bitcoin lightning payments).\n\nThis field will only be present when the buyer paid in a different currency than\nthe one used in the payment's total_money/amount_money fields.",
            "readOnly": true
          },
          "is_offline_payment": {
            "type": "boolean",
            "description": "Whether or not this payment was taken offline.",
            "readOnly": true
          },
          "offline_payment_details": {
            "$ref": "#/components/schemas/OfflinePaymentDetails",
            "description": "Additional information about the payment if it was taken offline.",
            "readOnly": true
          },
          "version_token": {
            "type": "string",
            "description": "Used for optimistic concurrency. This opaque token identifies a specific version of the\n`Payment` object.",
            "nullable": true
          }
        }
      },
      "CustomerTaxIds": {
        "type": "object",
        "description": "Represents the tax ID associated with a [customer profile](entity:Customer). The corresponding `tax_ids` field is available only for customers of sellers in EU countries or the United Kingdom. \nFor more information, see [Customer tax IDs](https://developer.squareup.com/docs/customers-api/what-it-does#customer-tax-ids).",
        "x-release-status": "PUBLIC",
        "properties": {
          "eu_vat": {
            "type": "string",
            "description": "The EU VAT identification number for the customer. For example, `IE3426675K`. The ID can contain alphanumeric characters only.",
            "maxLength": 20,
            "nullable": true
          }
        }
      },
      "Customer": {
        "type": "object",
        "description": "Represents a Square customer profile in the Customer Directory of a Square seller.",
        "x-release-status": "PUBLIC",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique Square-assigned ID for the customer profile.\n\nIf you need this ID for an API request, use the ID returned when you created the customer profile or call the [SearchCustomers](api-endpoint:Customers-SearchCustomers) \nor [ListCustomers](api-endpoint:Customers-ListCustomers) endpoint."
          },
          "created_at": {
            "type": "string",
            "description": "The timestamp when the customer profile was created, in RFC 3339 format.",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "description": "The timestamp when the customer profile was last updated, in RFC 3339 format.",
            "readOnly": true
          },
          "given_name": {
            "type": "string",
            "description": "The given name (that is, the first name) associated with the customer profile.",
            "nullable": true
          },
          "family_name": {
            "type": "string",
            "description": "The family name (that is, the last name) associated with the customer profile.",
            "nullable": true
          },
          "nickname": {
            "type": "string",
            "description": "A nickname for the customer profile.",
            "nullable": true
          },
          "company_name": {
            "type": "string",
            "description": "A business name associated with the customer profile.",
            "nullable": true
          },
          "email_address": {
            "type": "string",
            "description": "The email address associated with the customer profile.",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/Address",
            "description": "The physical address associated with the customer profile.",
            "nullable": true
          },
          "phone_number": {
            "type": "string",
            "description": "The phone number associated with the customer profile.",
            "nullable": true
          },
          "birthday": {
            "type": "string",
            "description": "The birthday associated with the customer profile, in `YYYY-MM-DD` format. For example, `1998-09-21`\nrepresents September 21, 1998, and `0000-09-21` represents September 21 (without a birth year).",
            "nullable": true
          },
          "reference_id": {
            "type": "string",
            "description": "An optional second ID used to associate the customer profile with an\nentity in another system.",
            "nullable": true
          },
          "note": {
            "type": "string",
            "description": "A custom note associated with the customer profile.",
            "nullable": true
          },
          "preferences": {
            "$ref": "#/components/schemas/CustomerPreferences",
            "description": "Represents general customer preferences.",
            "nullable": true
          },
          "creation_source": {
            "$ref": "#/components/schemas/CustomerCreationSource",
            "description": "The method used to create the customer profile.\nSee [CustomerCreationSource](#type-customercreationsource) for possible values",
            "nullable": true
          },
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of [customer groups](entity:CustomerGroup) the customer belongs to.",
            "nullable": true
          },
          "segment_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of [customer segments](entity:CustomerSegment) the customer belongs to.",
            "nullable": true
          },
          "version": {
            "type": "integer",
            "description": "The Square-assigned version number of the customer profile. The version number is incremented each time an update is committed to the customer profile, except for changes to customer segment membership.",
            "format": "int64"
          },
          "tax_ids": {
            "$ref": "#/components/schemas/CustomerTaxIds",
            "description": "The tax ID associated with the customer profile. This field is present only for customers of sellers in EU countries or the United Kingdom. \nFor more information, see [Customer tax IDs](https://developer.squareup.com/docs/customers-api/what-it-does#customer-tax-ids).",
            "nullable": true
          }
        }
      },
      "Currency": {
        "type": "string",
        "enum": [
          "UNKNOWN_CURRENCY",
          "AED",
          "AFN",
          "ALL",
          "AMD",
          "ANG",
          "AOA",
          "ARS",
          "AUD",
          "AWG",
          "AZN",
          "BAM",
          "BBD",
          "BDT",
          "BGN",
          "BHD",
          "BIF",
          "BMD",
          "BND",
          "BOB",
          "BOV",
          "BRL",
          "BSD",
          "BTN",
          "BWP",
          "BYR",
          "BZD",
          "CAD",
          "CDF",
          "CHE",
          "CHF",
          "CHW",
          "CLF",
          "CLP",
          "CNY",
          "COP",
          "COU",
          "CRC",
          "CUC",
          "CUP",
          "CVE",
          "CZK",
          "DJF",
          "DKK",
          "DOP",
          "DZD",
          "EGP",
          "ERN",
          "ETB",
          "EUR",
          "FJD",
          "FKP",
          "GBP",
          "GEL",
          "GHS",
          "GIP",
          "GMD",
          "GNF",
          "GTQ",
          "GYD",
          "HKD",
          "HNL",
          "HRK",
          "HTG",
          "HUF",
          "IDR",
          "ILS",
          "INR",
          "IQD",
          "IRR",
          "ISK",
          "JMD",
          "JOD",
          "JPY",
          "KES",
          "KGS",
          "KHR",
          "KMF",
          "KPW",
          "KRW",
          "KWD",
          "KYD",
          "KZT",
          "LAK",
          "LBP",
          "LKR",
          "LRD",
          "LSL",
          "LTL",
          "LVL",
          "LYD",
          "MAD",
          "MDL",
          "MGA",
          "MKD",
          "MMK",
          "MNT",
          "MOP",
          "MRO",
          "MUR",
          "MVR",
          "MWK",
          "MXN",
          "MXV",
          "MYR",
          "MZN",
          "NAD",
          "NGN",
          "NIO",
          "NOK",
          "NPR",
          "NZD",
          "OMR",
          "PAB",
          "PEN",
          "PGK",
          "PHP",
          "PKR",
          "PLN",
          "PYG",
          "QAR",
          "RON",
          "RSD",
          "RUB",
          "RWF",
          "SAR",
          "SBD",
          "SCR",
          "SDG",
          "SEK",
          "SGD",
          "SHP",
          "SLL",
          "SLE",
          "SOS",
          "SRD",
          "SSP",
          "STD",
          "SVC",
          "SYP",
          "SZL",
          "THB",
          "TJS",
          "TMT",
          "TND",
          "TOP",
          "TRY",
          "TTD",
          "TWD",
          "TZS",
          "UAH",
          "UGX",
          "USD",
          "USN",
          "USS",
          "UYI",
          "UYU",
          "UZS",
          "VEF",
          "VND",
          "VUV",
          "WST",
          "XAF",
          "XAG",
          "XAU",
          "XBA",
          "XBB",
          "XBC",
          "XBD",
          "XCD",
          "XDR",
          "XOF",
          "XPD",
          "XPF",
          "XPT",
          "XTS",
          "XXX",
          "YER",
          "ZAR",
          "ZMK",
          "ZMW",
          "BTC",
          "XUS"
        ],
        "x-enum-elements": [
          {
            "name": "UNKNOWN_CURRENCY",
            "description": "Unknown currency"
          },
          {
            "name": "AED",
            "description": "United Arab Emirates dirham"
          },
          {
            "name": "AFN",
            "description": "Afghan afghani"
          },
          {
            "name": "ALL",
            "description": "Albanian lek"
          },
          {
            "name": "AMD",
            "description": "Armenian dram"
          },
          {
            "name": "ANG",
            "description": "Netherlands Antillean guilder"
          },
          {
            "name": "AOA",
            "description": "Angolan kwanza"
          },
          {
            "name": "ARS",
            "description": "Argentine peso"
          },
          {
            "name": "AUD",
            "description": "Australian dollar"
          },
          {
            "name": "AWG",
            "description": "Aruban florin"
          },
          {
            "name": "AZN",
            "description": "Azerbaijani manat"
          },
          {
            "name": "BAM",
            "description": "Bosnia and Herzegovina convertible mark"
          },
          {
            "name": "BBD",
            "description": "Barbados dollar"
          },
          {
            "name": "BDT",
            "description": "Bangladeshi taka"
          },
          {
            "name": "BGN",
            "description": "Bulgarian lev"
          },
          {
            "name": "BHD",
            "description": "Bahraini dinar"
          },
          {
            "name": "BIF",
            "description": "Burundian franc"
          },
          {
            "name": "BMD",
            "description": "Bermudian dollar"
          },
          {
            "name": "BND",
            "description": "Brunei dollar"
          },
          {
            "name": "BOB",
            "description": "Boliviano"
          },
          {
            "name": "BOV",
            "description": "Bolivian Mvdol"
          },
          {
            "name": "BRL",
            "description": "Brazilian real"
          },
          {
            "name": "BSD",
            "description": "Bahamian dollar"
          },
          {
            "name": "BTN",
            "description": "Bhutanese ngultrum"
          },
          {
            "name": "BWP",
            "description": "Botswana pula"
          },
          {
            "name": "BYR",
            "description": "Belarusian ruble"
          },
          {
            "name": "BZD",
            "description": "Belize dollar"
          },
          {
            "name": "CAD",
            "description": "Canadian dollar"
          },
          {
            "name": "CDF",
            "description": "Congolese franc"
          },
          {
            "name": "CHE",
            "description": "WIR Euro"
          },
          {
            "name": "CHF",
            "description": "Swiss franc"
          },
          {
            "name": "CHW",
            "description": "WIR Franc"
          },
          {
            "name": "CLF",
            "description": "Unidad de Fomento"
          },
          {
            "name": "CLP",
            "description": "Chilean peso"
          },
          {
            "name": "CNY",
            "description": "Chinese yuan"
          },
          {
            "name": "COP",
            "description": "Colombian peso"
          },
          {
            "name": "COU",
            "description": "Unidad de Valor Real"
          },
          {
            "name": "CRC",
            "description": "Costa Rican colon"
          },
          {
            "name": "CUC",
            "description": "Cuban convertible peso"
          },
          {
            "name": "CUP",
            "description": "Cuban peso"
          },
          {
            "name": "CVE",
            "description": "Cape Verdean escudo"
          },
          {
            "name": "CZK",
            "description": "Czech koruna"
          },
          {
            "name": "DJF",
            "description": "Djiboutian franc"
          },
          {
            "name": "DKK",
            "description": "Danish krone"
          },
          {
            "name": "DOP",
            "description": "Dominican peso"
          },
          {
            "name": "DZD",
            "description": "Algerian dinar"
          },
          {
            "name": "EGP",
            "description": "Egyptian pound"
          },
          {
            "name": "ERN",
            "description": "Eritrean nakfa"
          },
          {
            "name": "ETB",
            "description": "Ethiopian birr"
          },
          {
            "name": "EUR",
            "description": "Euro"
          },
          {
            "name": "FJD",
            "description": "Fiji dollar"
          },
          {
            "name": "FKP",
            "description": "Falkland Islands pound"
          },
          {
            "name": "GBP",
            "description": "Pound sterling"
          },
          {
            "name": "GEL",
            "description": "Georgian lari"
          },
          {
            "name": "GHS",
            "description": "Ghanaian cedi"
          },
          {
            "name": "GIP",
            "description": "Gibraltar pound"
          },
          {
            "name": "GMD",
            "description": "Gambian dalasi"
          },
          {
            "name": "GNF",
            "description": "Guinean franc"
          },
          {
            "name": "GTQ",
            "description": "Guatemalan quetzal"
          },
          {
            "name": "GYD",
            "description": "Guyanese dollar"
          },
          {
            "name": "HKD",
            "description": "Hong Kong dollar"
          },
          {
            "name": "HNL",
            "description": "Honduran lempira"
          },
          {
            "name": "HRK",
            "description": "Croatian kuna"
          },
          {
            "name": "HTG",
            "description": "Haitian gourde"
          },
          {
            "name": "HUF",
            "description": "Hungarian forint"
          },
          {
            "name": "IDR",
            "description": "Indonesian rupiah"
          },
          {
            "name": "ILS",
            "description": "Israeli new shekel"
          },
          {
            "name": "INR",
            "description": "Indian rupee"
          },
          {
            "name": "IQD",
            "description": "Iraqi dinar"
          },
          {
            "name": "IRR",
            "description": "Iranian rial"
          },
          {
            "name": "ISK",
            "description": "Icelandic króna"
          },
          {
            "name": "JMD",
            "description": "Jamaican dollar"
          },
          {
            "name": "JOD",
            "description": "Jordanian dinar"
          },
          {
            "name": "JPY",
            "description": "Japanese yen"
          },
          {
            "name": "KES",
            "description": "Kenyan shilling"
          },
          {
            "name": "KGS",
            "description": "Kyrgyzstani som"
          },
          {
            "name": "KHR",
            "description": "Cambodian riel"
          },
          {
            "name": "KMF",
            "description": "Comoro franc"
          },
          {
            "name": "KPW",
            "description": "North Korean won"
          },
          {
            "name": "KRW",
            "description": "South Korean won"
          },
          {
            "name": "KWD",
            "description": "Kuwaiti dinar"
          },
          {
            "name": "KYD",
            "description": "Cayman Islands dollar"
          },
          {
            "name": "KZT",
            "description": "Kazakhstani tenge"
          },
          {
            "name": "LAK",
            "description": "Lao kip"
          },
          {
            "name": "LBP",
            "description": "Lebanese pound"
          },
          {
            "name": "LKR",
            "description": "Sri Lankan rupee"
          },
          {
            "name": "LRD",
            "description": "Liberian dollar"
          },
          {
            "name": "LSL",
            "description": "Lesotho loti"
          },
          {
            "name": "LTL",
            "description": "Lithuanian litas"
          },
          {
            "name": "LVL",
            "description": "Latvian lats"
          },
          {
            "name": "LYD",
            "description": "Libyan dinar"
          },
          {
            "name": "MAD",
            "description": "Moroccan dirham"
          },
          {
            "name": "MDL",
            "description": "Moldovan leu"
          },
          {
            "name": "MGA",
            "description": "Malagasy ariary"
          },
          {
            "name": "MKD",
            "description": "Macedonian denar"
          },
          {
            "name": "MMK",
            "description": "Myanmar kyat"
          },
          {
            "name": "MNT",
            "description": "Mongolian tögrög"
          },
          {
            "name": "MOP",
            "description": "Macanese pataca"
          },
          {
            "name": "MRO",
            "description": "Mauritanian ouguiya"
          },
          {
            "name": "MUR",
            "description": "Mauritian rupee"
          },
          {
            "name": "MVR",
            "description": "Maldivian rufiyaa"
          },
          {
            "name": "MWK",
            "description": "Malawian kwacha"
          },
          {
            "name": "MXN",
            "description": "Mexican peso"
          },
          {
            "name": "MXV",
            "description": "Mexican Unidad de Inversion"
          },
          {
            "name": "MYR",
            "description": "Malaysian ringgit"
          },
          {
            "name": "MZN",
            "description": "Mozambican metical"
          },
          {
            "name": "NAD",
            "description": "Namibian dollar"
          },
          {
            "name": "NGN",
            "description": "Nigerian naira"
          },
          {
            "name": "NIO",
            "description": "Nicaraguan córdoba"
          },
          {
            "name": "NOK",
            "description": "Norwegian krone"
          },
          {
            "name": "NPR",
            "description": "Nepalese rupee"
          },
          {
            "name": "NZD",
            "description": "New Zealand dollar"
          },
          {
            "name": "OMR",
            "description": "Omani rial"
          },
          {
            "name": "PAB",
            "description": "Panamanian balboa"
          },
          {
            "name": "PEN",
            "description": "Peruvian sol"
          },
          {
            "name": "PGK",
            "description": "Papua New Guinean kina"
          },
          {
            "name": "PHP",
            "description": "Philippine peso"
          },
          {
            "name": "PKR",
            "description": "Pakistani rupee"
          },
          {
            "name": "PLN",
            "description": "Polish złoty"
          },
          {
            "name": "PYG",
            "description": "Paraguayan guaraní"
          },
          {
            "name": "QAR",
            "description": "Qatari riyal"
          },
          {
            "name": "RON",
            "description": "Romanian leu"
          },
          {
            "name": "RSD",
            "description": "Serbian dinar"
          },
          {
            "name": "RUB",
            "description": "Russian ruble"
          },
          {
            "name": "RWF",
            "description": "Rwandan franc"
          },
          {
            "name": "SAR",
            "description": "Saudi riyal"
          },
          {
            "name": "SBD",
            "description": "Solomon Islands dollar"
          },
          {
            "name": "SCR",
            "description": "Seychelles rupee"
          },
          {
            "name": "SDG",
            "description": "Sudanese pound"
          },
          {
            "name": "SEK",
            "description": "Swedish krona"
          },
          {
            "name": "SGD",
            "description": "Singapore dollar"
          },
          {
            "name": "SHP",
            "description": "Saint Helena pound"
          },
          {
            "name": "SLL",
            "description": "Sierra Leonean first leone"
          },
          {
            "name": "SLE",
            "description": "Sierra Leonean second leone"
          },
          {
            "name": "SOS",
            "description": "Somali shilling"
          },
          {
            "name": "SRD",
            "description": "Surinamese dollar"
          },
          {
            "name": "SSP",
            "description": "South Sudanese pound"
          },
          {
            "name": "STD",
            "description": "São Tomé and Príncipe dobra"
          },
          {
            "name": "SVC",
            "description": "Salvadoran colón"
          },
          {
            "name": "SYP",
            "description": "Syrian pound"
          },
          {
            "name": "SZL",
            "description": "Swazi lilangeni"
          },
          {
            "name": "THB",
            "description": "Thai baht"
          },
          {
            "name": "TJS",
            "description": "Tajikstani somoni"
          },
          {
            "name": "TMT",
            "description": "Turkmenistan manat"
          },
          {
            "name": "TND",
            "description": "Tunisian dinar"
          },
          {
            "name": "TOP",
            "description": "Tongan pa'anga"
          },
          {
            "name": "TRY",
            "description": "Turkish lira"
          },
          {
            "name": "TTD",
            "description": "Trinidad and Tobago dollar"
          },
          {
            "name": "TWD",
            "description": "New Taiwan dollar"
          },
          {
            "name": "TZS",
            "description": "Tanzanian shilling"
          },
          {
            "name": "UAH",
            "description": "Ukrainian hryvnia"
          },
          {
            "name": "UGX",
            "description": "Ugandan shilling"
          },
          {
            "name": "USD",
            "description": "United States dollar"
          },
          {
            "name": "USN",
            "description": "United States dollar (next day)"
          },
          {
            "name": "USS",
            "description": "United States dollar (same day)"
          },
          {
            "name": "UYI",
            "description": "Uruguay Peso en Unidedades Indexadas"
          },
          {
            "name": "UYU",
            "description": "Uruguyan peso"
          },
          {
            "name": "UZS",
            "description": "Uzbekistan som"
          },
          {
            "name": "VEF",
            "description": "Venezuelan bolívar soberano"
          },
          {
            "name": "VND",
            "description": "Vietnamese đồng"
          },
          {
            "name": "VUV",
            "description": "Vanuatu vatu"
          },
          {
            "name": "WST",
            "description": "Samoan tala"
          },
          {
            "name": "XAF",
            "description": "CFA franc BEAC"
          },
          {
            "name": "XAG",
            "description": "Silver"
          },
          {
            "name": "XAU",
            "description": "Gold"
          },
          {
            "name": "XBA",
            "description": "European Composite Unit"
          },
          {
            "name": "XBB",
            "description": "European Monetary Unit"
          },
          {
            "name": "XBC",
            "description": "European Unit of Account 9"
          },
          {
            "name": "XBD",
            "description": "European Unit of Account 17"
          },
          {
            "name": "XCD",
            "description": "East Caribbean dollar"
          },
          {
            "name": "XDR",
            "description": "Special drawing rights (International Monetary Fund)"
          },
          {
            "name": "XOF",
            "description": "CFA franc BCEAO"
          },
          {
            "name": "XPD",
            "description": "Palladium"
          },
          {
            "name": "XPF",
            "description": "CFP franc"
          },
          {
            "name": "XPT",
            "description": "Platinum"
          },
          {
            "name": "XTS",
            "description": "Code reserved for testing"
          },
          {
            "name": "XXX",
            "description": "No currency"
          },
          {
            "name": "YER",
            "description": "Yemeni rial"
          },
          {
            "name": "ZAR",
            "description": "South African rand"
          },
          {
            "name": "ZMK",
            "description": "Zambian kwacha"
          },
          {
            "name": "ZMW",
            "description": "Zambian kwacha"
          },
          {
            "name": "BTC",
            "description": "Bitcoin"
          },
          {
            "name": "XUS",
            "description": "USD Coin"
          }
        ],
        "description": "Indicates the associated currency for an amount of money. Values correspond\nto [ISO 4217](https://wikipedia.org/wiki/ISO_4217).",
        "x-release-status": "PUBLIC"
      },
      "Country": {
        "type": "string",
        "enum": [
          "ZZ",
          "AD",
          "AE",
          "AF",
          "AG",
          "AI",
          "AL",
          "AM",
          "AO",
          "AQ",
          "AR",
          "AS",
          "AT",
          "AU",
          "AW",
          "AX",
          "AZ",
          "BA",
          "BB",
          "BD",
          "BE",
          "BF",
          "BG",
          "BH",
          "BI",
          "BJ",
          "BL",
          "BM",
          "BN",
          "BO",
          "BQ",
          "BR",
          "BS",
          "BT",
          "BV",
          "BW",
          "BY",
          "BZ",
          "CA",
          "CC",
          "CD",
          "CF",
          "CG",
          "CH",
          "CI",
          "CK",
          "CL",
          "CM",
          "CN",
          "CO",
          "CR",
          "CU",
          "CV",
          "CW",
          "CX",
          "CY",
          "CZ",
          "DE",
          "DJ",
          "DK",
          "DM",
          "DO",
          "DZ",
          "EC",
          "EE",
          "EG",
          "EH",
          "ER",
          "ES",
          "ET",
          "FI",
          "FJ",
          "FK",
          "FM",
          "FO",
          "FR",
          "GA",
          "GB",
          "GD",
          "GE",
          "GF",
          "GG",
          "GH",
          "GI",
          "GL",
          "GM",
          "GN",
          "GP",
          "GQ",
          "GR",
          "GS",
          "GT",
          "GU",
          "GW",
          "GY",
          "HK",
          "HM",
          "HN",
          "HR",
          "HT",
          "HU",
          "ID",
          "IE",
          "IL",
          "IM",
          "IN",
          "IO",
          "IQ",
          "IR",
          "IS",
          "IT",
          "JE",
          "JM",
          "JO",
          "JP",
          "KE",
          "KG",
          "KH",
          "KI",
          "KM",
          "KN",
          "KP",
          "KR",
          "KW",
          "KY",
          "KZ",
          "LA",
          "LB",
          "LC",
          "LI",
          "LK",
          "LR",
          "LS",
          "LT",
          "LU",
          "LV",
          "LY",
          "MA",
          "MC",
          "MD",
          "ME",
          "MF",
          "MG",
          "MH",
          "MK",
          "ML",
          "MM",
          "MN",
          "MO",
          "MP",
          "MQ",
          "MR",
          "MS",
          "MT",
          "MU",
          "MV",
          "MW",
          "MX",
          "MY",
          "MZ",
          "NA",
          "NC",
          "NE",
          "NF",
          "NG",
          "NI",
          "NL",
          "NO",
          "NP",
          "NR",
          "NU",
          "NZ",
          "OM",
          "PA",
          "PE",
          "PF",
          "PG",
          "PH",
          "PK",
          "PL",
          "PM",
          "PN",
          "PR",
          "PS",
          "PT",
          "PW",
          "PY",
          "QA",
          "RE",
          "RO",
          "RS",
          "RU",
          "RW",
          "SA",
          "SB",
          "SC",
          "SD",
          "SE",
          "SG",
          "SH",
          "SI",
          "SJ",
          "SK",
          "SL",
          "SM",
          "SN",
          "SO",
          "SR",
          "SS",
          "ST",
          "SV",
          "SX",
          "SY",
          "SZ",
          "TC",
          "TD",
          "TF",
          "TG",
          "TH",
          "TJ",
          "TK",
          "TL",
          "TM",
          "TN",
          "TO",
          "TR",
          "TT",
          "TV",
          "TW",
          "TZ",
          "UA",
          "UG",
          "UM",
          "US",
          "UY",
          "UZ",
          "VA",
          "VC",
          "VE",
          "VG",
          "VI",
          "VN",
          "VU",
          "WF",
          "WS",
          "YE",
          "YT",
          "ZA",
          "ZM",
          "ZW"
        ],
        "x-enum-elements": [
          {
            "name": "ZZ",
            "description": "Unknown"
          },
          {
            "name": "AD",
            "description": "Andorra"
          },
          {
            "name": "AE",
            "description": "United Arab Emirates"
          },
          {
            "name": "AF",
            "description": "Afghanistan"
          },
          {
            "name": "AG",
            "description": "Antigua and Barbuda"
          },
          {
            "name": "AI",
            "description": "Anguilla"
          },
          {
            "name": "AL",
            "description": "Albania"
          },
          {
            "name": "AM",
            "description": "Armenia"
          },
          {
            "name": "AO",
            "description": "Angola"
          },
          {
            "name": "AQ",
            "description": "Antartica"
          },
          {
            "name": "AR",
            "description": "Argentina"
          },
          {
            "name": "AS",
            "description": "American Samoa"
          },
          {
            "name": "AT",
            "description": "Austria"
          },
          {
            "name": "AU",
            "description": "Australia"
          },
          {
            "name": "AW",
            "description": "Aruba"
          },
          {
            "name": "AX",
            "description": "Åland Islands"
          },
          {
            "name": "AZ",
            "description": "Azerbaijan"
          },
          {
            "name": "BA",
            "description": "Bosnia and Herzegovina"
          },
          {
            "name": "BB",
            "description": "Barbados"
          },
          {
            "name": "BD",
            "description": "Bangladesh"
          },
          {
            "name": "BE",
            "description": "Belgium"
          },
          {
            "name": "BF",
            "description": "Burkina Faso"
          },
          {
            "name": "BG",
            "description": "Bulgaria"
          },
          {
            "name": "BH",
            "description": "Bahrain"
          },
          {
[...]
