{
  "openapi": "3.0.0",
  "info": {
    "title": "Stripe API (curated)",
    "version": "2026-08-26.dahlia",
    "description": "Curated subset (6 operations: create checkout session, create payment link, create/get customer, create refund, get payment intent) extracted verbatim from Stripe's real published OpenAPI document at https://raw.githubusercontent.com/stripe/openapi/master/openapi/spec3.json. 31 \"expandable resource\" anyOf unions (customer, latest_charge, ...) were collapsed to their plain-string-id branch, which is what these operations return by default without expand[]; 87 other oneOf/anyOf unions (next_action, payment_method_options, ...) were stubbed to a plain object because our deterministic parser does not resolve unions — see this script's header comment. 4 nested schema(s) beyond depth 4 were also stubbed (x-integrelli-truncated): discount_source, payment_flows_private_payment_methods_card_present_common_wallet, currency_option, price_tier. Webhook event payloads (payment_intent.succeeded, checkout.session.completed) are NOT included: spec3.json has no `webhooks` section (confirmed against the live document — Stripe does not publish per-event-type OpenAPI schemas here), so those two capabilities stay hand-modeled from Stripe's Event object documentation in this file's sibling webhook block, added by hand below."
  },
  "servers": [
    {
      "url": "https://api.stripe.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/checkout/sessions": {
      "post": {
        "description": "<p>Creates a Checkout Session object.</p>",
        "operationId": "PostCheckoutSessions",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {
                "adaptive_pricing": {
                  "explode": true,
                  "style": "deepObject"
                },
                "after_expiration": {
                  "explode": true,
                  "style": "deepObject"
                },
                "automatic_tax": {
                  "explode": true,
                  "style": "deepObject"
                },
                "branding_settings": {
                  "explode": true,
                  "style": "deepObject"
                },
                "consent_collection": {
                  "explode": true,
                  "style": "deepObject"
                },
                "custom_fields": {
                  "explode": true,
                  "style": "deepObject"
                },
                "custom_text": {
                  "explode": true,
                  "style": "deepObject"
                },
                "customer_update": {
                  "explode": true,
                  "style": "deepObject"
                },
                "discounts": {
                  "explode": true,
                  "style": "deepObject"
                },
                "excluded_payment_method_types": {
                  "explode": true,
                  "style": "deepObject"
                },
                "expand": {
                  "explode": true,
                  "style": "deepObject"
                },
                "invoice_creation": {
                  "explode": true,
                  "style": "deepObject"
                },
                "line_items": {
                  "explode": true,
                  "style": "deepObject"
                },
                "managed_payments": {
                  "explode": true,
                  "style": "deepObject"
                },
                "metadata": {
                  "explode": true,
                  "style": "deepObject"
                },
                "name_collection": {
                  "explode": true,
                  "style": "deepObject"
                },
                "optional_items": {
                  "explode": true,
                  "style": "deepObject"
                },
                "payment_intent_data": {
                  "explode": true,
                  "style": "deepObject"
                },
                "payment_method_data": {
                  "explode": true,
                  "style": "deepObject"
                },
                "payment_method_options": {
                  "explode": true,
                  "style": "deepObject"
                },
                "payment_method_types": {
                  "explode": true,
                  "style": "deepObject"
                },
                "permissions": {
                  "explode": true,
                  "style": "deepObject"
                },
                "phone_number_collection": {
                  "explode": true,
                  "style": "deepObject"
                },
                "saved_payment_method_options": {
                  "explode": true,
                  "style": "deepObject"
                },
                "setup_intent_data": {
                  "explode": true,
                  "style": "deepObject"
                },
                "shipping_address_collection": {
                  "explode": true,
                  "style": "deepObject"
                },
                "shipping_options": {
                  "explode": true,
                  "style": "deepObject"
                },
                "subscription_data": {
                  "explode": true,
                  "style": "deepObject"
                },
                "tax_id_collection": {
                  "explode": true,
                  "style": "deepObject"
                },
                "wallet_options": {
                  "explode": true,
                  "style": "deepObject"
                }
              },
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "adaptive_pricing": {
                    "description": "Settings for price localization with [Adaptive Pricing](https://docs.stripe.com/payments/checkout/adaptive-pricing).",
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      }
                    },
                    "title": "adaptive_pricing_params",
                    "type": "object"
                  },
                  "after_expiration": {
                    "description": "Configure actions after a Checkout Session has expired. You can't set this parameter if `ui_mode` is `elements`.",
                    "properties": {
                      "recovery": {
                        "properties": {
                          "allow_promotion_codes": {
                            "type": "boolean"
                          },
                          "enabled": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "enabled"
                        ],
                        "title": "recovery_params",
                        "type": "object"
                      }
                    },
                    "title": "after_expiration_params",
                    "type": "object"
                  },
                  "allow_promotion_codes": {
                    "description": "Enables user redeemable promotion codes.",
                    "type": "boolean"
                  },
                  "automatic_tax": {
                    "description": "Settings for automatic tax lookup for this session and resulting payments, invoices, and subscriptions.",
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "liability": {
                        "properties": {
                          "account": {
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "account",
                              "self"
                            ],
                            "type": "string",
                            "x-stripeBypassValidation": true
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "title": "param",
                        "type": "object"
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "title": "automatic_tax_params",
                    "type": "object"
                  },
                  "billing_address_collection": {
                    "description": "Specify whether Checkout should collect the customer's billing address. Defaults to `auto`.",
                    "enum": [
                      "auto",
                      "required"
                    ],
                    "type": "string"
                  },
                  "branding_settings": {
                    "description": "The branding settings for the Checkout Session. This parameter is not allowed if ui_mode is `elements`.",
                    "properties": {
                      "background_color": {
                        "type": "object",
                        "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                        "x-integrelli-truncated": true
                      },
                      "border_style": {
                        "enum": [
                          "",
                          "pill",
                          "rectangular",
                          "rounded"
                        ],
                        "type": "string"
                      },
                      "button_color": {
                        "type": "object",
                        "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                        "x-integrelli-truncated": true
                      },
                      "display_name": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "font_family": {
                        "enum": [
                          "",
                          "be_vietnam_pro",
                          "bitter",
                          "chakra_petch",
                          "default",
                          "hahmlet",
                          "inconsolata",
                          "inter",
                          "lato",
                          "lora",
                          "m_plus_1_code",
                          "montserrat",
                          "noto_sans",
                          "noto_sans_jp",
                          "noto_serif",
                          "nunito",
                          "open_sans",
                          "pridi",
                          "pt_sans",
                          "pt_serif",
                          "raleway",
                          "roboto",
                          "roboto_slab",
                          "source_sans_pro",
                          "titillium_web",
                          "ubuntu_mono",
                          "zen_maru_gothic"
                        ],
                        "type": "string"
                      },
                      "icon": {
                        "properties": {
                          "file": {
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "file",
                              "url"
                            ],
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "title": "icon_params",
                        "type": "object"
                      },
                      "logo": {
                        "properties": {
                          "file": {
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "file",
                              "url"
                            ],
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "title": "logo_params",
                        "type": "object"
                      }
                    },
                    "title": "branding_settings_params",
                    "type": "object"
                  },
                  "cancel_url": {
                    "description": "If set, Checkout displays a back button and customers will be directed to this URL if they decide to cancel payment and return to your website. This parameter is not allowed if ui_mode is `embedded_page` or `elements`.",
                    "type": "string"
                  },
                  "client_reference_id": {
                    "description": "A unique string to reference the Checkout Session. This can be a\ncustomer ID, a cart ID, or similar, and can be used to reconcile the\nsession with your internal systems.",
                    "maxLength": 200,
                    "type": "string"
                  },
                  "consent_collection": {
                    "description": "Configure fields for the Checkout Session to gather active consent from customers.",
                    "properties": {
                      "payment_method_reuse_agreement": {
                        "properties": {
                          "position": {
                            "enum": [
                              "auto",
                              "hidden"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "position"
                        ],
                        "title": "payment_method_reuse_agreement_params",
                        "type": "object"
                      },
                      "promotions": {
                        "enum": [
                          "auto",
                          "none"
                        ],
                        "type": "string"
                      },
                      "terms_of_service": {
                        "enum": [
                          "none",
                          "required"
                        ],
                        "type": "string"
                      }
                    },
                    "title": "consent_collection_params",
                    "type": "object"
                  },
                  "currency": {
                    "description": "Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies). Required in `setup` mode when `payment_method_types` is not set.",
                    "format": "currency",
                    "type": "string"
                  },
                  "custom_fields": {
                    "description": "Collect additional information from your customer using custom fields. Up to 3 fields are supported. You can't set this parameter if `ui_mode` is `custom`.",
                    "items": {
                      "properties": {
                        "dropdown": {
                          "properties": {
                            "default_value": {
                              "maxLength": 100,
                              "type": "string"
                            },
                            "options": {
                              "items": {
                                "properties": {
                                  "label": {
                                    "maxLength": 100,
                                    "type": "string"
                                  },
                                  "value": {
                                    "maxLength": 100,
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "label",
                                  "value"
                                ],
                                "title": "custom_field_option_param",
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "required": [
                            "options"
                          ],
                          "title": "custom_field_dropdown_param",
                          "type": "object"
                        },
                        "key": {
                          "maxLength": 200,
                          "type": "string"
                        },
                        "label": {
                          "properties": {
                            "custom": {
                              "maxLength": 50,
                              "type": "string"
                            },
                            "type": {
                              "enum": [
                                "custom"
                              ],
                              "type": "string"
                            }
                          },
                          "required": [
                            "custom",
                            "type"
                          ],
                          "title": "custom_field_label_param",
                          "type": "object"
                        },
                        "numeric": {
                          "properties": {
                            "default_value": {
                              "maxLength": 255,
                              "type": "string"
                            },
                            "maximum_length": {
                              "type": "integer"
                            },
                            "minimum_length": {
                              "type": "integer"
                            }
                          },
                          "title": "custom_field_numeric_param",
                          "type": "object"
                        },
                        "optional": {
                          "type": "boolean"
                        },
                        "text": {
                          "properties": {
                            "default_value": {
                              "maxLength": 255,
                              "type": "string"
                            },
                            "maximum_length": {
                              "type": "integer"
                            },
                            "minimum_length": {
                              "type": "integer"
                            }
                          },
                          "title": "custom_field_text_param",
                          "type": "object"
                        },
                        "type": {
                          "enum": [
                            "dropdown",
                            "numeric",
                            "text"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "type"
                      ],
                      "title": "custom_field_param",
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "custom_text": {
                    "description": "Display additional text for your customers using custom text. You can't set this parameter if `ui_mode` is `custom`.",
                    "properties": {
                      "after_submit": {
                        "type": "object",
                        "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                        "x-integrelli-truncated": true
                      },
                      "shipping_address": {
                        "type": "object",
                        "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                        "x-integrelli-truncated": true
                      },
                      "submit": {
                        "type": "object",
                        "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                        "x-integrelli-truncated": true
                      },
                      "terms_of_service_acceptance": {
                        "type": "object",
                        "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                        "x-integrelli-truncated": true
                      }
                    },
                    "title": "custom_text_param",
                    "type": "object"
                  },
                  "customer": {
                    "description": "ID of an existing Customer, if one exists. In `payment` mode, the customer’s most recently saved card\npayment method will be used to prefill the email, name, card details, and billing address\non the Checkout page. In `subscription` mode, the customer’s [default payment method](https://docs.stripe.com/api/customers/update#update_customer-invoice_settings-default_payment_method)\nwill be used if it’s a card, otherwise the most recently saved card will be used. A valid billing address, billing name and billing email are required on the payment method for Checkout to prefill the customer's card details.\n\nIf the Customer already has a valid [email](https://docs.stripe.com/api/customers/object#customer_object-email) set, the email will be prefilled and not editable in Checkout.\nIf the Customer does not have a valid `email`, Checkout will set the email entered during the session on the Customer.\n\nIf blank for Checkout Sessions in `subscription` mode or with `customer_creation` set as `always` in `payment` mode, Checkout will create a new Customer object based on information provided during the payment flow.\n\nYou can set [`payment_intent_data.setup_future_usage`](https://docs.stripe.com/api/checkout/sessions/create#create_checkout_session-payment_intent_data-setup_future_usage) to have Checkout automatically attach the payment method to the Customer you pass in for future reuse.",
                    "maxLength": 5000,
                    "type": "string"
                  },
                  "customer_account": {
                    "description": "ID of an existing Account, if one exists. Has the same behavior as `customer`.",
                    "maxLength": 5000,
                    "type": "string"
                  },
                  "customer_creation": {
                    "description": "Configure whether a Checkout Session creates a [Customer](https://docs.stripe.com/api/customers) during Session confirmation.\n\nWhen a Customer is not created, you can still retrieve email, address, and other customer data entered in Checkout\nwith [customer_details](https://docs.stripe.com/api/checkout/sessions/object#checkout_session_object-customer_details).\n\nSessions that don't create Customers instead are grouped by [guest customers](https://docs.stripe.com/payments/checkout/guest-customers)\nin the Dashboard. Promotion codes limited to first time customers will return invalid for these Sessions.\n\nCan only be set in `payment` and `setup` mode.",
                    "enum": [
                      "always",
                      "if_required"
                    ],
                    "type": "string"
                  },
                  "customer_email": {
                    "description": "If provided, this value will be used when the Customer object is created.\nIf not provided, customers will be asked to enter their email address.\nUse this parameter to prefill customer data if you already have an email\non file. To access information about the customer once a session is\ncomplete, use the `customer` field.",
                    "type": "string"
                  },
                  "customer_update": {
                    "description": "Controls what fields on Customer can be updated by the Checkout Session. Can only be provided when `customer` is provided.",
                    "properties": {
                      "address": {
                        "enum": [
                          "auto",
                          "never"
                        ],
                        "type": "string",
                        "x-stripeBypassValidation": true
                      },
                      "name": {
                        "enum": [
                          "auto",
                          "never"
                        ],
                        "type": "string",
                        "x-stripeBypassValidation": true
                      },
                      "shipping": {
                        "enum": [
                          "auto",
                          "never"
                        ],
                        "type": "string",
                        "x-stripeBypassValidation": true
                      }
                    },
                    "title": "customer_update_params",
                    "type": "object"
                  },
                  "discounts": {
                    "description": "The coupon or promotion code to apply to this Session. Currently, only up to one may be specified.",
                    "items": {
                      "properties": {
                        "coupon": {
                          "maxLength": 5000,
                          "type": "string"
                        },
                        "promotion_code": {
                          "maxLength": 5000,
                          "type": "string"
                        }
                      },
                      "title": "discount_params",
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "excluded_payment_method_types": {
                    "description": "A list of the types of payment methods (e.g., `card`) that should be excluded from this Checkout Session. This should only be used when payment methods for this Checkout Session are managed through the [Stripe Dashboard](https://dashboard.stripe.com/settings/payment_methods).",
                    "items": {
                      "enum": [
                        "acss_debit",
                        "affirm",
                        "afterpay_clearpay",
                        "alipay",
                        "alma",
                        "amazon_pay",
                        "au_becs_debit",
                        "bacs_debit",
                        "bancontact",
                        "billie",
                        "bizum",
                        "blik",
                        "boleto",
                        "card",
                        "cashapp",
                        "crypto",
                        "customer_balance",
                        "eps",
                        "fpx",
                        "giropay",
                        "grabpay",
                        "ideal",
                        "kakao_pay",
                        "klarna",
                        "konbini",
                        "kr_card",
                        "mb_way",
                        "mobilepay",
                        "multibanco",
                        "naver_pay",
                        "nz_bank_account",
                        "oxxo",
                        "p24",
                        "pay_by_bank",
                        "payco",
                        "paynow",
                        "paypal",
                        "payto",
                        "pix",
                        "promptpay",
                        "revolut_pay",
                        "samsung_pay",
                        "satispay",
                        "scalapay",
                        "sepa_debit",
                        "sofort",
                        "sunbit",
                        "swish",
                        "twint",
                        "upi",
                        "us_bank_account",
                        "wechat_pay",
                        "zip"
                      ],
                      "type": "string",
                      "x-stripeBypassValidation": true
                    },
                    "type": "array"
                  },
                  "expand": {
                    "description": "Specifies which fields in the response should be expanded.",
                    "items": {
                      "maxLength": 5000,
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "expires_at": {
                    "description": "The Epoch time in seconds at which the Checkout Session will expire. It can be anywhere from 30 minutes to 24 hours after Checkout Session creation. By default, this value is 24 hours from creation.",
                    "format": "unix-time",
                    "type": "integer"
                  },
                  "integration_identifier": {
                    "description": "The integration identifier for this Checkout Session. Multiple Checkout Sessions can have the same integration identifier.",
                    "maxLength": 200,
                    "type": "string"
                  },
                  "invoice_creation": {
                    "description": "Generate a post-purchase Invoice for one-time payments.",
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "invoice_data": {
                        "properties": {
                          "account_tax_ids": {
                            "type": "object",
                            "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                            "x-integrelli-truncated": true
                          },
                          "custom_fields": {
                            "type": "object",
                            "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                            "x-integrelli-truncated": true
                          },
                          "description": {
                            "maxLength": 1500,
                            "type": "string"
                          },
                          "footer": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "issuer": {
                            "properties": {
                              "account": {
                                "type": "string"
                              },
                              "type": {
                                "enum": [
                                  "account",
                                  "self"
                                ],
                                "type": "string",
                                "x-stripeBypassValidation": true
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "title": "param",
                            "type": "object"
                          },
                          "metadata": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          },
                          "rendering_options": {
                            "type": "object",
                            "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                            "x-integrelli-truncated": true
                          }
                        },
                        "title": "invoice_data_params",
                        "type": "object"
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "title": "invoice_creation_params",
                    "type": "object"
                  },
                  "line_items": {
                    "description": "A list of items the customer is purchasing. Use this parameter to pass one-time or recurring [Prices](https://docs.stripe.com/api/prices). The parameter is required for `payment` and `subscription` mode.\n\nFor `payment` mode, there is a maximum of 100 line items, however it is recommended to consolidate line items if there are more than a few dozen.\n\nFor `subscription` mode, there is a maximum of 20 line items with recurring Prices and 20 line items with one-time Prices. Line items with one-time Prices will be on the initial invoice only.",
                    "items": {
                      "properties": {
                        "adjustable_quantity": {
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "maximum": {
                              "type": "integer"
                            },
                            "minimum": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "enabled"
                          ],
                          "title": "adjustable_quantity_params",
                          "type": "object"
                        },
                        "metadata": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "type": "object"
                        },
                        "price": {
                          "maxLength": 5000,
                          "type": "string"
                        },
                        "price_data": {
                          "properties": {
                            "currency": {
                              "format": "currency",
                              "type": "string"
                            },
                            "product": {
                              "maxLength": 5000,
                              "type": "string"
                            },
                            "product_data": {
                              "properties": {
                                "description": {
                                  "maxLength": 40000,
                                  "type": "string"
                                },
                                "images": {
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": "array"
                                },
                                "metadata": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "name": {
                                  "maxLength": 5000,
                                  "type": "string"
                                },
                                "tax_code": {
                                  "maxLength": 5000,
                                  "type": "string"
                                },
                                "unit_label": {
                                  "maxLength": 12,
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "title": "product_data",
                              "type": "object"
                            },
                            "recurring": {
                              "properties": {
                                "interval": {
                                  "enum": [
                                    "day",
                                    "month",
                                    "week",
                                    "year"
                                  ],
                                  "type": "string"
                                },
                                "interval_count": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "interval"
                              ],
                              "title": "recurring_adhoc",
                              "type": "object"
                            },
                            "tax_behavior": {
                              "enum": [
                                "exclusive",
                                "inclusive",
                                "unspecified"
                              ],
                              "type": "string"
                            },
                            "unit_amount": {
                              "type": "integer"
                            },
                            "unit_amount_decimal": {
                              "format": "decimal",
                              "type": "string"
                            }
                          },
                          "required": [
                            "currency"
                          ],
                          "title": "price_data_with_product_data",
                          "type": "object"
                        },
                        "quantity": {
                          "type": "integer"
                        },
                        "tax_rates": {
                          "items": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "title": "line_item_params",
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "locale": {
                    "description": "The IETF language tag of the locale Checkout is displayed in. If blank or `auto`, the browser's locale is used.",
                    "enum": [
                      "auto",
                      "bg",
                      "cs",
                      "da",
                      "de",
                      "el",
                      "en",
                      "en-GB",
                      "es",
                      "es-419",
                      "et",
                      "fi",
                      "fil",
                      "fr",
                      "fr-CA",
                      "hr",
                      "hu",
                      "id",
                      "it",
                      "ja",
                      "ko",
                      "lt",
                      "lv",
                      "ms",
                      "mt",
                      "nb",
                      "nl",
                      "pl",
                      "pt",
                      "pt-BR",
                      "ro",
                      "ru",
                      "sk",
                      "sl",
                      "sv",
                      "th",
                      "tr",
                      "vi",
                      "zh",
                      "zh-HK",
                      "zh-TW"
                    ],
                    "type": "string",
                    "x-stripeBypassValidation": true
                  },
                  "managed_payments": {
                    "description": "Settings for Managed Payments for this Checkout Session and resulting [PaymentIntents](/api/payment_intents/object), [Invoices](/api/invoices/object), and [Subscriptions](/api/subscriptions/object).",
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      }
                    },
                    "title": "managed_payments_params",
                    "type": "object"
                  },
                  "metadata": {
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
                    "type": "object"
                  },
                  "mode": {
                    "description": "The mode of the Checkout Session. Pass `subscription` if the Checkout Session includes at least one recurring item.",
                    "enum": [
                      "payment",
                      "setup",
                      "subscription"
                    ],
                    "type": "string"
                  },
                  "name_collection": {
                    "description": "Controls name collection settings for the session.\n\nYou can configure Checkout to collect your customers' business names, individual names, or both. Each name field can be either required or optional.\n\nIf a [Customer](https://docs.stripe.com/api/customers) is created or provided, the names can be saved to the Customer object as well.",
                    "properties": {
                      "business": {
                        "properties": {
                          "enabled": {
                            "type": "boolean"
                          },
                          "optional": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "enabled"
                        ],
                        "title": "name_collection_business_params",
                        "type": "object"
                      },
                      "individual": {
                        "properties": {
                          "enabled": {
                            "type": "boolean"
                          },
                          "optional": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "enabled"
                        ],
                        "title": "name_collection_individual_params",
                        "type": "object"
                      }
                    },
                    "title": "name_collection_params",
                    "type": "object"
                  },
                  "optional_items": {
                    "description": "A list of optional items the customer can add to their order at checkout. Use this parameter to pass one-time or recurring [Prices](https://docs.stripe.com/api/prices).\n\nThere is a maximum of 10 optional items allowed on a Checkout Session, and the existing limits on the number of line items allowed on a Checkout Session apply to the combined number of line items and optional items.\n\nFor `payment` mode, there is a maximum of 100 combined line items and optional items, however it is recommended to consolidate items if there are more than a few dozen.\n\nFor `subscription` mode, there is a maximum of 20 line items and optional items with recurring Prices and 20 line items and optional items with one-time Prices.\n\nYou can't set this parameter if `ui_mode` is `custom`.",
                    "items": {
                      "properties": {
                        "adjustable_quantity": {
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "maximum": {
                              "type": "integer"
                            },
                            "minimum": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "enabled"
                          ],
                          "title": "optional_item_adjustable_quantity_params",
                          "type": "object"
                        },
                        "price": {
                          "maxLength": 5000,
                          "type": "string"
                        },
                        "quantity": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "price",
                        "quantity"
                      ],
                      "title": "optional_item_params",
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "origin_context": {
                    "description": "Where the user is coming from. This informs the optimizations that are applied to the session. You can't set this parameter if `ui_mode` is `elements`.",
                    "enum": [
                      "mobile_app",
                      "web"
                    ],
                    "type": "string"
                  },
                  "payment_intent_data": {
                    "description": "A subset of parameters to be passed to PaymentIntent creation for Checkout Sessions in `payment` mode.",
                    "properties": {
                      "application_fee_amount": {
                        "type": "integer"
                      },
                      "capture_method": {
                        "enum": [
                          "automatic",
                          "automatic_async",
                          "manual"
                        ],
                        "type": "string"
                      },
                      "description": {
                        "maxLength": 1000,
                        "type": "string"
                      },
                      "metadata": {
                        "additionalProperties": {
                          "type": "string"
                        },
                        "type": "object"
                      },
                      "on_behalf_of": {
                        "type": "string"
                      },
                      "receipt_email": {
                        "type": "string"
                      },
                      "setup_future_usage": {
                        "enum": [
                          "off_session",
                          "on_session"
                        ],
                        "type": "string"
                      },
                      "shipping": {
                        "properties": {
                          "address": {
                            "properties": {
                              "city": {
                                "maxLength": 5000,
                                "type": "string"
                              },
                              "country": {
                                "maxLength": 5000,
                                "type": "string"
                              },
                              "line1": {
                                "maxLength": 5000,
                                "type": "string"
                              },
                              "line2": {
                                "maxLength": 5000,
                                "type": "string"
                              },
                              "postal_code": {
                                "maxLength": 5000,
                                "type": "string"
                              },
                              "state": {
                                "maxLength": 5000,
                                "type": "string"
                              }
                            },
                            "required": [
                              "line1"
                            ],
                            "title": "address",
                            "type": "object"
                          },
                          "carrier": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "name": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "phone": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "tracking_number": {
                            "maxLength": 5000,
                            "type": "string"
                          }
                        },
                        "required": [
                          "address",
                          "name"
                        ],
                        "title": "shipping",
                        "type": "object"
                      },
                      "statement_descriptor": {
                        "maxLength": 22,
                        "type": "string"
                      },
                      "statement_descriptor_suffix": {
                        "maxLength": 22,
                        "type": "string"
                      },
                      "transfer_data": {
                        "properties": {
                          "amount": {
                            "type": "integer"
                          },
                          "destination": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "destination"
                        ],
                        "title": "transfer_data_params",
                        "type": "object"
                      },
                      "transfer_group": {
                        "type": "string"
                      }
                    },
                    "title": "payment_intent_data_params",
                    "type": "object"
                  },
                  "payment_method_collection": {
                    "description": "Specify whether Checkout should collect a payment method. When set to `if_required`, Checkout will not collect a payment method when the total due for the session is 0.\nThis may occur if the Checkout Session includes a free trial or a discount.\n\nCan only be set in `subscription` mode. Defaults to `always`.\n\nIf you'd like information on how to collect a payment method outside of Checkout, read the guide on configuring [subscriptions with a free trial](https://docs.stripe.com/payments/checkout/free-trials).",
                    "enum": [
                      "always",
                      "if_required"
                    ],
                    "type": "string",
                    "x-stripeBypassValidation": true
                  },
                  "payment_method_configuration": {
                    "description": "The ID of the payment method configuration to use with this Checkout session.",
                    "maxLength": 100,
                    "type": "string"
                  },
                  "payment_method_data": {
                    "description": "This parameter allows you to set some attributes on the payment method created during a Checkout session.",
                    "properties": {
                      "allow_redisplay": {
                        "enum": [
                          "always",
                          "limited",
                          "unspecified"
                        ],
                        "type": "string"
                      }
                    },
                    "title": "payment_method_data_param",
                    "type": "object"
                  },
                  "payment_method_options": {
                    "description": "Payment-method-specific configuration.",
                    "properties": {
                      "acss_debit": {
                        "properties": {
                          "currency": {
                            "enum": [
                              "cad",
                              "usd"
                            ],
                            "type": "string"
                          },
                          "mandate_options": {
                            "properties": {
                              "custom_mandate_url": {
                                "type": "object",
                                "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                                "x-integrelli-truncated": true
                              },
                              "default_for": {
                                "items": {
                                  "enum": [
                                    "invoice",
                                    "subscription"
                                  ],
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "interval_description": {
                                "maxLength": 500,
                                "type": "string"
                              },
                              "payment_schedule": {
                                "enum": [
                                  "combined",
                                  "interval",
                                  "sporadic"
                                ],
                                "type": "string"
                              },
                              "transaction_type": {
                                "enum": [
                                  "business",
                                  "personal"
                                ],
                                "type": "string"
                              }
                            },
                            "title": "mandate_options_param",
                            "type": "object"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session",
                              "on_session"
                            ],
                            "type": "string"
                          },
                          "target_date": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "verification_method": {
                            "enum": [
                              "automatic",
                              "instant",
                              "microdeposits"
                            ],
                            "type": "string",
                            "x-stripeBypassValidation": true
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "affirm": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "afterpay_clearpay": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "alipay": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string",
                            "x-stripeBypassValidation": true
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "alma": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "amazon_pay": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "au_becs_debit": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          },
                          "target_date": {
                            "maxLength": 5000,
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "bacs_debit": {
                        "properties": {
                          "mandate_options": {
                            "properties": {
                              "reference_prefix": {
                                "type": "object",
                                "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                                "x-integrelli-truncated": true
                              }
                            },
                            "title": "payment_method_options_mandate_options_param",
                            "type": "object"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session",
                              "on_session"
                            ],
                            "type": "string"
                          },
                          "target_date": {
                            "maxLength": 5000,
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "bancontact": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string",
                            "x-stripeBypassValidation": true
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "billie": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "boleto": {
                        "properties": {
                          "expires_after_days": {
                            "type": "integer"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session",
                              "on_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "card": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "installments": {
                            "properties": {
                              "enabled": {
                                "type": "boolean"
                              }
                            },
                            "title": "installments_param",
                            "type": "object"
                          },
                          "request_extended_authorization": {
                            "enum": [
                              "if_available",
                              "never"
                            ],
                            "type": "string"
                          },
                          "request_incremental_authorization": {
                            "enum": [
                              "if_available",
                              "never"
                            ],
                            "type": "string"
                          },
                          "request_multicapture": {
                            "enum": [
                              "if_available",
                              "never"
                            ],
                            "type": "string"
                          },
                          "request_overcapture": {
                            "enum": [
                              "if_available",
                              "never"
                            ],
                            "type": "string"
                          },
                          "request_three_d_secure": {
                            "enum": [
                              "any",
                              "automatic",
                              "challenge"
                            ],
                            "type": "string",
                            "x-stripeBypassValidation": true
                          },
                          "restrictions": {
                            "properties": {
                              "brands_blocked": {
                                "items": {
                                  "enum": [
                                    "american_express",
                                    "discover_global_network",
                                    "mastercard",
                                    "visa"
                                  ],
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "funding_types_blocked": {
                                "items": {
                                  "enum": [
                                    "credit",
                                    "debit",
                                    "prepaid"
                                  ],
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "title": "restrictions_param",
                            "type": "object"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "off_session",
                              "on_session"
                            ],
                            "type": "string"
                          },
                          "statement_descriptor_suffix_kana": {
                            "maxLength": 22,
                            "type": "string"
                          },
                          "statement_descriptor_suffix_kanji": {
                            "maxLength": 17,
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "cashapp": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session",
                              "on_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "crypto": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string",
                            "x-stripeBypassValidation": true
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "customer_balance": {
                        "properties": {
                          "bank_transfer": {
                            "properties": {
                              "eu_bank_transfer": {
                                "properties": {
                                  "country": {
                                    "maxLength": 5000,
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "country"
                                ],
                                "title": "eu_bank_transfer_params",
                                "type": "object"
                              },
                              "requested_address_types": {
                                "items": {
                                  "enum": [
                                    "aba",
                                    "iban",
                                    "sepa",
                                    "sort_code",
                                    "spei",
                                    "swift",
                                    "zengin"
                                  ],
                                  "type": "string",
                                  "x-stripeBypassValidation": true
                                },
                                "type": "array"
                              },
                              "type": {
                                "enum": [
                                  "eu_bank_transfer",
                                  "gb_bank_transfer",
                                  "jp_bank_transfer",
                                  "mx_bank_transfer",
                                  "us_bank_transfer"
                                ],
                                "type": "string",
                                "x-stripeBypassValidation": true
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "title": "bank_transfer_param",
                            "type": "object"
                          },
                          "funding_type": {
                            "enum": [
                              "bank_transfer"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "demo_pay": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "eps": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "fpx": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "giropay": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "grabpay": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "ideal": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "kakao_pay": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "klarna": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          },
                          "subscriptions": {
                            "type": "object",
                            "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                            "x-integrelli-truncated": true
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "konbini": {
                        "properties": {
                          "expires_after_days": {
                            "type": "integer"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "kr_card": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "link": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "mobilepay": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "multibanco": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "naver_pay": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "oxxo": {
                        "properties": {
                          "expires_after_days": {
                            "type": "integer"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "p24": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          },
                          "tos_shown_and_accepted": {
                            "type": "boolean"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "pay_by_bank": {
                        "properties": {},
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "payco": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "paynow": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "paypal": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "",
                              "manual"
                            ],
                            "type": "string"
                          },
                          "preferred_locale": {
                            "enum": [
                              "cs-CZ",
                              "da-DK",
                              "de-AT",
                              "de-DE",
                              "de-LU",
                              "el-GR",
                              "en-GB",
                              "en-US",
                              "es-ES",
                              "fi-FI",
                              "fr-BE",
                              "fr-FR",
                              "fr-LU",
                              "hu-HU",
                              "it-IT",
                              "nl-BE",
                              "nl-NL",
                              "pl-PL",
                              "pt-PT",
                              "sk-SK",
                              "sv-SE"
                            ],
                            "type": "string",
                            "x-stripeBypassValidation": true
                          },
                          "reference": {
                            "maxLength": 127,
                            "type": "string"
                          },
                          "risk_correlation_id": {
                            "maxLength": 32,
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "",
                              "none",
                              "off_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "payto": {
                        "properties": {
                          "mandate_options": {
                            "properties": {
                              "amount": {
                                "type": "object",
                                "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                                "x-integrelli-truncated": true
                              },
                              "amount_type": {
                                "enum": [
                                  "",
                                  "fixed",
                                  "maximum"
                                ],
                                "type": "string"
                              },
                              "end_date": {
                                "type": "object",
                                "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                                "x-integrelli-truncated": true
                              },
                              "payment_schedule": {
                                "enum": [
                                  "",
                                  "adhoc",
                                  "annual",
                                  "daily",
                                  "fortnightly",
                                  "monthly",
                                  "quarterly",
                                  "semi_annual",
                                  "weekly"
                                ],
                                "type": "string"
                              },
                              "payments_per_period": {
                                "type": "object",
                                "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                                "x-integrelli-truncated": true
                              },
                              "purpose": {
                                "enum": [
                                  "",
                                  "dependant_support",
                                  "government",
                                  "loan",
                                  "mortgage",
                                  "other",
                                  "pension",
                                  "personal",
                                  "retail",
                                  "salary",
                                  "tax",
                                  "utility"
                                ],
                                "type": "string"
                              },
                              "start_date": {
                                "type": "object",
                                "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                                "x-integrelli-truncated": true
                              }
                            },
                            "title": "setup_intent_payment_method_options_mandate_options_param",
                            "type": "object"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "pix": {
                        "properties": {
                          "amount_includes_iof": {
                            "enum": [
                              "always",
                              "never"
                            ],
                            "type": "string"
                          },
                          "expires_after_seconds": {
                            "type": "integer"
                          },
                          "mandate_options": {
                            "properties": {
                              "amount": {
                                "type": "integer"
                              },
                              "amount_includes_iof": {
                                "enum": [
                                  "always",
                                  "never"
                                ],
                                "type": "string"
                              },
                              "amount_type": {
                                "enum": [
                                  "fixed",
                                  "maximum"
                                ],
                                "type": "string"
                              },
                              "currency": {
                                "format": "currency",
                                "type": "string"
                              },
                              "end_date": {
                                "maxLength": 5000,
                                "type": "string"
                              },
                              "payment_schedule": {
                                "enum": [
                                  "halfyearly",
                                  "monthly",
                                  "quarterly",
                                  "weekly",
                                  "yearly"
                                ],
                                "type": "string"
                              },
                              "reference": {
                                "maxLength": 35,
                                "type": "string"
                              },
                              "start_date": {
                                "maxLength": 5000,
                                "type": "string"
                              }
                            },
                            "title": "payment_method_options_mandate_options_param",
                            "type": "object"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "revolut_pay": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session"
                            ],
                            "type": "string",
                            "x-stripeBypassValidation": true
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "samsung_pay": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "satispay": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "scalapay": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "sepa_debit": {
                        "properties": {
                          "mandate_options": {
                            "properties": {
                              "reference_prefix": {
                                "type": "object",
                                "description": "(polymorphic field — oneOf/anyOf not resolved in this curated mirror; see upstream schema)",
                                "x-integrelli-truncated": true
                              }
                            },
                            "title": "payment_method_options_mandate_options_param",
                            "type": "object"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session",
                              "on_session"
                            ],
                            "type": "string"
                          },
                          "target_date": {
                            "maxLength": 5000,
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "sofort": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "sunbit": {
                        "properties": {
                          "capture_method": {
                            "enum": [
                              "manual"
                            ],
                            "type": "string"
                          },
                          "setup_future_usage": {
                            "enum": [
                              "none"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "swish": {
                        "properties": {
                          "reference": {
                            "maxLength": 5000,
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "twint": {
                        "properties": {
                          "setup_future_usage": {
                            "enum": [
                              "none",
                              "off_session"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "payment_method_options_param",
                        "type": "object"
                      },
                      "upi": {
                        "properties": {
                          "mandate_options": {
                            "properties": {
                              "amount": {
                                "type": "integer"
                              },
                              "amount_type": {
                                "enum": [
                                  "fixed",
                                  "maximum"
                                ],
                                "type": "string"
                              },
                              "description": {
                                "maxLength": 20,
                                "type": "string"
                              },
                              "end_date": {
                                "format": "unix-time",
                                "type": "integer"
                              }
                            },
                            "title": "payment_method_options_mandate_options_param",
                            "type": "object"
                          },
                          "setup_future_usage": {
[...]
